[2017-06-30 05:05] wasdennnoch commented on #714
@k0shk0sh Thanks, I didn't know about that. I thought there was a notification API.

?
Does the API call automatically removes
the notification? I didn't quite understand that part.

[2017-06-30 05:09] k0shk0sh commented on #714
Glad you got it :).

What I meant is, if you open the app and I made an api to retrieve notifications however there are no notification, but few seconds after, someone tag you in GitHub by right you should have a notification but then I wont know that until again you exit and renter the app.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fas

[2017-06-30 06:08] #700 closed

[2017-06-30 06:08] #708 closed

[2017-06-30 07:38] wasdennnoch commented on #714
Yeah, that would indeed not be possible to catch, I was talkig about previously happened notifications. If there is no API how do you fetch them? Parsing the website?

It still doesn't seem to show the icon even if I got a notification but whatever, the email is a good point.

Just wondering, did you consider image uploading in-app to github ot imgur? If not I can open an issue for that.

[2017-06-30 07:39] k0shk0sh commented on #714
@wasdennnoch there is a notification API but there is no push notifications,
Imgur? It exists in FastHub since three monts now :p

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-30 07:40] k0shk0sh commented on #714
@wasdennnoch
![](http://i.imgur.com/0R9JlF5.png)

![](http://i.imgur.com/o1NCE4t.png)

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-30 13:41] wasdennnoch commented on #714
@k0shk0sh Wait, there is a select button? I never noticed that lol. Thanks for the hint ^^

[2017-07-01 15:19] k0shk0sh commented on #496
this should have been closed few days ago :D . I hope I didn't close another issue instead.

[2017-07-01 15:19] #496 closed

[2017-07-01 21:09] dikiaap commented on #425
Hey guys, Does that [Cookicons](https://www.cookicons.co/) still handle this?
Just FYI, there is another community that helps design for open source like this.
[mozilla/OpenDesign](https://github.com/mozilla/OpenDesign)

cc: @elioqoshi
His works are amazing.
https://elioqoshi.me/open-source-projects-logos/
https://elioqoshi.me/mozilla-logos/

[2017-07-02 01:18] k0shk0sh commented on #425
@dikiaap yep he is on it, I'll let you know if anything

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-02 02:33] eygraber commented on #568
@k0shk0sh this started happening again (version 3.2.0).

[2017-07-02 02:34] k0shk0sh commented on #568
@eygraber nothing happened in 3.2.0 it still behaves normally. You could be more specific and tell me what is going?

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-02 02:38] eygraber commented on #568
@k0shk0sh here are the steps:

1. Open a GitHub link from chrome using FastHub
2. Press home
3. Open a GitHub link from chrome using FastHub
4. Press home
5. Open a GitHub link from an email using FastHub
6. Press back (device)
7. Get taken to the page from step 3
8. Press back (device)
9. Get taken to the page from step 1

[2017-07-02 02:42] k0shk0sh commented on #568
@eygraber well, can't you see that you doing something wrong? I mean if you open link from chrome FastHub should replace its process and be on top of it, I'm not sure how you open another chrome and maybe that's why this happen? Could you confirm that it happens from any other apps?

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.g

[2017-07-02 02:47] eygraber commented on #568
@k0shk0sh that's not the case. I just confirmed from Inbox and Gmail as well.

Obviously my example was simplified. What usually happens is I open a link from chrome, press home, and then a few hours later open a link from an email. I press back expecting to go back to the email client, but instead I go back to the link I opened a few hors earlier.

[2017-07-02 02:49] k0shk0sh commented on #568
Hmm, that's weird. How can I make a proper test on this? Wait few hours?

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-02 02:52] eygraber commented on #568
@k0shk0sh that's just my typical flow. If you follow the first repro I posted it should be instantaneous.

[2017-07-02 03:19] k0shk0sh commented on #568
@eygraber its strange, it seems Google apps starts any other app in a different process which that's why you seeing this behavior, you can try for example open a link from any other apps than Google, slack for example, you'll see that FastHub is on top and you can't back slack without pressing back from FastHub.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/ap

[2017-07-02 03:34] eygraber commented on #568
@k0shk0sh I think it's up to the app to decide if they should open the intent in a new task or not. Google probably does it that way as a best practice.

Personally, I agree with how Google does it.

[2017-07-02 03:37] eygraber commented on #568
Have you looked into [launch_mode](https://inthecheesefactory.com/blog/understand-android-activity-launchmode/en)?

[2017-07-02 04:10] k0shk0sh commented on #568
@eygraber could you elaborate on why you think Google following `best practice` ? and just not a google way of saying i'm doing my own thing? also, a link will be great.

`launch_mode` ? one instance of FastHub? I imagine how people will go nuts when they click a link or anything within the app will override their current instance.

[2017-07-02 04:42] eygraber commented on #568
@k0shk0sh I think the reason they did this is:

1. I get an email with a link to an article I want to read
2. I tap the link which opens in my browser
3. I realize the article is really long, and I want to read it later
4. I press home and go back to reading my emails

If the article blocked me from going back to my email client, I'd get pretty pissed 😎

For `launch_mode` I actually meant somethin

[2017-07-02 05:26] k0shk0sh commented on #568
PR?? :D

[2017-07-02 16:14] justadaniel opened #720 "Can't change theme"
**App Version: 3.2.0**

**OS Version: 25**

**Model: motorola-Nexus 6**

 Changing theme with premium content enabled shows dummy content.

![Screenshot](http://i.imgur.com/DVrgBGr.png)

_Sent from my Motorola Nexus 6 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-02 16:14] justadaniel opened #721 "Can't change theme"
**App Version: 3.2.0**

**OS Version: 25**

**Model: motorola-Nexus 6**

 Changing theme with premium content enabled shows dummy content.

![Screenshot](http://i.imgur.com/DVrgBGr.png)

_Sent from my Motorola Nexus 6 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-02 16:14] yakov116 commented on #721
@justadaniel did you buy the pro?

[2017-07-02 16:15] #720 closed

[2017-07-02 16:17] justadaniel commented on #720
Yeah I did.

_Sent from my Motorola Nexus 6 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-02 16:23] yakov116 commented on #721
@justadaniel what happened when you click it? did you try to restart the app?

[2017-07-02 16:24] justadaniel commented on #721
Tapped it and dummy content popped up instead of the themes view. Restarted the app and same thing. Tried pressing apply and it said manually restart the app.

_Sent from my Motorola Nexus 6 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-02 16:25] yakov116 commented on #721
@justadaniel can you try to restart the phone?

[2017-07-02 18:19] eygraber opened #722 "AS Settings Name"
The AS settings attached to the project should define a name for things like codestyle. Right now, it is "Default (1)", when it should be something like "FastHub".

[2017-07-02 19:01] justadaniel commented on #721
Restarted the phone, same thing happens. Is it a cache error?

[2017-07-02 19:42] yakov116 commented on #722
@k0shk0sh can you rename the profile name for the .jar settings file.

Right now its "default (1)". Can you rename it to "FastHub" So its easy to tell what profile one is on?

Thanks

[2017-07-02 19:43] yakov116 commented on #721
@justadaniel guess we will need to wait for @k0shk0sh to chime in.

[2017-07-02 22:57] k0shk0sh commented on #721
I couldn't get the part it shows dummy content? Could you please be more specific & also a video/screenshot descring your issue would be great.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-03 07:51] eygraber opened #726 "Private Wiki Error"
- FastHub Version: 3.2.0
 - Android Version: 7.1.2
 - Phone Model: Google Pixel

If I go to the wiki of a private repo I get an error. Looking at the logs, it's a 404.

[2017-07-03 07:54] k0shk0sh commented on #726
Please read the FAQ section in README.

[2017-07-03 07:54] #726 closed

[2017-07-03 08:05] k0shk0sh commented on #726
And yes, the answer doesn't make sense at all :D . i'll edit it later after work to make it meaningful :D

[2017-07-03 08:38] eygraber opened #728 "Pricing is treated as a user"
**App Version: 3.2.0**

**OS Version: 25**

**Model: Google-Pixel**

 Opening an https://GitHub.com/pricing link treats it as a user. It should probably redirect to the browser.

[2017-07-03 08:39] k0shk0sh commented on #728
could you add this to your PR? simply to this list https://github.com/k0shk0sh/FastHub/blob/master/app/src/main/java/com/fastaccess/provider/scheme/LinkParserHelper.java#L25

[2017-07-03 14:09] yuyang1995 opened #729 "Unsubscribe emails"
**App Version: 3.2.0**

**OS Version: 23**

**Model: ZUK-ZUK Z1**

 I have received a lot of emails from this project. I have tried to unsubscribe several times but I still received a very very large numbers of emails. Please help me.

[2017-07-03 14:10] yakov116 commented on #729
@yuyang1995 are watching this repo?

[2017-07-03 14:10] k0shk0sh commented on #729
@yakov116 thanks for being around yanki <3

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-03 15:23] yakov116 commented on #728
was this not fixed in 1c24c2b10db5d6703e55f166c7c7b77b5dd6e554 ?

[2017-07-03 16:19] poutros opened #730 "Check notifications whenever app lauches only"
**App Version: 3.2.0**

**OS Version: 25**

**Model: LGE-LG-D855**

Add an option to only check notifications when app launches.

[2017-07-03 16:20] yakov116 commented on #730
@poutros but then you have the feed. no?

[2017-07-03 16:46] poutros commented on #730
The feed and the notifications are different. My feed is filled with unimportant stuff.

[2017-07-03 16:49] poutros commented on #730
Basically, what I was thinking was to open the app and see the notification icon with the notifications. For example, fasthub didn't notify me of your comment because I have set the interval to 3 hours. I also use greenify so background processes for fasthub are stopped if the app is hibernated. When I reopen fasthub, I don't see if I have anything new because it didn't check anything.

[2017-07-03 17:07] yakov116 commented on #730
How would this help?

[2017-07-03 18:53] poutros commented on #730
Notifications tell me when someone comments on my issues.

[2017-07-03 23:07] k0shk0sh commented on #730
Why not open the notifications yourself since you already opened the app too quickly check?

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-03 23:07] #728 closed

[2017-07-03 23:28] k0shk0sh opened #732 "Assigned text is gone in debug"
**App Version: 3.2.0-debug**

**OS Version: 24**

**Model: samsung-SM-G950F**

![](http://i.imgur.com/0Ydl3Be.png)

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-03 23:52] poutros commented on #730
I can but it would save me time and I usually forget to open the notifications anyway.

[2017-07-04 00:19] yakov116 commented on #730
@poutros so what exactly should be done?

_Sent from my HTC Nexus 9 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-04 00:37] poutros commented on #730
@yakov116 What do you mean?

[2017-07-04 05:26] #732 closed

[2017-07-04 05:31] yuyang1995 commented on #729
The emails says,

View it on GitHub or mute the thread.
I have clicked `mute the thread` several times but I still received a lot of emails.

[2017-07-04 05:32] k0shk0sh commented on #729
mute the thread from where?

are you watching the repo? if so, simply click the `eye` icon in FastHub Repo and it will unsubscribe you.

[2017-07-04 05:32] #729 closed

[2017-07-04 05:33] yakov116 commented on #729
@yuyang1995 will only mute **that** issue

[2017-07-04 05:49] yuyang1995 commented on #729
Thank you very much.

[2017-07-04 08:52] k0shk0sh opened #733 "Branches/Tags pagination"

[2017-07-04 10:05] #489 closed

[2017-07-04 22:59] justadaniel commented on #721
I was just taking screenshots and just realized that the dummy content is a card you swipe. Okiedokie I feel stupid.

_Sent from my Motorola Nexus 6 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-04 23:02] #721 closed

[2017-07-05 01:07] k0shk0sh commented on #425
This issue shall be closed now with the new icon

![](http://i.imgur.com/EI8onrH.png)

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-05 01:07] k0shk0sh commented on #425
This issue shall be closed now with the new icon

![](http://i.imgur.com/EI8onrH.png)

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-05 01:07] k0shk0sh commented on #425
This issue shall be closed now with the new icon

![](http://i.imgur.com/EI8onrH.png)

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-05 01:07] #425 closed

[2017-07-05 02:21] ozyx commented on #425
@k0shk0sh it's so beautiful...

[2017-07-05 04:59] cozyplanes opened #734 "Loved it"
**App Version: 3.2.0-debug**

**OS Version: 21**

**Model: LGE-LG-F460L**

 Damn, the free dark theme is awesome!
Also the code themes.

_Sent from my LGE LG-F460L using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-05 05:01] k0shk0sh commented on #734
This should have been in slack 😛

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-05 05:01] #734 closed

[2017-07-05 05:09] cozyplanes commented on #734
Oops! Didnt knew it was going straight to the issues.

[2017-07-05 11:22] elioqoshi commented on #425
@dikiaap Thanks for the nice words! I see you have already handled this, love the new icon!

[2017-07-05 18:19] juliandavidmr opened #736 "Load Readme"
**App Version: 3.2.0**

**OS Version: 24**

**Model: motorola-Moto G (4)**

The load bar in the Readme file goes blank when the repository does not exist.

_Sent from my Motorola Moto G (4) using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-05 18:20] yakov116 commented on #736
@juliandavidmr instead of?

[2017-07-05 18:57] juliandavidmr commented on #736
Hi @yakov116 , That is to say, I propose that the bar does not continue loading but it shows a message saying that there is not yet a readme available.

[2017-07-05 19:09] yakov116 commented on #736
@juliandavidmr can you paste a link with the repo your talking about?

[2017-07-05 19:10] yakov116 commented on #736
@juliandavidmr I take that back
This is duplicate of #708

[2017-07-05 19:10] #736 closed

[2017-07-06 23:50] cozyplanes opened #738 "[FR] Switch between rendered MD and MD syntax"
**App Version: 3.2.0**

**OS Version: 21**

**Model: LGE-LG-F460L**

 There are times when i want to see the syntax of the markdown files. Can you add a simple button in the overflow menu (to switch between rendered markdown and and markdown syntax.

_Sent from my LGE LG-F460L using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-07 10:22] zvirja opened #739 "Tool crashes when PR is opened"
Open [this PR](https://github.com/AutoFixture/AutoFixture/pull/773) and try to scroll down to the bottom. In my case application crashes somewhere in the middle of the PR :(

-------

**App Version: 3.2.0**

**OS Version: 24**

**Model: Xiaomi-MI 5**

[2017-07-07 10:26] k0shk0sh commented on #739
Yeep, crashes I'll look into it once I'm on my laptop. Thanks.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-07 10:26] zvirja commented on #739
I've submitted you the Android report and added issue ID to description.

[2017-07-07 10:27] k0shk0sh commented on #739
@zvirja thanks alot & sorry for the inconvenience.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-07 10:36] zvirja commented on #739
No problem, thanks for looking into this :wink:

[2017-07-07 10:40] zvirja opened #740 "Incorrect label when PR commit is opened"
Open any PR and commit within that PR. You will see list modified files, while caption is `Commits` instead of `Files`

This is minor issue, but is pretty confusing ;-)

-------

**App Version: 3.2.0**

**OS Version: 24**

**Model: Xiaomi-MI 5**

[2017-07-07 16:05] dedepete opened #741 "Some navigation improvements"
**App Version: 3.2.0**
**OS Version: 23**
**Model: Yota Devices Limited-YD201**
___
- [ ] The selected branch should be synchronized between Files and Commits tabs.
_The thing that when I'm selecting branch in the Files tab I mean to see Commits for the selected one in another tab._
- [x] The panel with branch selection should be placed at the top in the Files tab.
_The navigation occurs through t

[2017-07-07 18:42] sschuberth commented on #496
Thanks @k0shk0sh. Mind explaining where the feature to add review summary comments and approve reviews is hidden? I was unable to find it in the UI so far.

[2017-07-07 19:08] yakov116 commented on #496
@sschuberth its in the nightly builds.

Will be in the next public release too.

[2017-07-08 05:54] k0shk0sh commented on #739
Alright, got what is the cause, `requested_team` which I didn't handle this & always thought that its `requested_reviewer` :'(  ... its fixed and will be released tomorrow hopefully.

[2017-07-08 06:23] k0shk0sh commented on #741
hey @dedepete , for the first - [ ]  I don't see it make sense, if you want to see commits when you selecting the files anyway? wouldn't selecting commits tab & changing the branch/tag would be more convenience since that made specifically for Commits?
The branch selection has move intop.(y)

[2017-07-08 06:42] #740 closed

[2017-07-08 06:42] #741 closed

[2017-07-08 06:42] #733 closed

[2017-07-08 06:42] #739 closed

[2017-07-08 06:46] #722 closed

[2017-07-08 06:54] #55 closed

[2017-07-08 06:55] #254 closed

[2017-07-08 07:24] k0shk0sh commented on #408
I guess this will be tricky, as the unread notifications has pagination, meaning, that for example, you have 40 unread notifications, first 20 items are for FastHub, 10 items for Arkon repo, 10 for FastHub, you'll end having two groups of FastHub. its tricky and therefore i'll abandon it. I hope you got what I mean.

[2017-07-08 07:24] #408 closed

[2017-07-08 12:19] dedepete commented on #741
@k0shk0sh, I meant that selecting tag/branch once for both tabs would be more convenience. For example, I have swithced to tag `3.0.0` in the Files tab and wanted to see commits for this branch, but when I'm switching to the Commits tab, the selected branch was not been updated and stayed at `master`.

[2017-07-08 12:37] k0shk0sh commented on #741
@dedepete this selection doesn't mean for the whole repo otherwise I should have put it in somewhere where it changes everything. Commit does involves two API keys one for listing & one for counting so I'll be making three api calls upon switching the branch in either tab. Best way is to keep it as user choice rather than assuming that they want to do both at the same time.

_Sent from my Samsung

[2017-07-08 18:15] smiller171 opened #742 "Inconsistent Status Bar Colors"
**App Version: 3.2.0**

**OS Version: 26**

**Model: Google-Pixel**

 In some screens with the dark blue theme you are using black status bar icons instead of white, which is difficult to read

![Status Bar unreadable](http://i.imgur.com/zjS9ocy.png)

_Sent from my Google Pixel using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-09 03:07] k0shk0sh commented on #742
There is no way that I'm having custom themes for each screen but rather a theme for overall. Could you restart the app and let me know if it worked?

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-09 03:50] smiller171 commented on #742
huh, I thought I had already rebooted, and it had at least been overnight since I opened the app, but killing the app seems to have fixed it.

[2017-07-09 03:50] #742 closed

[2017-07-09 04:52] k0shk0sh commented on #742
@smiller171 restarting app isn't required in many devices but for some devices it is really required which I guess the system UI is not updated instantly just a guess tho. But I'm glad it worked for u :). Thanks for your support.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-09 22:51] FloEdelmann opened #744 "FastHub crashes Nexus 7"
I have a very weird issue. Installed the latest version on both my phone (Motorola Moto X, Android 6.0.1, CyanogenMod 13) and my large tablet (bq Aqaris M10 FHD, Android 6.0.1, stock rooted) with no problems. Installing from Google Play Store on my old Nexus 7 (Android 5.1.1, CyanogenMod 12.1) worked. But now, every time I open my home screen (Trebuchet, default CyanogenMod launcher), it immediate

[2017-07-09 23:05] yakov116 commented on #744
@FloEdelmann we have had this issue before. It's Google services crashing

_Sent from my HTC Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-09 23:11] k0shk0sh commented on #744
Can u please follow steps in here to get me a crash report?

https://github.com/firebase/firebase-jobdispatcher-android/issues/116

As the crash report embedded into FastHub doesn't say much since this is an internal bug in the google play service.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-10 06:58] cozyplanes opened #745 "[FR] Ability to open github links in fasthub"
**App Version: 3.2.0**

**OS Version: 21**

**Model: LGE-LG-F460L**

I want to open github links in fasthub

- Browser-> go to github repo-> share-> click `open with fasthub` -> opens in fasthub

[2017-07-10 14:18] k0shk0sh commented on #745
this fixed with 6360f03986e85ccec4e9c23780dbddd2c71c0a86

[2017-07-10 14:18] #745 closed

[2017-07-11 05:41] FloEdelmann commented on #744
[bugreport-2017-07-11-07-15-55.txt](https://github.com/k0shk0sh/FastHub/files/1137802/bugreport-2017-07-11-07-15-55.txt)

[2017-07-11 06:47] FastAccess commented on #744
@FloEdelmann thank you very much, I'll be given the crash report to firebase and see what they can do about it.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-11 06:49] yakov116 commented on #744
@FastAccess thanks :)

_Sent from my HTC Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-11 06:58] FastAccess commented on #744
@yakov116 damn, now I'm confused lol. I thought I'm using my acc lol

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-12 01:25] #443 closed

[2017-07-12 03:29] k0shk0sh commented on #744
@FloEdelmann that log doesn't really show much, gonna update to `0.7.0` and push a commit right now, could you then install the debug version of FastHub from the readme nightly builds link & test it again.

[2017-07-12 15:10] k0shk0sh commented on #336
@TheClashster @ciscorucinski  isn't the `Pinned` shortcut is more suitable in this case?

In case you didn't know, this feature has been implemented awhile ago, like two months or more.

You could then create the shortcut in your launcher and access the pinned items with a click even outside of FastHub?

[2017-07-12 15:17] ciscorucinski commented on #336
Pinned shortcut. The new Android feature where you hold an app icon and a list of actions are displayed and you can jump directly into that part of the app?

In that case, yes that is great. However, my phone will not be upgraded to that version of Android that supports that feature (Note 4).

The list of pinned repositories in the Navigation View is something that all Android version will be able

[2017-07-12 15:27] k0shk0sh commented on #336
@ciscorucinski that's true, well, within the new release you'll be able to see 10 pinned items under your account (since now we will support multi accounts) which these 10 will be ordered based on the number of repos you entered as you mentioned in your previous comment. however this will behave as below:

1- Open drawer
2- Click on dropdown button (right beside your name)
3- List of pinned repos

[2017-07-12 15:28] yakov116 commented on #336
@ciscorucinski no no. I think you misunderstood him. We're talking about in the nav view.

_Sent from my Google Nexus 9 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-12 15:31] k0shk0sh commented on #336
![](http://i.imgur.com/4aPfzh3.png)

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-12 15:32] ciscorucinski commented on #336
@yakov116 no I am talking about what is shown I. The picture above. We are talking about the same thing.

[2017-07-12 15:34] yakov116 commented on #336
@ciscorucinski good. Glad we're on the same ~~page~~  Menu. LOL

_Sent from my Google Nexus 9 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-12 15:36] yakov116 commented on #336
@k0shk0sh will we be able to pin org projects?

For example https://github.com/PureNexusProject

[2017-07-12 15:45] #336 closed

[2017-07-12 15:45] k0shk0sh commented on #336
Alright, this will be in next release. (y)

[2017-07-12 15:46] ciscorucinski commented on #336
It would be better if we didn't have to click on the drop down by your name.

 - Open drawer
 - See list of 10 pinned repos

[2017-07-12 15:47] k0shk0sh commented on #336
Nope, that won't be possible, I'm with you with that, however, the drawer menu is already occupied by other items, adding more items to it, will just be bad.

[2017-07-12 15:49] k0shk0sh commented on #336
@yakov116 I don't care much about its coming from Enterprise or Orgs or from mars, as long as its a repo then you can definitely pin it :)

[2017-07-12 15:56] yakov116 commented on #336
@k0shk0sh its not a repo. Its a project that contains many repo's Github took away that functionality (of following a project) about 2 years ago. This would be a nice substitute.

[2017-07-12 23:15] MoonAntonio opened #750 "Option Spain"
**App Version: 3.2.0**

**OS Version: 24**

**Model: samsung-SM-G928F**

 In options languajes no view spain options.

[2017-07-13 01:05] k0shk0sh commented on #750
![](http://i.imgur.com/qAA0ERl.png)

It's the last language.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-13 01:05] #750 closed

[2017-07-13 10:20] k0shk0sh commented on #744
Oops, sorry about that @FloEdelmann

Could you tell me what is your Google Play service version?

[2017-07-13 10:25] FloEdelmann commented on #744
`11.0.55 (230-156917137)`, as it says in *Google Settings → Help → Version Info*

[2017-07-13 10:28] k0shk0sh commented on #744
my version is

`11.0.66 (448-156917137)` i'll try and pass that info to Firebase team as well, maybe they could do something about it which i doubt, since it will require you to at least to update your GPS.

[2017-07-13 13:52] yakov116 commented on #504
@k0shk0sh is this possible to do for this release?

_Sent from my Google Nexus 9 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-13 14:21] k0shk0sh commented on #504
nope.

[2017-07-13 20:24] TheClashster commented on #336
@k0shk0sh this is exactly what I was talking about! Great work!

[2017-07-13 20:39] yakov116 commented on #336
@TheClashster Enjoy! (and donate 😉 )

[2017-07-13 23:48] yakov116 opened #752 "[Bug] No comments are shown when loading commit from a pr"
**App Version: 3.2.0**

**OS Version: 25**

**Model: HTC-Nexus 9**

 Look at the following pictures

![](http://i.imgur.com/Kuqy2jF.png)

![](http://i.imgur.com/Tsztofq.png)

Look at the last pull request on FastHub to reproduce

_Sent from my HTC Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-14 03:18] k0shk0sh commented on #752
What is this issue? I can't understand??? You made comments in the PR and you want them to appear in commit? How is that even possible??

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-14 03:32] k0shk0sh commented on #752
I just commented either normal or on code line and everything seems to be fine, could you tell how did you comment or is there any comments actually?

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-14 03:41] yakov116 commented on #752
@k0shk0sh open this pr in GitHub and you will see.

There were comments on one of the commits, if you go to his repo and you go to the commit you will see the comments. But when you open the commit from the PR you will not see any comments

_Sent from my Google Nexus 9 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-14 03:43] yakov116 commented on #752
@k0shk0sh below is a pic of when I open the commit from his repo

![](http://i.imgur.com/wX6lMwc.png)

_Sent from my Google Nexus 9 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-14 03:50] yakov116 commented on #752
This is a pic from the pr on github

![image](https://user-images.githubusercontent.com/16872793/28197594-f3368020-6825-11e7-908f-621e10fb7e30.png)

[2017-07-14 03:50] k0shk0sh commented on #752
So did you comment in here or you commented in there? Could you elaborate?

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-14 03:52] yakov116 commented on #752
I commented on the commit in his repo

[2017-07-14 03:57] k0shk0sh commented on #752
Hmmm. 😔😔😔

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-14 06:41] k0shk0sh commented on #635
@just-Nob could you please, head to any repos & click on each tab then click on the fab button, the click search after that could you check if the search icon is working there?

[2017-07-15 06:50] Skayo commented on #712
Also show Collaborator and Contributer please!

[2017-07-15 06:55] k0shk0sh commented on #712
@Skayo not possible, as there is no way I could tell unless i make API call for each comment.

[2017-07-15 06:59] k0shk0sh commented on #478
@LeeReindeer that will require plenty of customization as well as handling pagination, but doable.

[2017-07-15 07:08] k0shk0sh commented on #478
@alekksander https://developer.github.com/v3/activity/starring/#list-repositories-being-starred

[2017-07-15 12:57] k0shk0sh commented on #567
@IzzySoft Hi izzy, any news on this? I'll be releasing new version tomorrow that officially supports 26.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-15 13:25] k0shk0sh commented on #744
I guess there is nothing I can do in here anymore :'( https://github.com/firebase/firebase-jobdispatcher-android/issues/116#issuecomment-315532971

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-15 13:25] #744 closed

[2017-07-15 15:56] IzzySoft commented on #567
I'll have to fix it manually then again. The issue was taken by Fdroid (with them detecting only then how much they are already affected themselves – so they have an interest to fix it), but <s>it's still WIP</s>. Oh, fixed a week ago. But there are some other issues preventing me from updating to that. Let me see whether I can apply that patch manually meanwhile, should be easy.

Thanks for carin

[2017-07-15 16:15] k0shk0sh commented on #567
@IzzySoft nice, thanks for the detailed info @IzzySoft .

No problem about that, you were the first to contribute to FastHub and that's something I can't forget  😉

[2017-07-15 16:28] #712 closed

[2017-07-15 16:29] #609 closed

[2017-07-15 16:30] k0shk0sh commented on #513
sorry, but I have to close this issue as its out of my league.

[2017-07-15 16:30] #513 closed

[2017-07-15 16:31] IzzySoft commented on #567
I've left the notification marked in my inbox. If the update is through, I plan to let you know. I hopefully don't miss that when everything works out fine :stuck_out_tongue_winking_eye:

[2017-07-15 16:31] #414 closed

[2017-07-15 16:32] k0shk0sh commented on #567
I'll remind you if I were free by that time :)

[2017-07-15 16:43] FloEdelmann commented on #744
Thanks anyway, maybe this is a reason to try out Lineage OS on my old device then :)

[2017-07-15 16:49] k0shk0sh commented on #744
@FloEdelmann I had Lineage nightly on my old HTC m8 which basically was the device which I developed FastHub on, I'm really sorry for this, but I simply can't know what is going nor how to fix it as it seems like internal bug than FastHub, maybe you could try disabling CM theme engine? (just a random guess).

Let me know when you upgrade and how it went with you.

[2017-07-15 20:01] iamsubhranil opened #753 "FastHub does not show submodule"
**FastHub Version:**  3.2.0

FastHub is unable to show submodule in my git repository. It is somehow showing the submodule as a file(not .gitmodules), with the information about the submodule repository, without showing the repository at the specific checkout itself. This is reproducible by going to [my repository](https://github.com/iamsubhranil/VisibilityCount/tree/pthread) and trying to view th

[2017-07-16 12:37] #753 closed

[2017-07-16 12:38] k0shk0sh commented on #753
fixed in 7b89d1ecd266015cd0bfe5ed45cf5959e18e164d

[2017-07-16 13:35] k0shk0sh commented on #567
@IzzySoft 4.0.0 is released and uploaded to releases.

[2017-07-16 13:36] eygraber opened #754 "Show number of changes in a PR"
**FastHub Version: 4.0.0**
**Android Version: 7.1.2 (SDK: 25)**
**Device Information:**
- Google
- google
- Pixel
- Account Type: GitHub

---

 GitHub shows the amount of additions and deletions for commits and PRs

![](http://i.imgur.com/xC7rg5F.png)

[2017-07-16 13:36] eygraber opened #755 "Indicate that a PR line has a comment"
**FastHub Version: 4.0.0**
**Android Version: 7.1.2 (SDK: 25)**
**Device Information:**
- Google
- google
- Pixel
- Account Type: GitHub

---

 There's no way to tell if a line has a comment on it.

[2017-07-16 13:36] k0shk0sh commented on #754
Isn't that showing in FastHub in the Commit top header? and on each file ?

[2017-07-16 13:38] k0shk0sh commented on #755
in Commits there is in the comment, there will be something like (commented on line **1** in path) in PR, there are in details screen.

[2017-07-16 13:39] eygraber commented on #755
@k0shk0sh I'm talking about during a review

[2017-07-16 13:40] k0shk0sh commented on #755
owh, you while doing the review changes? then this is valid FR.

[2017-07-16 13:44] eygraber opened #756 "Line comments on a commit in a PR"
**FastHub Version: 4.0.0**
**Android Version: 7.1.2 (SDK: 25)**
**Device Information:**
- Google
- google
- Pixel
- Account Type: GitHub

---

 If a line comment is made on a commit from the commits view in a PR, the comment should be added as a review comment on the PR.

[2017-07-16 13:45] eygraber commented on #754
@k0shk0sh good point. Didn't notice that for commits. But it isn't there for PRs

[2017-07-16 13:47] k0shk0sh commented on #756
is this how it behaves in GitHub?

why not do the comment on the file in the PR files tab?

[2017-07-16 13:48] yakov116 commented on #756
this is #752?

[2017-07-16 13:49] k0shk0sh commented on #756
@yakov116 I don't think so.

[2017-07-16 13:54] eygraber commented on #756
@k0shk0sh on desktop it does but not mobile (which drives me crazy).

If there's a very big PR that was split up by commits, I like to review it by commit.

[2017-07-16 14:08] k0shk0sh commented on #756
@eygraber sounds good, but then i'll have to cater for if the user actually wants to add it as a comment or review.

[2017-07-16 15:56] ALiangLiang opened #757 "Wrong traditional chinese"
**App Version: 3.2.0**

**OS Version: 23**

**Model: asus-ASUS_Z00ED**

 I select Tradional Chinese. But it's Simplified Chinese, not Traditional chinese.
![setting page](http://i.imgur.com/BRR6pUS.jpg)

[2017-07-16 15:57] yakov116 commented on #757
@ALiangLiang Can you update to 4.0.1 that was released about 10 min ago?

[2017-07-16 15:59] k0shk0sh commented on #757
This has been fixed in 4.0.x

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-16 16:08] ALiangLiang commented on #757
No, still wrong. I update to latest 4.0.1.
![issue page](http://i.imgur.com/s7e0Orz.jpg)

![side part](http://i.imgur.com/Q0UUDNd.jpg)

![setting page](http://i.imgur.com/4631cSG.jpg)

[2017-07-16 16:09] k0shk0sh commented on #757
@ALiangLiang please try and reselect it again. Switch to any other lang and select ur lang.

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-16 16:17] ALiangLiang commented on #757
@k0shk0sh um.....I already try. But not work. Even clear and reopen APP. Still display simplified chinses...

[2017-07-16 16:19] k0shk0sh commented on #757
@ALiangLiang you mean you didn't choose the language? Was it configured by default? Or you can still change language to English?

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-16 16:47] ALiangLiang commented on #757
@k0shk0sh I choose the "Tradional Chinese". But whole APP change to "Simplified Chinese".  BTW. I can change to English or any other language. But only traditional chinese is not true traditional

[2017-07-16 17:22] iamsubhranil commented on #753
Nicely done 👍
Just a few glitches.
1. FastHub doesn't checkout the specific version of the submodule, it directly opens the master branch.
2. Icon still not fixed. Showing submodule as type file and size 0 bytes.
P. S. : Should I open a new issue?
P. S. 2 : (off topic) I liked the previous version of branch list more!

[2017-07-16 17:27] ALiangLiang commented on #757
#658 Old bug.
![image](https://user-images.githubusercontent.com/6974496/28249792-0f3b505a-6a8f-11e7-91c7-36b14493316b.png)

[2017-07-16 18:23] IzzySoft commented on #567
Thanks! Unfortunately, the backported patch didn't catch the correct icon. Checked it: they only considered the `res/drawable*` directories, while the `ic_launcher.png` files are in `res/midmap*` (not only for FastHub, so not your fault). So I patched the patch (LOL) and hope it will work out next time. For this time, manual intervention did the job once again (for two apps today).

If you could d

[2017-07-16 18:25] yakov116 commented on #567
@IzzySoft 4.0.1 was released after 4.0.0 (about an hour apart)

[2017-07-16 18:27] Younes-L opened #758 "Default code colour palette to prettify_dark when using dark themes"
**FastHub Version: 4.0.1**
**Android Version: 7.1.1 (SDK: 25)**
**Device Information:**
- htc
- google
- Nexus 9
- Account Type: GitHub

---

 Additionally, since most palettes have their dark version, you could make it so that switching from a light to a dark theme (or vice versa) also affects the code palette.

[2017-07-16 18:31] yakov116 commented on #758
@Younes-L IMHO that whole menu has to be done :)
We started redoing it (look [here](https://github.com/k0shk0sh/FastHub-code-theme-images)) but there was too much work involved.

[2017-07-16 19:38] IzzySoft commented on #567
Yes, that was the one processed. Hm, that means I could try with 4.0.0 to see if my "patched patch" does its job? Good point.

*TestTestTest*

OK, patched the patched patch once more. Still throws a warning I cannot explain (about a valid PNG it cannot identify as such), but all icons are found fine \o/ :tada:

Mission accomplished I'd say – still waiting for the next auto-update to approve that :

[2017-07-16 20:44] MisterBianco opened #759 "Signature validation for purchases are able to be bypassed"
**FastHub Version: 4.0.1**
**Android Version: 5.1.1 (SDK: 22)**
**Device Information:**
- samsung
- samsung
- SM-N9005
- Account Type: GitHub

---

Using apps like lucky patcher and freedom, purchases are able be made for free. Implementing signature validation or some other check for purchase authenticity could be good for security of the app.

I only used this method on your app to report it if

[2017-07-16 20:47] yakov116 commented on #759
@MisterBianco Thanks for reporting!

This is an open source project and anyone can go and compile them self. I will wait for @k0shk0sh for his input, but I don't think he will go any great lengths to attempt to fix this.

Thanks for being on the lookout

[2017-07-16 20:53] MisterBianco commented on #759
Still thought it was worth reporting.
I am not 100% sure of the difficulty of protecting against this but I don't think it requires too much effort although I understand having it open source does limit security of the few purchases of the app.

Either way kudos to such a great client. :)

[2017-07-16 21:27] lucasvalenteds opened #760 "App shortcuts redesign"
The app shortcuts discussed in #260 and #312 seems not to follow the [design guideline](https://developer.android.com/guide/topics/ui/shortcuts.html) provided. It can be a little inconsistent when used in the home screen.

Do you think it is a good idea to change them to something like the images below? I can send you the icons if you need.

**Examples of other apps**
![screenshot_20170716-180827

[2017-07-16 22:07] JediBurrell commented on #760
Totally agree with this, and have been meaning to work on fixing them; I'll take this one over.

[2017-07-16 22:26] wasdennnoch commented on #759
@MisterBianco Lucky Patcher can also disable signature validation, there really is nothing good that protects against piracy reliably. And Xposed could just hook into those protections as well. Currently the only good detection would be SafetyNet but that doesn't really make sense in an app that gets used by many modders.

[2017-07-16 22:50] lucasvalenteds commented on #760
@JediBurrell [Here](https://github.com/k0shk0sh/FastHub/files/1151391/fasthub-app-shortcuts.zip) is the icons used in the sample built.

[2017-07-16 23:24] MisterBianco commented on #759
Fair enough, although I have seen apps that detect lucky patchers lvl
emulation and won't open... So it is possible but I see your point. :/

On Sun, Jul 16, 2017, 4:26 PM MrWasdennnoch <notifications@github.com>
wrote:

[2017-07-16 23:36] IzzySoft commented on #567
PS: ApkSigner reports some issues with the 4.x `.apk` files (just noticed when I tried to port my patchPatchPatch back to the latest FdroidServer code and used your APKs for testing):

<pre>
WARNING: META-INF/CHANGES not protected by signature. Unauthorized modifications to this JAR entry will not be detected. Delete or move the entry outside of META-INF/.
WARNING: META-INF/LICENSE not protected b

[2017-07-17 01:20] k0shk0sh commented on #567
The 4.0.1 apk is wrong. I'll update it after a while

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-17 01:23] k0shk0sh commented on #759
Thanks for reporting and understand your point, but as others mentioned, I think I can't do much about it, matter of fact, running the debug version of FH will have all features unlocked.
So really can't do much, the app is for developers & I'm sure they know how it feel when someone steal their beef. So its up to the community :)

_Sent from my Samsung SM-G950F using [FastHub](https://play.google

[2017-07-17 01:23] #759 closed

[2017-07-17 01:26] k0shk0sh commented on #757
@ALiangLiang hmmm, can't really get it, looking at log, the selected lang is traditional and the OS should take the traditional locales, could you please at the file and confirm if the strings are translated into traditional?

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-17 01:36] k0shk0sh commented on #753
@iamsubhranil where Am I supposed to check for the branch? I only could use the URL to parse the branch and if there isn't any branch or ref in it, then master is opened.

For icon, is a bit tricky but surely doable.

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-17 02:19] kutsan commented on #51
hello from github graphql API

[2017-07-17 03:25] k0shk0sh commented on #51
@kutsan hello graphql nice meeting you lol

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-17 03:31] yakov116 commented on #51
@kutsan was wondering where you got lost. Must somewhere in that query encoded json!

_Sent from my Google Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-17 03:32] dikiaap opened #761 "Add an option to disable tinted navigation bar"
**FastHub Version: 4.0.1**
**Android Version: 5.1 (SDK: 22)**
**Device Information:**
- Evercoss
- google
- EVERCOSS A65
- Account Type: GitHub

I'm the one who hate tinted navigation bar. Please add an option to disable it. 🙏

Edit: @k0shk0sh. Another information, in Android 5.1 the tinted navigation bar is just only on dark theme.

[2017-07-17 03:34] kutsan commented on #51
@yakov116 Surely, under the dirty GitHub API ocean. :D _now with GraphQL._

[2017-07-17 03:35] yakov116 commented on #51
@kutsan LOL

_Sent from my Google Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-17 03:35] k0shk0sh commented on #51
@kutsan @yakov116 is willing to accompany you please take him 🤣🤣🤣

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-17 03:36] yakov116 commented on #51
@k0shk0sh the reactions work in case your wondering...

_Sent from my Google Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-17 03:37] yakov116 commented on #51
@k0shk0sh I got lost in v3 they added the `accept` header, I was never accepted.

_Sent from my Google Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-17 03:38] k0shk0sh commented on #51
@yakov116 I know they do I did them hahaha. 😅😅😅

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-17 04:45] lynxhawk opened #762 "Why would app's feedback be full of my email？"
**FastHub Version: 4.0.0**
**Android Version: 6.0.1 (SDK: 23)**
**Device Information:**
- asus
- google
- Nexus 7
- Account Type: GitHub

---

It seems many feedback e-mails are forwarding to me.How can I cancel it?

[2017-07-17 04:47] k0shk0sh commented on #762
Simply click on the `eye` icon in FastHub, this is how GitHub behaves, once you watch a repo, you will be receiving stuff from it unless you specify not to.

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-17 04:47] #762 closed

[2017-07-17 05:21] Apply55gx opened #763 "Touchscreen not responding"
**FastHub Version: 4.0.1**
**Android Version: 5.1.1 (SDK: 22)**
**Device Information:**
- Sony
- Sony
- Xperia Z1
- Account Type: GitHub

---

 When you open up the app(after the process was stopped) the app doesnt responds to touchscreen interactions.
After you press the home button and open the app again everything is fixed.

[2017-07-17 05:23] k0shk0sh commented on #763
After the process has stopped does that mean the app crashes? Also can you provide more info, such as where did you install the app?

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-17 06:44] iamsubhranil commented on #753
Well you can use the json formatted submodule info file(which was previously being shown) to checkout at the specific commit of the repo. AFAIK, there was that version hash specified in the file. And GitHub always does that, i.e. checks out at the specific commit where the submodule stays in. Isn't there any API for it?

[2017-07-17 06:52] k0shk0sh commented on #753
@iamsubhranil https://github.com/iamsubhranil/C-Thread-Pool/tree/430251cb657f82c9a94d4ed72db6f5ea2e30f5d9

This is actually the url, and about reading from somewhere, I don't I want to complex things up, trying to simplify the process, if there was a ref then I had used it.

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-17 06:58] ALiangLiang commented on #757
@k0shk0sh
In arrays.xml, it's named "zh-rCN". But in res folder, really simplified chinese(zh-CN) is  in "values-zh" not "values-zh-rCN".
Im not sure is it cause yhis problem.

https://github.com/k0shk0sh/FastHub/blob/master/app/src/main/res/values/arrays.xml#137

![wrong folder name?](http://i.imgur.com/BWcmG1S.jpg)

[2017-07-17 07:15] k0shk0sh commented on #757
@ALiangLiang good point, let me try it out.

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-17 07:21] ALiangLiang commented on #757
I also mapping the sidebar string between simplified and traditional.
Simplified(zh-rCN) Traditional(zh-rTW) stringID
主页 首頁 home
概况 個人檔案 profile
组织 組織 organization
通知 通知 notifications (same chars)
书签 釘選 pin
趋势 趨勢 trending
设置 設定 setting
关于 關於 ablout

![zh-CN sidebar](https://camo.githubusercontent.com/d54f59011fc0458273b6951d5c2246efe5e940a1/687474703a2f2f692e696d6775722e636f6d2f51305555444e642e6a7

[2017-07-17 07:55] cozyplanes opened #764 "Screen flickering issue in README"
**FastHub Version: 4.0.1**
**Android Version: 5.0.1 (SDK: 21)**
**Device Information:**
- LGE
- lge
- LG-F460L
- Account Type: GitHub

---

 When scrolling in readme ( especially long one, and especially the very top ) the screen flickers. ( i have no idea how to explain this though, just flickers like crazy )

_Sent from my Lge LG-F460L using [FastHub](https://play.google.com/store/apps/details?i

[2017-07-17 07:56] k0shk0sh commented on #764
you said it yourself, long readme, its more of Android `WebView` than FastHub, its known issue in WebView and it was never been fixed.

[2017-07-17 07:56] #764 closed

[2017-07-17 07:57] k0shk0sh commented on #764
als i'm curious to know which readme, can you point me to it.

[2017-07-17 07:59] cozyplanes commented on #764
Any long one, like fasthub

_Sent from my Lge LG-F460L using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-17 08:00] k0shk0sh commented on #764
with FastHub never had a problem, maybe its your device webview version problem

[2017-07-17 08:18] k0shk0sh commented on #757
This is how I fixed that 😖

[code]

since I couldn't really understand why Android doesn't take  even tho the debug says the locale value is `zh-rTW`.

[2017-07-17 09:20] NeoChontrix commented on #763
Nope the app didn't crash. If you open the app while it is not running in the background already it will not respond to any interactions until you go back to home/other app and open it again.

I got the app from the Github release page.

[2017-07-17 09:22] k0shk0sh commented on #763
Hmm,  I guess I know why, and already fixed that `hopefully` . could you guys tell me from where you installed the app? Playstore or somewhere else?

[2017-07-17 09:24] k0shk0sh commented on #763
@NeoChontrix I assume you don't have google play service? Am I right?

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-17 09:26] NeoChontrix commented on #763
Yep no google stuff

[2017-07-17 09:28] k0shk0sh commented on #763
@NeoChontrix well yep, that ensures my assumption and have made a fix for it, if you don't mind, I could send u a test apk, to test it out. You could pass me ur email and I'll send it right away

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-17 09:29] NeoChontrix commented on #763
johnz@posteo.net

[2017-07-17 09:34] k0shk0sh commented on #763
@NeoChontrix Please check your email

[2017-07-17 09:40] NeoChontrix commented on #763
@k0shk0sh this version does hang in the splash screen...

[2017-07-17 09:40] k0shk0sh commented on #763
dang, one minute

[2017-07-17 09:44] k0shk0sh commented on #763
building new one & sending to your email :'(

[2017-07-17 09:48] k0shk0sh commented on #763
@NeoChontrix please check ur email.

[2017-07-17 09:50] NeoChontrix commented on #763
@k0shk0sh thx, works fine now

_Sent from my ZUK Z2 Plus using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-17 09:50] Apply55gx commented on #763
@k0shk0sh I installed it also from Github

[2017-07-17 09:51] k0shk0sh commented on #763
nice :D . alright then,  it will be in next release

[2017-07-17 09:52] Apply55gx commented on #763
Cool😀

[2017-07-17 09:52] #763 closed

[2017-07-17 09:53] k0shk0sh commented on #763
sorry for the inconvenience caused :)

[2017-07-17 09:57] Apply55gx opened #765 "App hangs when trying to buy/donate without Google play services."
**FastHub Version: 4.0.1**
**Android Version: 5.1.1 (SDK: 22)**
**Device Information:**
- Sony
- Sony
- Xperia Z1
- Account Type: GitHub

---

 When I click a buy/donate button the app hangs and can't be used until restart.

I think this is because I dont have google play services installed.

[2017-07-17 09:57] #757 closed

[2017-07-17 09:57] #761 closed

[2017-07-17 09:59] k0shk0sh commented on #765
yep & I don't know what should I do about it ;D, I mean to be fair for all tho, by right I shouldn't unlock them if I detected no Google Play service, and also I don't know of any other alternatives for IAP, so i'll really need to know more about this scenario.

[2017-07-17 10:00] k0shk0sh commented on #765
P.S: in Debug, the features can be easily unlocked, just by tapping unlock, but the debug version really meant for testers and not production users.

[2017-07-17 10:08] k0shk0sh commented on #758
in a second thought, this will be plenty of work to do, i'll have to restructure 81 themes and convert them to an object, where i have manually go to each theme and decide that this is a light them or dark theme and will have to fall to something else if its dark/light,

In a second thought, its more to the user and not the developer to choose the theme, by default there are two themes which will

[2017-07-17 10:08] #758 closed

[2017-07-17 13:02] Apply55gx commented on #765
I thought maybe you could do it so it just shows a message that Google Play services are needed for this or something like that. ;)

[2017-07-17 15:37] k0shk0sh commented on #744
@FloEdelmann I hope you didn't yet install Lineage OS, I have just cloned Firebase job dispatcher, made some slight changes on it to avoid the crash and hopefully it will work, can you please let me know your email to send you a test apk?

[2017-07-17 15:52] #730 closed

[2017-07-17 16:01] #765 closed

[2017-07-17 16:02] k0shk0sh commented on #760
mistakenly closed this instead of another.

[2017-07-17 17:06] #760 closed

[2017-07-17 18:06] FloEdelmann commented on #744
I didn't – currently I don't have the time to tackle projects this big 😉

My email is florian-edelmann@online.de. Let's hope that I can install it without the package installer crashing...

[2017-07-17 20:07] lucasvalenteds commented on #760
@k0shk0sh In the commit c04f074 the pull request icon is the same of Github icon. You can see it [Here](https://github.com/k0shk0sh/FastHub/commit/c04f074e8190f56a2b24721373a488ccb02a2efb#diff-9b34277f085558ff5dd07cb2e237718c).

[2017-07-18 04:16] yakov116 commented on #760
@k0shk0sh :)

On Mon, Jul 17, 2017 at 4:07 PM, Lucas <notifications@github.com> wrote:

--
Yakov Tzvi Kantor
845-659-2626

[2017-07-18 05:19] yakov116 opened #773 "[FR] Add copy to URL in commits and pr's"
**FastHub Version: 4.0.2-debug**
**Android Version: 7.1.2 (SDK: 25)**
**Device Information:**
- MANUFACTURER: HTC
- BRAND: google
- MODEL: Nexus 9
---

 Add copy url's to the above

_Sent from my Google Nexus 9 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-18 05:30] yakov116 commented on #773
@k0shk0sh

[2017-07-18 06:14] k0shk0sh commented on #744
@FloEdelmann can you install 4.0.2 from PlayStore? Hopefully it will fix your issue. I really hope so

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-18 06:16] k0shk0sh commented on #760
@lucasvalenteds this been fixed and released, update to 4.0.2 and let me know :)

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-18 07:21] lucasvalenteds commented on #760
@k0shk0sh The commit f0b95c3 (release 4.0.2) fixed the wrong pull request icon. It's much better than it was.

If you want to increase consistency even more and follow the guideline, you can set the icon background to color `#F5F5F5` instead of `#FFFFFF`. Also, maybe you can use a XML version instead of PNG in multiple sizes. A package with the icons in XML and SVG is in the comments. :+1:

![app-

[2017-07-18 07:24] k0shk0sh commented on #760
@lucasvalenteds I didn't see that otherwise I had used svg instead, I really want to stay away from pngs 🤣. Thansk I'll have at them when I get on my laptop, maybe you could submit this as a PR? At least you get the credits ;)

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-18 07:46] FloEdelmann commented on #744
I have tried both the version from the play store and the latest debug version (at the same time, uninstalling the debug version also crashes) and unfortunately, the issues persist.

[2017-07-18 08:33] lucasvalenteds commented on #760
@k0shk0sh Sure. I can send a PR if you want.

[2017-07-18 10:57] cdysthe opened #775 "[FR] Setting custom notification sound."
It would be helpful with an option to set a custom notification sound to be able to identify FastHub notifications sonically.

_Sent from my BLU Life One X2 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-18 11:04] yakov116 commented on #775
@cdysthe if I am not mistaken this has been requested before and there is no simple way how to do this.

Thanks for your feedbac!

[2017-07-18 11:07] k0shk0sh commented on #775
@yakov116 , yep it has been requested before, @JediBurrell actually did that, but I guess he forgot to add the sound picker, lets see if Jedi, still interested on taking this.

[2017-07-18 11:18] k0shk0sh commented on #744
@FloEdelmann i'm reworking on the firebase library, i'll email you a build once I'm done, this thing has to be done unless if really really there is no way :D

[2017-07-18 13:39] yakov116 commented on #773
@k0shk0sh plase all copy SHA too thanks

[2017-07-18 19:23] totallyhuman opened #777 "Python multi-line string syntax highlighting"
**FastHub Version: 4.0.1**
**Android Version: 7.1.1 (SDK: 25)**
**Device Information:**
- OnePlus
- OnePlus
- ONEPLUS A3000
- Account Type: GitHub

---

Python has multi-line strings denoted by `"""text"""`. However, the syntax highlighting does not parse this correctly:

![](http://i.imgur.com/2FfzkhA.png)

Any love for the Pythons? :D

[2017-07-19 06:06] NIPE-SYSTEMS opened #779 "Graphics-Bug: Buttonbar is transparent"
**FastHub Version: 4.0.2**
**Android Version: 7.1.2 (SDK: 25)**
**Device Information:**
- MANUFACTURER: LGE
- BRAND: google
- MODEL: Nexus 5X
---

Hi,

on my device the buttonbar of Android (back, home, recent apps) is transparent. The app background is white and so is the buttonbar. But the buttons are also white which means that I have white buttons on white background... This happens on nearly

[2017-07-19 06:10] k0shk0sh commented on #779
Go to settings/customization/disable navbar tinting, restart app and you should be good to go.

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-19 06:11] #779 closed

[2017-07-19 06:15] NIPE-SYSTEMS commented on #779
Thanks for the fast answer! It is fixed for me now!

What is the feature/idea behind that tinting? It is enabled by default, I guess, but decreases usability (on my device)?

[2017-07-19 06:18] k0shk0sh commented on #779
The light theme slipped and shouldn't be tinted. I have fixed it and should be dark by default next version

![](http://i.imgur.com/7XijPxF.png)

![](http://i.imgur.com/sclVYWO.png)

![](http://i.imgur.com/fLTUMNZ.png)

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-19 06:19] k0shk0sh commented on #779
![](http://i.imgur.com/yYfXSiI.png)

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-19 06:21] NIPE-SYSTEMS commented on #779
Sounds great! Looking forward to this version. Thanks! 👍

[2017-07-19 16:49] repsorp opened #780 "Latest version 4.0.2 doesn't work here..."
stuck on logo after launch

nexus 5x
android 7.1.2

[2017-07-19 16:51] yakov116 commented on #780
@repsorp You don't have google play services? This will be fixed.
Please uninstall and go back to 4.0.1

[2017-07-19 16:56] repsorp commented on #780
Ok
Done
Thanks

[2017-07-19 16:57] yakov116 commented on #780
@repsorp Sorry we attempted to fix something and we broke another.

[2017-07-19 16:57] #780 closed

[2017-07-19 23:34] k0shk0sh commented on #780
Matter of fact 4.0.2 has the fix for Google Play Service and 4.0.1 shouldn't actually

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-19 23:49] k0shk0sh commented on #780
@yakov116 no we e didn't, it worked fine on all the other devices that don't have google play service, so I'm not really sure what's up with his phone.

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-20 00:07] k0shk0sh commented on #777
@totallyhuman thanks for reporting this, I don't I'll be able to fix this as this is a plug-in bug and not really FastHub. The better place to report this would be  `highlightjs`

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-20 00:10] #777 closed

[2017-07-20 00:15] totallyhuman commented on #777
Ok, thanks for letting me know. FYI, this only occurred a few updates ago. Did you happen to change the plug-in used?

[2017-07-20 00:18] k0shk0sh commented on #777
@totallyhuman yep I did, I was using Google prettify, but let it go as it wasn't really working properly on some other languages. That's the beauty of fragmentation, you fix something for some, it breaks for some others 😅

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-20 06:33] eygraber opened #781 "Scroll bar placement"
**FastHub Version: 4.0.3**
**Android Version: 7.1.2 (SDK: 25)**
**Device Information:**
- MANUFACTURER: Google
- BRAND: google
- MODEL: Pixel
---

 When scrolling through an issue, the scroll bar doesn't always start at the top and end at the bottom.

![Top](http://i.imgur.com/UNTPiNx.png)

![Bottom](http://i.imgur.com/f3l23C5.png)

[2017-07-20 06:35] k0shk0sh commented on #781
Yep, i'm aware of that, had few complains about it being flickering even tho I can't do anything about it since I don't know the actual size of the row & that list has multiple types, so the argument end up on fixing the scroller size, plus I have added some top/bottom paddings to it to at least don't look ugly but tbh, its still ugly af and don't like it.

[2017-07-20 06:40] k0shk0sh commented on #780
@repsorp  please update to 4.0.3 which has more workarounds around your case, the penalty, is 10 seconds of waiting tho. as i'm not even sure how could it stop in your case since i'm making sure that GPS check is there but you seem like passing it with success or something went nuts.

[2017-07-20 07:04] repsorp commented on #780
Still stuck on logo on launch with 4.0.3

But FastHub notifications are ok (was the case with 4.0.2 also)

If I click on notification then FastHub opens a new window (stuck logo window still there) and seems to work fine.

Couldn't find any detail in log.

_Sent from my Google Nexus 5X using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-20 07:07] k0shk0sh commented on #780
In 4.0.3 you'll have to wait for 10 seconds, if the whole process didn't succeed then it will launch the main screen even tho as I said, it should open if it triggers that you don't have the GPS, could you tell me your device info? plus did you wait for 10 seconds in 4.0.3?

[2017-07-20 07:16] repsorp commented on #780
Ok
It's working fine after waiting 10sec
GPS not activated

device: LGE bullhead | Nexus 5X | google | N2G47Z
Android version: 7.1.2 | REL

[2017-07-20 07:19] k0shk0sh commented on #780
@repsorp so its there, but its not activated? then this is the case, I only check if its available or not. the reason I put 10 seconds because I can't know for sure the time amount my implementation would take to check for your In-App-Purchase (IAP)  it usually would take 1 second, but yet, can't be sure that it will be the case on every device.

I suggest you to remove it at all if you want to av

[2017-07-20 07:24] repsorp commented on #780
Don't get it...
Remove it at all ? You mean the GPS ??

[2017-07-20 07:25] k0shk0sh commented on #780
@repsorp  yep, the GPS, it seems like you passing the Google Play Service availability checking & went into IAP purchase check which in return doesn't really work because the GPS isn't working properly. /shrug

[2017-07-20 07:27] repsorp commented on #780
How am I supposed to do that, remove it all ??
And what if I need it later ?

[2017-07-20 07:29] k0shk0sh commented on #780
Well, you disable something that most Android APPs rely on, for example, push notifications, IAP, & alot more.

I have improved my checking but can't be sure it'll work, but it will be added next time.

[code]

[2017-07-20 07:34] repsorp commented on #780
I have no problem with any of my other apps even with disabled gps which is activated when I really need it...
I'll give a look to your next version though
My best

[2017-07-20 10:55] JulianBerger opened #782 "Can't access Wiki of private Repo"
**FastHub Version: 4.0.3**
**Android Version: 7.0 (SDK: 24)**
**Device Information:**
- MANUFACTURER: samsung
- BRAND: samsung
- MODEL: SM-G950F
---

 I get an "Error occured while communication with the server" error...

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-20 10:56] k0shk0sh commented on #782
#726

[2017-07-20 10:56] #782 closed

[2017-07-20 11:03] k0shk0sh commented on #782
It's due to FastHub scraping GitHub Wiki page & Private Repos require session token that FastHub doesn't have.

[2017-07-20 23:20] pda11111 opened #785 "Don't load some README"
**FastHub Version: 4.0.2**
**Android Version: 6.0 (SDK: 23)**
**Device Information:**
- MANUFACTURER: BQ
- BRAND: BQ
- MODEL: BQS-5520
---

 Don't load README in twbs/bootstrap

[2017-07-20 23:42] yakov116 commented on #785
@pda11111 what?

Please include a link and a brief description.

Also please note there was an update today to version 4.0.3

_Sent from my Google Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-21 05:14] netw0rm opened #787 "进入有问题"
**FastHub Version: 4.0.2**
**Android Version: 7.0 (SDK: 24)**
**Device Information:**
- MANUFACTURER: HUAWEI
- BRAND: HONOR
- MODEL: NEM-AL10
---

 有时候会出现进入不了应用的情况

_使用 [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github) 从我的 HONOR NEM-AL10 发送_

[2017-07-21 05:15] k0shk0sh commented on #787
English please

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-21 05:55] yakov116 commented on #787
@k0shk0sh "Sometimes there will be no application of the situation"

[2017-07-21 08:36] netw0rm commented on #787
sometimes  it stopd at the logo ,  not  into the app
...

[2017-07-21 08:37] BrainBlasted opened #788 "Profile Pictures not updating within app"
**FastHub Version: 4.0.3**
**Android Version: 6.0.1 (SDK: 23)**
**Device Information:**
- MANUFACTURER: ZTE
- BRAND: ZTE
- MODEL: Z981
---

 Updated my profile picture earlier today, works across GitHub and on other clients, but the change is not shown in app.

[2017-07-21 08:38] k0shk0sh commented on #787
#780

[2017-07-21 08:38] #787 closed

[2017-07-21 08:43] k0shk0sh commented on #788
well, that's strange, I can see your new image, could you go to your profile and see if it change? from FastHub

[2017-07-21 08:56] BrainBlasted commented on #788
![Here's a screenshot of my profile.](http://i.imgur.com/J2h4aiZ.png)

[2017-07-21 09:06] k0shk0sh commented on #788
@BrainBlasted then I start to think that its the same url & therefore you have to wait one day to find out or clear app cache or data.

P.S: image caches are kept for one day.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-21 09:14] BrainBlasted commented on #788
Yup, a cache wipe fixed it. My bad

[2017-07-21 09:40] #788 closed

[2017-07-21 14:02] k0shk0sh commented on #773
Hmm, this has been added in 4.0.3 however the hash not.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-21 17:29] gruhn opened #789 "trending repos list favors early requests"
**FastHub Version: 4.0.3**
**Android Version: 6.0.1 (SDK: 23)**
**Device Information:**
- MANUFACTURER: samsung
- BRAND: samsung
- MODEL: SM-J510FN
---

Not a big deal I guess but I just noticed, changing the language filter in the trending repos list, while it's still loading, doesn't seem to effect the outcome.

For example: I tab on trending repos -> it starts loading -> I change the filter set

[2017-07-21 17:37] yakov116 commented on #789
@gruhn that makes sense since we are scrapping the data and it can't sort it until after it scrapped it.

_Sent from my Google Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-22 05:40] Thaodan opened #790 "Startup screen isn't themed"
**FastHub Version: 4.0.3**
**Android Version: 7.1.2 (SDK: 25)**
**Device Information:**
- MANUFACTURER: OnePlus
- BRAND: OnePlus
- MODEL: ONEPLUS A3003
---

 The start up screen isn't themed and still white.

_Sent from my OnePlus ONEPLUS A3003 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-22 06:47] JediBurrell commented on #790
This will not work properly.

The splash screen is there because the app is loading, while it is loading it doesn't know anything. It would have to first load what theme is, update itself, and by that time, it would already be loaded.

The only way to get this to work is a workaround, and it's a terrible workaround that causes lots of issues.

[2017-07-22 06:47] #790 closed

[2017-07-22 10:45] Younes-L opened #792 "[minor] add space after is:issue and is:pr when using search"
**FastHub Version: 4.0.3**
**Android Version: 7.1.2 (SDK: 25)**
**Device Information:**
- MANUFACTURER: OnePlus
- BRAND: oneplus
- MODEL: A0001
---

 Currently if you press the search button and then type your keyword it will look like this :

is:issuekeyword     _(for example)_

My suggestion is pretty straightforward, just add a space after is:issue and is:or so that they don't get merged in the

[2017-07-23 01:00] cozyplanes opened #793 "[FR] Ability to sort repos in search by main language and more"
**FastHub Version: 4.0.2**
**Android Version: 5.0.1 (SDK: 21)**
**Device Information:**
- MANUFACTURER: LGE
- BRAND: lge
- MODEL: LG-F460L
---

 I found there is no sort option in repo search mode. Can you add sort option? Such as by main language, last updated, most stars/forks, and so on.

_Sent from my Lge LG-F460L using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.git

[2017-07-23 03:48] #793 closed

[2017-07-23 08:45] LordKrishna91 opened #794 "Viewing wiki doc of neovim gives error"
**FastHub Version: 4.0.3**

 Was just browsing the neovim wiki doc and clicking the section from introduction to users gives server communication error.
 This error does not happen after the users section

[2017-07-23 08:49] k0shk0sh commented on #794
Could you please pass me the link to the repo/wiki? That will be really helpful

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-23 08:53] k0shk0sh commented on #794
Hmmm, well obviously after checking the links are relative & have to be handled but I would suggest that you browse them from the navigation menu (right top icon) until this gets fixed

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-23 08:53] LordKrishna91 commented on #794
link to repo & wiki + screenshot of the error

https://github.com/neovim/neovim
https://github.com/neovim/neovim/wiki

On 23-Jul-2017 2:19 pm, "Kosh Sergani" <notifications@github.com> wrote:

Could you please pass me the link to the repo/wiki? That will be really
helpful

*Sent from my Samsung SM-G950F using FastHub
<https://play.google.com/store/apps/details?id=com.fastaccess.github>*

—
You are

[2017-07-23 10:10] #785 closed

[2017-07-23 13:23] #775 closed

[2017-07-23 13:23] #789 closed

[2017-07-23 13:23] #792 closed

[2017-07-23 14:42] cozyplanes commented on #793
dup with what?

[2017-07-23 14:43] k0shk0sh commented on #793
search for filter/sort repos.

[2017-07-23 14:52] k0shk0sh commented on #773
![gif](https://media.giphy.com/media/720g7C1jz13wI/giphy.gif)

[2017-07-24 06:32] k0shk0sh commented on #788
I found out why its not updated, it has been broken in latest version :'( it will be fixed in next version :)

[2017-07-24 22:26] kenumir opened #796 "Bottom tabs"
**FastHub Version: 4.0.3**
**Android Version: 7.1.1 (SDK: 25)**
**Device Information:**
- MANUFACTURER: OnePlus
- BRAND: OnePlus
- MODEL: ONEPLUS A5000
---
Bottom tabs margin
 https://photos.app.goo.gl/iwl3Ucd2nYtMX6qH2

_Sent from my OnePlus ONEPLUS A5000 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-24 22:27] yakov116 commented on #796
@kenumir did you turn ads on?

[2017-07-25 01:14] k0shk0sh commented on #796
Go settings/behavior & disable ads

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-25 01:14] #796 closed

[2017-07-25 09:58] nicolimo86 opened #797 "Too many notifications"
**FastHub Version: 4.0.3**
**Android Version: 7.1.2 (SDK: 25)**
**Device Information:**
- MANUFACTURER: LGE
- BRAND: google
- MODEL: Nexus 5X
---

Despite I disabled all the notifications from the Fasthub's configuration menu, I'm receiving notifications on the top bar of my phone. This behaviour has started about 2 weeks ago more or less.

_Sent from my Google Nexus 5X using [FastHub](https://pla

[2017-07-25 10:00] k0shk0sh commented on #797
Did you disable the notification from settings screen?

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-25 10:02] nicolimo86 commented on #797
Yes I did it from there.

_Sent from my Google Nexus 5X using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-25 10:03] k0shk0sh commented on #797
@nicolimo86 weird tbh, but it might be due to 4.0.2 which introduced a notification check on opening app despite the fact that it was only one time job, it might be a bug in Google play service. Does it happen regularly? Or sometimes?

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-25 10:10] nicolimo86 commented on #797
It happens randomly but constantly (every day). For example now I'm not receiving any notification about our messages.

_Sent from my Google Nexus 5X using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-25 10:18] k0shk0sh commented on #797
@nicolimo86 alright, I'll fix it in next release and make sure it's cancelled. Sorry about that

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-26 14:07] k0shk0sh commented on #773
Hi

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-26 15:27] k0shk0sh commented on #797
I couldn't really produce it, but I just added the cancellation, I did fix it in a different branch which has WIP jfyi.

[2017-07-26 15:27] #797 closed

[2017-07-27 04:04] k0shk0sh commented on #440
@zvirja fyi: I'm working on revamp of the whole Issue/PR timeline & guess what, the API calls reduced from 5 or more APIs to only one in issues & 2 in PR. it will be in the next version :)

[2017-07-27 07:00] zvirja commented on #440
@k0shk0sh Sounds great, will be looking forward to the new update! :+1:

[2017-07-27 14:10] lynxhawk commented on #762
@k0shk0sh Thanks for your reply. I have understood it.

_使用 [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github) 从我的 Google Nexus 7 发送_

[2017-07-27 17:45] LordKrishna91 opened #799 "HTML Rendering issues inside code box"
**FastHub Version: 4.0.3**
**Android Version: 5.1 (SDK: 22)**
---

 Was reading the ch1 of YDKJS came across this badly or hardly rendered &lt; span &gt; element. I assumed there must be something I'm missing checked the same stuff in save page offline it rendered the code box correctly (this works correctly on the  browser).
![screenshot_2017-07-27-22-50-33](https://user-images.githubusercontent.

[2017-07-27 17:47] yakov116 commented on #799
@LordKrishna91 please include a link to the repo

[2017-07-27 17:56] LordKrishna91 commented on #799
@yakov116
check below the screenshots for links to original refered repo and the ch1 rendering issue repo

[2017-07-27 18:32] yakov116 commented on #799
@LordKrishna91 Thanks I see it.

@k0shk0sh Github allows HTML formatting inside the .md. This is the issue

[2017-07-27 19:05] dikiaap opened #800 "Add count numbers of comments in PR"
**FastHub Version: 4.0.3**
**Android Version: 5.1 (SDK: 22)**
**Device Information:**
- MANUFACTURER: Evercoss
- BRAND: google
- MODEL: EVERCOSS A65
---

Because sometimes PR becomes less interesting since it looks like no one commented.

The comments count is already exists in the issue page and in the PR search feature, but not in PR page yet.

[2017-07-27 19:07] yakov116 commented on #800
@dikiaap are you talking about in the list of pr's?

If yes that would require an api call for each PR

[2017-07-27 19:09] dikiaap commented on #800
@yakov116 Yes, you're right.

[2017-07-27 19:10] #800 closed

[2017-07-27 19:15] dikiaap commented on #800
@yakov116 Can you tell me why this closed and what the impact of requesting this feature?

[2017-07-27 19:20] yakov116 commented on #800
@dikiaap it would require an api call for each and every pr. Just imagine there are 40 Pr's that is 40 calls. It will slow down the app and it will use more internet then need from the users.

[2017-07-27 19:26] dikiaap commented on #800
@yakov116 Ah okay. But it's already implemented in issue page, how is it different?

[2017-07-27 19:28] GitSquared opened #801 "[Feature request] Github Projects support?"
I use Github Projects to keep roadmaps of my repos and I would love to be able to consult & edit them in Fasthub, even if it's a pro feature.

Is the Projects API stable enough for this to be implemented?

_-S_

[2017-07-27 19:29] yakov116 commented on #801
@GitSquared Good idea and thanks for your feedback.

This has been suggested in issue #384 its on the radar. Hopefully it will come soon.

[2017-07-27 19:29] #801 closed

[2017-07-27 19:32] yakov116 commented on #800
@dikiaap it is due to github api. They give us the amount of comments for the issues, but not for the pull requests.

[2017-07-27 19:32] GitSquared commented on #801
@yakov116 Oops, sorry i didn't see the other issue. Thanks for the fast answer.

[2017-07-28 08:07] k0shk0sh commented on #799
the reason for that it was that the html entities are escaped & I don't know why :D a simple replace was enough tho.
[code]

[2017-07-28 08:07] #799 closed

[2017-07-28 08:57] #794 closed

[2017-07-28 13:23] Vampire opened #802 "Search is not working"
**FastHub Version: 4.0.3**
**Android Version: 7.1.2 (SDK: 25)**
**Device Information:**
- MANUFACTURER: samsung
- BRAND: samsung
- MODEL: SM-G930F
- OS: Lineage OS
---

I have FastHub repo issues open in FastHub, then I select Search from the button in the lower right. I enter a search string and press Search on the keyboard.

Now the focus moves away from the search field, no cursor is shown, the

[2017-07-28 13:29] Vampire opened #803 "Markdown editor is not used everywhere"
**FastHub Version: 4.0.3**
**Android Version: 7.1.2 (SDK: 25)**
**Device Information:**
- MANUFACTURER: samsung
- BRAND: samsung
- MODEL: SM-G930F
---

 When adding a code line comment or a review comment or a commit comment, there is only a simple input field. No formatting buttons, and no way to preview the rendered comment.

I don't know whether this is also like that for other places, but in s

[2017-07-28 13:31] Vampire opened #804 "Support all of GFM syntax"
**FastHub Version: 4.0.3**
**Android Version: 7.1.2 (SDK: 25)**
**Device Information:**
- MANUFACTURER: samsung
- BRAND: samsung
- MODEL: SM-G930F
---

In the Markdown editor it would be nice if all GFM syntax is available as buttons, or at least if there would be a help dialog where you can display all available and valid syntax.

[2017-07-28 13:34] k0shk0sh commented on #804
Hi, thanks for your feedback, did you scroll the buttons to check for more md syntax? The editor supports everything even image uploading, you need to scroll it left & right

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-28 13:35] k0shk0sh commented on #804
![](http://i.imgur.com/xFFRytH.png)

![](http://i.imgur.com/Nxb7hO7.png)

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-28 13:42] #804 closed

[2017-07-28 13:44] k0shk0sh commented on #802
What keyboard are you using? You might be falling under same issue as someone else which having trouble with the keyboard they are using. I'll workaround this and make an icon to search by.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-28 13:44] #802 closed

[2017-07-28 13:47] yakov116 commented on #803
@Vampire thank you for your feedback!

@k0shk0sh maybe add an option for both. In other words add "open in editor"

_Sent from my Google Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-28 14:49] CarsonF commented on #704
This is still a problem for me. I do have "disable notification read status" enabled.

App Version: 4.0.3
OS Version: 8.0.0
Model: Nexus 6P

[2017-07-28 14:56] chamini2 commented on #704
Yeah, this only works if I mark *all* notifications as read, not if I mark one by one.

[2017-07-28 14:57] Vampire commented on #804
Ah, nice, I didn't observe this list is scrollable. But still there are things not supported / explained. E. g. tables or code blocks.

[2017-07-28 15:18] yakov116 commented on #804
@Vampire code blocks is there its the `<>`

I don't see how you can support tables? The syntax is not simple and is not really possible to add.

[2017-07-28 16:45] sm-g commented on #726
I really need to see wiki of my company's repository on my phone when commuting from/to office. Isn't it one of the main use cases?

Also if currently it is by design, why not disable wiki button? Or open wiki in webview?

[2017-07-28 17:07] Vampire opened #806 "Auto-continue of GFM constructs"
**FastHub Version: 4.0.3**
**Android Version: 7.1.2 (SDK: 25)**
**Device Information:**
- MANUFACTURER: samsung
- BRAND: samsung
- MODEL: SM-G930F
---

It would be nice if the Markdown editor would auto-continue certain Markdown constructs like lists, checkboxes and quotes on adding a newline.

[2017-07-28 17:11] Vampire commented on #804
Ah yes, overlooked it.
My request was not solely for rich editing buttons, but also for a help button.
Maybe the GFM guide can be incorporated, or the points not covered by buttons like tables described in some help pop-up or something like that. Just a help for easing the manual writing.

[2017-07-28 17:18] Vampire commented on #802
I tried with standard AOSP keyboard and with Swype before I reported, both show the same behaviour. I now additionally tried my third one, the "Hacker's Keyboard", with that it works fine.

[2017-07-28 17:22] Vampire commented on #802
Is it #635 you mean this duplicates?

[2017-07-28 17:28] yakov116 commented on #802
@Vampire yes

[2017-07-28 17:28] Vampire commented on #635
Having the same issue here. I tried with standard AOSP keyboard and with Swype, both show the behaviour described at #802. With the "Hacker's Keyboard" it works fine, or when changing the tab after changing the search term. While changing between open and closed tab does not influence the search result, but just triggers the search.

[2017-07-28 17:30] yakov116 commented on #806
@Vampire we don't try to be better than what github has to offer. Github does not do that so I don't believe we will add it.

I will wait for @k0shk0sh to chime in

_Sent from my Google Nexus 9 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-28 17:39] yakov116 commented on #804
@Vampire it's an interesting idea, but that would require a bit of work.

As for the tables me as a regular user of github find myself using HTML for tables since  GitHub's way is 1. Very limited 2. Very complicated.

Besides tables I don't see any need for an explanation page etc. Your more than welcome to make a pull request.

_Sent from my Google Nexus 9 using [FastHub](https://play.google.com/

[2017-07-28 17:41] yakov116 commented on #704
Not that it has to do with this (I have the same issue as above too)

But why do I get a notification for my own replys?

_Sent from my Google Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-28 17:43] yakov116 commented on #726
@sm-g since there is no api support for wiki 's (or for that matter there is barely any normal support for any github api) we are scrapping the data. For private wiki 's there is no way we can do that since we are not authorized (authenticated)
But opening in web view is an idea....

_Sent from my Google Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-28 17:55] yakov116 commented on #31
@k0shk0sh the icon is not aligned correctly when it's on the old code side.

![](http://i.imgur.com/Z5be6wH.png)

_Sent from my Google Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-28 22:49] Vampire commented on #806
And why do you limit yourself to be not-better than GitHub? Doesn't make too much sense to me personally. Especially in cases like this. With a normal keyboard it is easy to write special characters like dashes, square brackets and alike. But with virtual keyboards those keys are often in the second or third layer.

[2017-07-29 01:02] xxczaki opened #807 "List Animation Bug"
**FastHub Version: 4.0.3**
**Android Version: 7.0 (SDK: 24)**
**Device Information:**
- MANUFACTURER: samsung
- BRAND: samsung
- MODEL: SM-A510F
---

When i enable list animations in settings it works well, but when i go to Profile --> Repositories and then go back to "Home" page it doesn't work.

_Sent from my Samsung SM-A510F using [FastHub](https://play.google.com/store/apps/details?id=com.fast

[2017-07-29 01:08] #807 closed

[2017-07-29 01:23] shangshiyjn opened #808 "Can't change theme of app"
**FastHub Version: 4.0.3**
**Android Version: 6.0.1 (SDK: 23)**
**Device Information:**
- MANUFACTURER: LeMobile
- BRAND: LeEco
- MODEL: LEX720
---

 I have install the app from google play, when I try to change the theme of the app, a toast appears, says "%1$s won't run without Google Play services, which are not supported by your device."
Hope to solve the problem~

_Sent from my LeEco LEX720 us

[2017-07-29 02:13] k0shk0sh commented on #808
Well if you tend to apply premium theme you have to purchase it and without google play service you can't purchase them.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-29 02:14] #808 closed

[2017-07-29 02:16] k0shk0sh commented on #806
How about the user doesn't want that? Which will cause then to delete the list or whatever I inserted.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-29 02:18] k0shk0sh commented on #704
@CarsonF this has been fixed

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-29 03:52] shangshiyjn commented on #808
sorry...I think you mislead what I want to say, I only want to apply the dark theme which need not a premium version but the same toast appears...

_Sent from my LeEco LEX720 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-29 04:25] k0shk0sh commented on #808
@shangshiyjn that's really weird, could you screenshot which theme you try to apply?

[2017-07-29 04:28] k0shk0sh commented on #808
@shangshiyjn I found whats going on, its due to me setting the check for GPS. will be fixed in next release.

[2017-07-29 10:07] shangshiyjn commented on #808
OK，thank you very much😄😄

_Sent from my LeEco LEX720 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-29 11:52] Vampire commented on #804
I agree that it is limited, but for a simple tabular display it is enough. And me personally, I don't think the syntax is complex. You just separate the columns by pipes and the header row from the body rows by dashes.

The explanation page could describe besides tables e. g. user mentions, auto-linking of issues of same and other repos, syntax highlighting in code blocks, ...

Btw. there is no bu

[2017-07-29 12:03] Vampire commented on #806
Maybe it could be configurable. Or you could remove the auto-inserted part if a newline is added without additional manual input. I'd guess that after most things you would want to auto-complete like lists you would want to have an empty line, or don't you even need it to not have the text indented? So just remove it if second newline is inserted.

I'd guess that it is much more common to have a l

[2017-07-29 12:06] Vampire opened #809 "Horizontal rulers are not displayed"
**FastHub Version: 4.0.3**
**Android Version: 7.1.2 (SDK: 25)**
**Device Information:**
- MANUFACTURER: samsung
- BRAND: samsung
- MODEL: SM-G930F
---

Horizontal rulers are not displayed. When looking at issues and also in the previews, I nowhere see the horizontal rulers that definitely are there and also are shown in the browser.

[2017-07-29 12:06] k0shk0sh commented on #804
@Vampire I don't see the need of an explanation to be showing here, I also expect who uses GitHub are developers or maintainers who uses GitHub in daily basis, if I find that I need to explain to them how to mention some or paste how to construct a link then imho they shouldn't be using GitHub, as much as I understand your sole purpose behind this but I don't think I'll really put effort on it as

[2017-07-29 12:10] k0shk0sh commented on #806
Its good idea and I like it I don't think it will be hard to do :) . Thanks

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-29 12:11] Vampire opened #810 "Always a submit button in Markdown editor"
**FastHub Version: 4.0.3**
**Android Version: 7.1.2 (SDK: 25)**
**Device Information:**
- MANUFACTURER: samsung
- BRAND: samsung
- MODEL: SM-G930F
---

The Markdown editor always has a submit button, even if it does not submit. If you e. g. add a new issue and click into the description field, the Markdown editor opens. If you then press on the submit button, nothing is submitted, it is just inser

[2017-07-29 12:18] Vampire opened #811 "Save entered texts as drafts instead of discarding them"
**FastHub Version: 4.0.3**
**Android Version: 7.1.2 (SDK: 25)**
**Device Information:**
- MANUFACTURER: samsung
- BRAND: samsung
- MODEL: SM-G930F
---

 It would be nice to be able to review a conversation before submitting a comment. If you are writing a comment and want to re-read what was written before to not forget anything, you have to copy all text, discard the changes, read the conversatio

[2017-07-29 12:23] k0shk0sh commented on #811
Isn't the reply button meant for this? It will show you the user reply in top so you could see the conversation? This issue has been opened before and the way FastHub did it was by adding the reply functionality.
Anyway I'm thinking of another way of doing such improvement according to the discussion in the other issue, is by splitting the screen so you could see everything while typing.

_Sent fr

[2017-07-29 12:23] #811 closed

[2017-07-29 12:25] k0shk0sh commented on #810
Good catch :D , there are still more stuff to catch tho xD

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-29 12:28] Vampire commented on #804
@k0shk0sh sure, I just mentioned stuff that could be explained additionally of a help dialogue is added at all.

But either a button or an explanation for table syntax would still be helpful I think. Tables are not used on a regular basis by many and a reminder or button for the syntax could be helpful.

As would be a button for inline code highlighting and a selection list for valid code syntax l

[2017-07-29 12:31] k0shk0sh commented on #804
@Vampire can you open a different issue for the language name & also for the table hint? Fyi: I had myself plenty of trouble doing the table showing that showing the images in FastHub readme so I believe this will be good. Or a better option is to implement it :D. It seems challenging, could you make sure its not a hint but rather a FR to add table support?

_Sent from my Samsung SM-G950F using [F

[2017-07-29 12:32] k0shk0sh commented on #811
#438

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-29 12:33] k0shk0sh commented on #438
@zvirja oops, your reply slipped away and just noticed it :'(, sorry about that. Once I'm done with revamping the PR apis, I'll focus on this.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-29 12:35] Vampire commented on #811
As far as I have seen the Reply button is only working for one comment, so you cannot review more than that single comment while answering.

A split screen, or a left-right-swipable screen would for sure help for writing and could be done additionally to what I suggested here.

But such a draft functionally could be handy for more than that. As I described, e. g.

- for preparing multiple issues i

[2017-07-29 12:37] Vampire commented on #810
I'm good at catching, I'll create tickets if I find more of those minor issues. :-)

[2017-07-29 12:37] k0shk0sh commented on #811
@Vampire  I understand the hassle I'll try my best to bring that feature to my top of my todos and I can't promise you but I'll try my best that it'll in next version ;)

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-29 12:38] k0shk0sh commented on #810
@Vampire please do so, FastHub relies on the community to be better.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-29 12:44] Vampire opened #812 "API answer part in display of rendered files"
**FastHub Version: 4.0.3**
**Android Version: 7.1.2 (SDK: 25)**
**Device Information:**
- MANUFACTURER: samsung
- BRAND: samsung
- MODEL: SM-G930F
---

If you open https://github.com/k0shk0sh/FastHub/blob/master/README.md with FH (in the code tab) it is displayed rendered, but in the beginning and end there is still one wrapping JSON element from the API answer.

[2017-07-29 12:45] k0shk0sh commented on #812
![](http://i.imgur.com/04mXQM6.png)

![](http://i.imgur.com/MwlNECt.png)

I guess it has been fixed :p

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-29 12:46] Vampire opened #813 "Source of rendered files"
**FastHub Version: 4.0.3**
**Android Version: 7.1.2 (SDK: 25)**
**Device Information:**
- MANUFACTURER: samsung
- BRAND: samsung
- MODEL: SM-G930F
---

 It would be nice if you could display the source of files that are being shown rendered in the code tab like Markdown files and alike.

This is currently only possible by downloading the file or opening it with the browser or Pocket Hub.

[2017-07-29 12:46] #812 closed

[2017-07-29 13:04] dedepete opened #814 "Display build statuses for commits."
Just another feature request.
https://developer.github.com/v3/repos/statuses/

[2017-07-29 14:05] zvirja commented on #438
@k0shk0sh Happy that you will follow up on this and will solve this :blush: Thank you for the reply, appreciate that!

[2017-07-29 15:59] szachara opened #815 "Completely blowed up my CM13, only black screen"
I love this app, but I tried it on one of my devices, Nexus 10 with CM13 and it completely blowed up my OS.

After install many apps crashed, trebuchet crashed, so many modals showed up, somehow I managed to switch to play store, I should uninstall, but I clicked open ( I hoped that after first run will be everything ok, may be happen some initializations ), didn't help.

So I restarted and only b

[2017-07-29 16:06] k0shk0sh commented on #815
https://github.com/k0shk0sh/FastHub/issues/744

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-29 16:06] #815 closed

[2017-07-29 16:15] szachara commented on #744
Ok, so I will wait for stable Lineage 13, then try it again, because cyanogenmod is death.

[2017-07-29 17:15] k0shk0sh commented on #744
@szachara thanks for your understanding, I tried my best without any luck, according to firebase team its  CM theme that crashes :'( . I hope this sort out for you guys

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-29 17:19] szachara commented on #744
I read whole thread on firebase, good work thx

[2017-07-29 17:58] Vampire commented on #811
No stress, I have a workaround, so no problem. :-)
But what do you mean, the split screen or the drafting?
If the latter, then this should be reopened.
If the first, it would still be cool if you could consider the drafting. :-)

[2017-07-29 17:59] Vampire commented on #810
Like any FOSS software. :-)
I'm active in some myself on GitHub and SF.

[2017-07-29 18:02] Vampire commented on #812
Yeah, seems so, great. :-)

[2017-07-29 18:10] Vampire opened #816 "Unread notifications tab does not show all unread notifications, while the bell actually was blue"
**FastHub Version: 4.0.3**
**Android Version: 7.1.2 (SDK: 25)**
**Device Information:**
- MANUFACTURER: samsung
- BRAND: samsung
- MODEL: SM-G930F
---

 If I open FastHub, the notification bell is blue (dark theme), which I interpret means that there are unread notifications. But if I open the notifications, the `Unread` tab shows nothing. When I open the `All` tab it shows unread notifications. T

[2017-07-29 18:17] Vampire opened #817 "Markdown editor button for inline code highlighting"
**FastHub Version: 4.0.3**
**Android Version: 7.1.2 (SDK: 25)**
**Device Information:**
- MANUFACTURER: samsung
- BRAND: samsung
- MODEL: SM-G930F
---

 Please add a button for inline code highlighting to the Markdown editor like for bold, italic and strike-through.

[2017-07-29 18:19] Vampire opened #818 "Strike-through words are not rendered correctly"
**FastHub Version: 4.0.3**
**Android Version: 7.1.2 (SDK: 25)**
**Device Information:**
- MANUFACTURER: samsung
- BRAND: samsung
- MODEL: SM-G930F
---

 Strike-through formatting is not displayed properly. FastHub shows ~~word~~ as `~~word~~`, instead of a stroke-through word.

__Update:__ It is rendered correctly when displaying an issue, but not in preview mode or in the create issue screen wher

[2017-07-29 19:07] Vampire opened #819 "Improvements for producing nested bold and italic formats with the Markdown editor"
**FastHub Version: 4.0.3**
**Android Version: 7.1.2 (SDK: 25)**
**Device Information:**
- MANUFACTURER: samsung
- BRAND: samsung
- MODEL: SM-G930F
---

This is just a suggestion, so if you don't like it, just close this issue.

In Markdown you can make bold like `__this__` or `**this**` and italic like `*this*` or `_this_`. In other systems, e. g. on StackOverflow, bold is like `*this*`, italic is

[2017-07-29 19:14] Vampire opened #820 "Improvements for the pre-filled text when reporting a FastHub issue"
**FastHub Version: 4.0.3**
**Android Version: 7.1.2 (SDK: 25)**
**Device Information:**
- MANUFACTURER: samsung
- BRAND: samsung
- MODEL: SM-G930F
---

When reporting an issue for FastHub with FastHub, some pre-filled text is added to the description. I have two improvement suggestions for this:

1. Add the current OS including version, some issues could be specific to the OS. I e. g. run Lineage

[2017-07-30 01:35] k0shk0sh commented on #811
You wont be needing draft, as the whole idea behind draft is to able to see others while u commenting.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-30 02:02] yakov116 commented on #820
@Vampire the prefilled data has been retweaked and will be updated in the next release. I do not believe there is a way for us to get the OS the user is running.

_Sent from my Google Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-30 02:13] yakov116 commented on #818
@k0shk0sh in the feed and in preview it's not correctly shown

_Sent from my Google Nexus 9 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-30 02:15] yakov116 commented on #817
@Vampire it's not there?! I have it what exactly are you referring to?

_Sent from my Google Nexus 9 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-30 02:21] k0shk0sh commented on #818
In preview itb would but fire feeds or shouldn't as I'm stripping the highlighting

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-30 02:23] yakov116 commented on #818
@k0shk0sh what!?

_Sent from my Google Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-30 02:24] #820 closed

[2017-07-30 02:26] k0shk0sh commented on #818
Strikethrough isn't displayed.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-30 02:40] yakov116 commented on #811
@k0shk0sh really quick commenting will solve the issue (adding on the bottom like there is not for adding a comment in a pr)

_Sent from my Google Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-30 04:15] k0shk0sh commented on #817
-------

Test

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-30 04:25] k0shk0sh commented on #819
I don't understand what is the issue here? you are asking to change the current markdown `____` to `****` which is fine, however the rest I don't really get it? why would it be the app responsibility to do things that i'm not sure the user wants? for example if you highlighted something & pressed on any markdown syntax button it will make that particular highlighted text to be for ex `bold`.

I'll

[2017-07-30 04:35] k0shk0sh commented on #817
@yakov116  he is referring to **``**

[2017-07-30 10:25] Adizbek opened #821 "Bug with emoji"
**FastHub Version: 4.0.3**
**Android Version: 6.0 (SDK: 23)**
**Device Information:**
- MANUFACTURER: LGE
- BRAND: lge
- MODEL: LG-H502
---

![](http://i.imgur.com/YwQduIq.png)

![](http://i.imgur.com/lA5nT82.png)

![](http://i.imgur.com/uapeQZX.png)

I think You have noticed the bug in these pictures...

_Sent from my Lge LG-H502 using [FastHub](https://play.google.com/store/apps/details?id=com.f

[2017-07-30 10:27] #821 closed

[2017-07-30 10:28] k0shk0sh commented on #821
Please search for issue before submitting new one, thanks for your feedback.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-30 15:57] wopian opened #822 "Confirm mark all notifications as read"
Currently the `mark all as read` button just does what it says.

So if you accidentally double tab to access the notifications view, you've just cleared your unread notifications.

A confirmation popup _or_ an undo snackbar would be 👌

**FastHub Version:**  4.0.3
**Android Version:**  6.0.1

[2017-07-30 15:58] yakov116 commented on #822
@wopian  Great Idea!
Thanks for your feedback.

[2017-07-30 17:09] Vampire opened #823 "Many formatting combinations are not rendered correctly"
**FastHub Version: 4.0.3**
**Android Version: 7.1.2 (SDK: 25)**
**Device Information:**
- MANUFACTURER: samsung
- BRAND: samsung
- MODEL: SM-G930F
---

Some formatting combinations are not rendered correctly by FastHub.

This should be all possible combinations for manual review. Actually two do not even work correctly on GitHub itself. I reported this to GitHub already.

**bold / code**

- ``` **

[2017-07-30 17:18] yakov116 commented on #823
@Vampire please make it into a table and merge with the other ticket.

[2017-07-30 17:34] yakov116 commented on #823
#817

[2017-07-30 18:06] Vampire commented on #820
[Device Information](https://play.google.com/store/apps/details?id=com.happy.deviceinfo) shows `Product: Lineage_herolte`

[CPU X](https://play.google.com/store/apps/details?id=com.abs.cpu_z_advance) shows `ID: lineage_herolte-userdebug 7.1.2 NJH47B 7178885b21`

[Device Information for Android](https://play.google.com/store/apps/details?id=net.kibotu.android.deviceinfo) shows `Display: lineage_her

[2017-07-30 19:27] yakov116 commented on #820
@Vampire I just played around with this.

There is no way for us to get a normal response on a Custom Rom so...

[2017-07-30 20:49] SISheogorath opened #824 "Crashes while in Background"
**FastHub Version: 4.0.3**
**Android Version: 7.0 (SDK: 24)**
**Device Information:**
- MANUFACTURER: motorola
- BRAND: motorola
- MODEL: Moto G (4)
---

 It's a bit annoying, the app often crashes while it's in background. It doesn't really affect the working with the app or notifications, but it's super annoying to have android's pop-up every time it happens. "FastHub has stopped". The Android h

[2017-07-30 20:50] yakov116 commented on #824
@SISheogorath do you have a custom ROM?

[2017-07-30 20:50] Vampire commented on #820
@yakov116 I'm sorry, but I don't really understand what you are saying. What do you mean by "normal response"?

What is wrong with `lineage_herolte-userdebug 7.1.2 NJH47B 7178885b21` which is the build ID, that is meant for display to the user?

[2017-07-30 20:52] yakov116 commented on #820
@Vampire If the user has a custom rom that field is not reliable to give a normal response. On Pure nexus for example I get a random ID.

The only benefit there is in getting the ROM is only if they are on a custom one so....

[2017-07-30 20:52] SISheogorath commented on #824
Nope. Stock-ROM, latest version installed.

[2017-07-30 20:53] yakov116 commented on #824
@SISheogorath ok I will wait for @k0shk0sh to look at the firebase logs.

Thanks for reporting.

[2017-07-30 21:02] Vampire commented on #820
@yakov116 Are you sure it is a __random__ id? It should be an id that is shown to the user and should identify the build. Maybe our just looks random, but with a quick Google search you could determine what OS is running because it is not random?

And even if it would really be random for some OS, wouldn't it still be helpful to see which OS the user has if the field has a meaningful content and i

[2017-07-30 21:29] Vampire commented on #811
@k0shk0sh no it is not, at least not for me. It was the initial intent, that made me start reporting this issue. But as I wrote it and we talked, I have seen other use-cases where it would be handy.

Let me elaborate again on some of them:

- You would be able to prepare multiple issues in parallel on the same or even on different projects. This would have been very helpful e. g. when I reported t

[2017-07-30 22:58] yakov116 commented on #820
@Vampire many roms mess up the build print so yes many times it will not be any help

_Sent from my Google Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-30 23:31] Vampire commented on #819
@k0shk0sh well, the issue are the four (actually three, as one is current behavior) points I listed above. One is to change the bold button from `____` to `****` which is used in other systems and is also the version used by GitHub Markdown editor on the page.

I don't know what you mean. If course you know what the user wants. He wants bold text or italic text, according to the button he pressed.

[2017-07-30 23:35] k0shk0sh commented on #824
Its firebase that crashing which I have no idea how to fix that, could you please in the meantime disable notifications at all from FastHub/settings/notifications . @SISheogorath

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-30 23:41] Vampire commented on #820
Well, then you still would have the product name if they didn't mess up that one too. And if they did, so what, be happy about the cases where it is _not_ fucked up. Why dismiss the information just because it is sometimes helpful, but not always? ;-)

[2017-07-30 23:44] Vampire commented on #823
@yakov116 why do you think this is in any way related to #817? That one is about a missing formatting button, this one is about wrong rendering of nested formats.

[2017-07-30 23:44] k0shk0sh commented on #820
@Vampire I don't do per-rom custom fixes, that's dangerous, so the less I worry about rom you using the more happy I'll be.

The SDK for is enough however I wish if there is a way to tell if the user using a custom rom or not, just that label would be helpful enough.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-30 23:48] k0shk0sh commented on #823
Don't care much about review as Android isn't a web browser that could display all of this, care more about the end result, if you post a valid syntax that FastHub didn't handle properly, it will be displayed properly when loading it from GitHub.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-31 00:10] Vampire commented on #820
@k0shk0sh sure, per-rom fixes might be not nice and even not wanted. But it might still be helpful to have the information when interpreting a bug report. e. g. if someone with an S8 reports a problem and you cannot reproduce it no matter what you do while you too are on S8, it might be helpful information that he was on a custom ROM while you are on stock ROM. You surely should - if at all - keep

[2017-07-31 00:12] k0shk0sh commented on #820
@Vampire yep, it will be really helpful that's why I'll look into a flag that could determine if there rom is custom or stock. Thanks

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-31 00:13] yakov116 commented on #820
@Vampire I do not think there is a way to detect it. If you find a way please post it. I don't think there is any way to tell if the rom is custom and have it correct all the time to make it worth it.

_Sent from my Google Nexus 9 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-31 00:18] Vampire commented on #820
I also doubt there is an easy way to determine programmatically whether a rom is stock or custom without checking for specific custom roms. But if you have the information from the device id and / or product string, I think the answer is just a quick Google search away, if not obvious already.

[2017-07-31 00:23] yakov116 commented on #820
@Vampire I did that quick Google search and tried for about a half hour and it's a nogo

_Sent from my Google Nexus 9 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-31 00:24] Vampire commented on #823
@yakov116 I transformed it into a table, but then it is almost useless, because table rendering is horrible on FastHub. In preview it does not work at all and in rendering it is so tiny that you cannot read anything, let alone identify formatting which this issue is about. So in favor of being able to view the formatting in FastHub, I transformed it back to the list form I had before.

@k0shk0sh I

[2017-07-31 00:25] yakov116 commented on #823
@Vampire when we work we are on a computer.....

_Sent from my Google Nexus 9 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-31 00:26] Vampire commented on #820
@yakov116 you googled for what? *confused*

[2017-07-31 00:26] yakov116 commented on #820
@Vampire a way to determining what rom the user is on.

_Sent from my Google Nexus 9 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-31 00:28] k0shk0sh commented on #823
I didn't mean that, what I meant in preview mod, some stuff they don't work for sure, but you can still submit them and FastHub will display them properly in the comment section for instance, by stating Android  isn't a browser meaning that Android textview is very very limited to html content so most stuff is done manually by drawing them, the table look very bad of course, but that's how drawing

[2017-07-31 00:29] Vampire commented on #823
@yakov116 mostly, yes, but what has that to do with broken formatting in the app? If I report some issue and preview how it will look like, it would be nice if I see the proper formatting. If I look at an issue or comment on-the-go, it would be nice if I see the proper formatting. The author of a text surely meant to provide a certain meaning with the formatting combination he choosed, so it shoul

[2017-07-31 00:31] k0shk0sh commented on #820
Couldn't find away myself.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-31 00:32] Vampire commented on #823
@k0shk0sh in preview mode there was not a table, but gibberish. And the table per-se in the display mode was oookaaaay, but it was tiiiiny, no chance to read the text in there. And the formatting in the display mode also has defficiencies, not only in the preview mode. That's why I checked in both.

[2017-07-31 00:34] Vampire commented on #820
@yakov116 then no, you didn't do "that quick Google search". I said add the product name and display build id as demonstrated in my comment above to the pre-filled issue text. **Then**  a quick google search can tell you what OS the user is running in most cases and whether it is a custom rom or a stock rom.

[2017-07-31 00:35] yakov116 commented on #823
@Vampire you want us to fix an issue correct?
We can test all the thing you put in the table to make sure they are working. The current way you have it makes it very hard to go though and eliminate case by case.

A table would be the best way to put it

_Sent from my Google Nexus 9 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-31 00:36] k0shk0sh commented on #820
So we go fully manual? Why not just ask user? Wouldn't that save us time by Googling? While user can tell us? Hmmm that's tedious to do.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-31 00:37] yakov116 commented on #820
@Vampire please try it your self and you will see I am correct. I actually compiles the app 6 times trying all different options and it did not work..... Please if you have a way please try it yourself?

_Sent from my Google Nexus 9 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-31 00:38] Vampire commented on #823
@yakov116 I can easily make it back to a table, but you cannot read it, expect maybe with a very good lense. If you prefer I can make it back to tabluar form, no problem, but in FastHub on the device, you have no chance at all to identify the formatting.

[2017-07-31 00:39] Vampire commented on #823
@yakov116 I added it additionally in tabular form, I hope this helps

[2017-07-31 00:42] yakov116 commented on #823
@Vampire thanks I will test case by case. So I will be using my computer and am emulator so I will not have an issue thanks for your help

_Sent from my Google Nexus 9 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-31 00:43] k0shk0sh commented on #823
@Vampire
![Shrug](https://media.giphy.com/media/enZ3A3ihJiUgw/giphy.gif)

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-31 00:44] heikomat opened #825 "only public entries on an organisations feed"
**FastHub Version:**  4.0.3
**Android Version:**  7.1.2
**Device Information:**
- MANUFACTURER: OnePlus
- BRAND: OnePlus
- MODEL: One

When i open the feed of an organisation, only entries that belong to public repositories of that organisation show up. Entries belonging to private repositories of that organisation are not visible.

Is that intended behaviour, or a bug?

[2017-07-31 00:46] k0shk0sh commented on #825
@heikomat it should be showing the org feeds according to what GitHub has returned me, if you could see the feeds of an organization that means you are a member of it & should display it's feed correctly unless GitHub returned me something I can't know, could you screenshot the top tabs, content aren't needed.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps

[2017-07-31 00:48] k0shk0sh commented on #825
Like for example going into your org, I only can see these tabs but not feeds

![](http://i.imgur.com/wQJ22s2.png)

Do you have the same exact tabs with only feeds added? Or there are more like in normal user profile?

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-31 00:52] Vampire commented on #823
@k0shk0sh would you please be so kind to elaborate a bit more about what you mean in normal human language, we are not on 9gag here and such images could easily be misinterpreted.

[2017-07-31 00:54] k0shk0sh commented on #823
@Vampire I was referring to this

The emojie really tells that I understand & have no clue how to make it better 😅

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-31 01:05] heikomat commented on #825
This is what i see for the organisations feed:
![screenshot_20170731-030112](https://user-images.githubusercontent.com/20770029/28759382-d19ac01e-759c-11e7-8f57-1851052ed0fd.png)

as described, only events that happen in public repositories show up. There have been dozens of events in that organisation that show up when i visit github with the browser, but in the app, the events that belong to pri

[2017-07-31 01:09] Vampire commented on #820
@k0shk0sh if you have `MODEL: SM-G930F` in the issue, how do you know this is an S7? Exactly, either you just know it because you remember it, or you manually Google it. It's the same for the OS. If you see `Build ID: lineage_herolte-userdebug 7.1.2 NJH47B 7178885b21` and `Product: lineage_herolte`, then you can either know that this is Lineage OS 14.1, or you can Google for it and find out, **if*

[2017-07-31 01:11] yakov116 commented on #820
@Vampire this will only work on some roms NOT all it depend do on the DEV of the rom.

Like I said Pure nexus will not work, so I am assuming that others will not either.

_Sent from my Google Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-31 01:11] k0shk0sh commented on #825
Let me find out what I'm doing wrong and get back to u on this

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-31 01:12] Vampire commented on #823
Great, I was short before interpreting it personally. Chandler can be _such_ an asshole sometimes. :-D
Anyway, I think this is not the right issue to discuss it, as it has a totally different topic.
We can talk about it in the other ticket I will report. :-)
Even if you close it with a Chandler, then at least others can see that it is a known limitation.

[2017-07-31 01:13] heikomat commented on #825
ok. Let me know if i can help with that. btw: the blue theme is nice!

[2017-07-31 01:13] Vampire commented on #823
@yakov116 btw. if you are going to work on this one, shouldn't you reopen it? :-)

[2017-07-31 01:15] Vampire commented on #820
@yakov116 I understood this. It's just that I think that it is better to have the information that will be helpful for some roms, even if it is not helpful for all roms, because the cases where it is helpful are not influenced by the cases where it is not, are they?

[2017-07-31 01:30] heikomat opened #826 "Syntax highlighting in issues not working"
**FastHub Version:**  4.0.3
**Android Version:**  7.1.2
**Device Information:**
- MANUFACTURER: OnePLus
- BRAND: OnePlus
- MODEL: One

The syntax-highlighting in issues seems to not be working correctly. All these code-blocks are set to
[code]
![screenshot_20170731-032016](https://user-images.githubusercontent.com/20770029/28759679-60d9477a-75a0-11e7-83fd-c7c85a286520.png)

However the highlightin

[2017-07-31 01:33] yakov116 commented on #826
@heikomat link to repo please

_Sent from my Google Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-31 01:36] heikomat commented on #826
@yakov116 the repo from the screenshot is not public. But here is an issue that has the exact same problem, from a repo that is public: https://github.com/5minds/typescript-guidelines/issues/5

[2017-07-31 01:38] k0shk0sh commented on #826
This is a textView and therefore we can't have it behave like in html nor have a proper syntax highligting.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-31 01:38] #826 closed

[2017-07-31 01:39] heikomat commented on #826
ok, thanks for the info :)

[2017-07-31 01:42] Vampire opened #827 "Dead Slack link"
In `ISSUE_TEMPLATE.md`, `CONTRIBUTING.md`, `README.md` and two places in the actual app there is a link to the public Slack channel https://rebrand.ly/fasthub, but this link is dead. If you follow it, you are told:

[2017-07-31 01:42] k0shk0sh commented on #826
@heikomat thanks for understanding :)

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-31 01:52] yakov116 commented on #827
@kutsan up we need an updated link..

_Sent from my Google Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-31 01:55] k0shk0sh commented on #827
@yakov116 I'll do it & maintain the link myself don't want to bother Kutsan about it everytime

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-31 02:01] yakov116 commented on #827
@k0shk0sh also I don't think it can be updated using the GraphQl

_Sent from my Google Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-31 02:07] Vampire opened #828 "Nested lists are rendered differently than on GitHub"
I don't know wheter you want to follow GitHub closely or made it differently intentionally.
If the latter, just close the issue please.

[code]

is rendered on GitHub as

![grafik](https://user-images.githubusercontent.com/325196/28760068-166d234c-75a4-11e7-9223-e552eb4c90be.png)

and on FastHub as

![grafik](https://user-images.githubusercontent.com/325196/28760144-a530dab0-75a4-11e7-9538-2df025b

[2017-07-31 02:10] k0shk0sh commented on #828
Its not about staying close or far from GitHub, its about you understanding the limitation that Android has, things might look exactly the same in any `MD` file because they are rendered in an HTML which will behave exactly like in GitHub, but when displaying these stuff in `TextView` we are doing all the work to render these properly by HAND not CSS involved so it'll be impossible to do everythin

[2017-07-31 02:10] #828 closed

[2017-07-31 02:14] Vampire commented on #828
I understood already that it is hand-rendering. But this would not prevent you from using different list counter schemes for the lists, would it? As I said, it is also totally okay if you say you don't like to do it, but you like how it is, or that you say you don't want to make the effort to change it unless someone contributes it.

[2017-07-31 02:15] k0shk0sh commented on #828
the whole problem with this isn't that I don't want to do, its because its almost impossible for me to know whether they are roman number, bullet or any other type

https://github.com/k0shk0sh/FastHub/blob/9fca99c270dbf2268977adbcb27503ccd50e65d2/app/src/main/java/com/fastaccess/provider/timeline/handler/ListsHandler.java#L16-L16

[2017-07-31 02:22] #827 closed

[2017-07-31 02:26] Vampire commented on #828
Hm, if I interpret this correctly from a quick look, you have rendered HTML and try to translate it to text and you have the DOM accessible. This class handles the `<li>` element and for getting the number you count the preceding `<li>` siblings and for ordered vs. non-ordered you check the parent about whether it is an `<ol>` or `<ul>`. But why not simply going recursively through the parents to

[2017-07-31 02:26] k0shk0sh commented on #827
@Vampire please check the slack link again.

[2017-07-31 02:36] Vampire commented on #827
@k0shk0sh yep, worked now. You are aware that you didn't fix the code occurences? just want to make sure. :-)

[2017-07-31 02:37] k0shk0sh commented on #827
@Vampire code occurences? Didn't get that, could you tell me what are you referring to?

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-31 02:37] yakov116 commented on #827
@k0shk0sh in the app...

_Sent from my Google Nexus 9 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-31 02:39] Vampire commented on #827
@k0shk0sh app/src/main/java/com/fastaccess/ui/modules/settings/SlackBottomSheetDialog.java and app/src/main/java/com/fastaccess/ui/modules/about/FastHubAboutActivity.java also contain that link

[2017-07-31 02:41] k0shk0sh commented on #827
@Vampire owh dang. thanks :)

[2017-07-31 02:45] k0shk0sh commented on #816
Yep, that would happen, for example, you got a notification however you opened the email for example & the notifications were marked as read but then you opened fasthub which then didn't really yet started its next checking therefore the cached notifications locally has an unread notifications :'(, this has been fixed locally but not according to this issue but with another issue so the next versi

[2017-07-31 02:45] #816 closed

[2017-07-31 02:50] k0shk0sh commented on #827
-------
Hello

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-31 03:53] k0shk0sh commented on #809
**FastHub Version: 4.0.3**
**Android Version: 7.1.2 (SDK: 25)**
**Device Information:**
- MANUFACTURER: samsung
- BRAND: samsung
- MODEL: SM-G930F
---

Some formatting combinations are not rendered correctly by FastHub.

This should be all possible combinations for manual review. Actually two do not even work correctly on GitHub itself. I reported this to GitHub already.

**bold / code**

- ``` **

[2017-07-31 03:54] k0shk0sh commented on #809
------

Hello

-------

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-31 03:55] k0shk0sh commented on #809
**FastHub Version: 4.0.3**
**Android Version: 7.1.2 (SDK: 25)**
**Device Information:**
- MANUFACTURER: samsung
- BRAND: samsung
- MODEL: SM-G930F
---

Some formatting combinations are not rendered correctly by FastHub.

This should be all possible combinations for manual review. Actually two do not even work correctly on GitHub itself. I reported this to GitHub already.

**bold / code**

- ``` **

[2017-07-31 06:21] Vampire commented on #816
I think you maybe misinterpret the issue. There *are* unread notifications. If I go to the `All` tab, they are listed and shown in unread style, if I go to the `Unread` tab, nothing is shown, even after manual reload. Yet the notification bell is blue. This also was like that, right after installing and logging in, so no cached data available. It seems the app only shows the unread notifications i

[2017-07-31 06:30] k0shk0sh commented on #816
Owh, the app will only show last 7 days notifications in unread.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-31 06:36] Vampire commented on #816
Yeah, those others are older than 7 days. But it is still confusing that the bell is blue, you tap on it and you get to the Unread tab that is empty. Maybe to make it clearer the bell should only be blue if Unread will show something and the tab renamed to `Unread (last 7 days)` or something like that, to make it clear why there can be a deficiency.

[2017-07-31 06:38] k0shk0sh commented on #816
Your issues are pretty much confusing to be honest, how would it show there are unread but there is no unread? As I mentioned in my first reply then, once next version is released please give it another try.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-31 07:22] k0shk0sh commented on #825
I looked over my code & everything seems to be fine

according to [GitHub API](https://developer.github.com/v3/activity/events/#list-events-for-an-organization) & [FastHub called API](https://github.com/k0shk0sh/FastHub/blob/master/app/src/main/java/com/fastaccess/data/service/OrganizationService.java#L43-L43) i'm calling the right path so now i'm a bit confused tbh with you.

[2017-07-31 07:37] heikomat commented on #825
@k0shk0sh according to the code, you are calling `orgs/{username}/events`, which according to the GitHub-API:

If you look at the very end of the GitHub-AOI-Page you linked, you'll find

and the path for that is `/users/:username/events/orgs/:org`

[2017-07-31 07:39] k0shk0sh commented on #825
isn't this event for the specific user in an org and not the whole? org

[2017-07-31 07:41] k0shk0sh commented on #825
well, I hope not because I just updated it to that :D

[2017-07-31 07:42] heikomat commented on #825
@k0shk0sh correct, it is

I'd guess, that if you use the username of the logged-in user there, you should get all the organisation-events the user can see, which is exactly what you'd expect, isn't it?

[2017-07-31 07:43] k0shk0sh commented on #825
@heikomat I guess so, thanks for catching that up :) , really appreciate your help :)

[2017-07-31 16:47] Vampire commented on #816
I'm really sorry, I always try to make my issue reports as clear and detailed as possible, so that they are understandable, especially by developers. If you don't understand something I write, don't hesitate to ask about it. :-)

Yes, the blue bell could actually be the caching issue you mentioned and I'll have an eye on it after the next version is released. Do you have a rough estimate when this

[2017-07-31 17:02] yakov116 commented on #816
@Vampire i think it would be very helpful if you would look over the github API doc's.

You would understand much more what we can and can't do.

_Sent from my Nexus 9 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-31 23:22] Vampire opened #830 "Input help for Emojis"
**FastHub Version: 4.0.3**
**Android Version: 7.1.2 (SDK: 25)**
**Device Information:**
- MANUFACTURER: samsung
- BRAND: samsung
- MODEL: SM-G930F
---

It is hard to remember the dozens of emojis that are possible. It would be cool if there would be a button like the link, image, ... buttons for inserting Emojis where all Emojis from http://www.emoji-cheat-sheet.com/ are listed and can be filtered

[2017-07-31 23:50] Vampire commented on #816
@yakov116 I know the API docs, I even used the API myself already. But what's your point?

My point is, that in the `All` tab there are unread notifications shown, that are not shown on the `Unread` tab, which is pretty confusing. I also don't know why you put a 7 days limit on the `Unread` tab. But if you do, you should make clear that the tab is only showing a subset of the unread messages poten

[2017-08-01 00:39] k0shk0sh commented on #830
Why don't you use your keyboard to insert emojie? Aren't they the same after all?

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-01 00:41] k0shk0sh commented on #816
@Vampire please search here & play store then you'll know why.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-02 09:15] k0shk0sh commented on #781
This has been fixed an matter of fact, I have added FastScroller for every screen in FastHub :)

[2017-08-02 10:47] ShineYang opened #831 "Chinese translation"
**FastHub Version: 4.0.3**
**Android Version: 7.0 (SDK: 24)**
**Device Information:**
- MANUFACTURER: samsung
- BRAND: samsung
- MODEL: SM-G9500
---

 Chinese support ?

_Sent from my Samsung SM-G9500 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-02 10:49] k0shk0sh commented on #831
Settings / App language & choose either traditional or semplified

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-02 10:49] #831 closed

[2017-08-02 10:54] ShineYang commented on #831
@k0shk0sh Thx ,I didn't see that just now.

_使用 [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github) 从我的 Samsung SM-G9500 发送_

[2017-08-02 11:33] Vampire commented on #830
No, not really. If I use the keyboard, then the Unicode character is inserted that represents that Emoji. It then depends on the displaying client to have a glyph for that Emoji and it also can look differently on each client.

If you insert a Markdown Emoji like `:this:`, the Markdown renderer translates the Emoji sequence to an image that is the same for everyone. And also the set of valid Emoji

[2017-08-02 11:35] k0shk0sh commented on #830
Hmmm, as much as it sound valid FR, but honestly currently I have no interest on implementing it so I'll keep this open until I'm done with everything else.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-02 11:39] Vampire commented on #830
Sure, no problem. I don't expect FRs to be done immediately. But if it is reported, it is documented at least and if someone searches something to contribute, she can also find it. :-)

[2017-08-02 13:37] k0shk0sh commented on #567
@IzzySoft hello Izzy, any news on this?

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-02 15:17] IzzySoft commented on #567
No more "manual corrections" necessary. F-Droid still yields a warning about a missing icon – but ends up having the correct one linked, so I simply ignore the warning. FastHub 4.0.2 and 4.0.3 seem to have been pulled from here and added to my repo just fine, and I don't remember any "error report" in addition to the one above – so I'd say "all green".

Though for cleanliness we should address tho

[2017-08-02 15:18] k0shk0sh commented on #567
@IzzySoft awesome, glad to hear that Izzy.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-02 15:19] #567 closed

[2017-08-03 15:39] Busimus opened #833 "Jerky scrolling through README"
**FastHub Version:**  4.0.3
**Android Version:**  7.1.2 (official LineageOS 14.1)
**Device Information:**
- MANUFACTURER: Xiaomi
- BRAND: Xiaomi
- MODEL: Mi5
---

I'm having issues with scrolling while reading the README. The menus on the top and bottom keep popping up and down erratically, creating a very unpleasant scrolling experience, even though I'm making very smooth scrolling motions. It ha

[2017-08-03 15:39] yakov116 commented on #833
@Busimus I think this was fixed already it was a fast scroller issue

[2017-08-03 15:42] k0shk0sh commented on #833
@yakov116 not related.

@Busimus I'm aware of that,  imo you are fighting the nestedScroll by doing that and not really smooth scrolling you are intentionally holding your finger and scrolling up & down which trigers that, if you for example scrolled properly this wont happen.

I'll try and fix that.
Thank

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/det

[2017-08-03 15:57] Busimus commented on #833
@k0shk0sh I'm scrolling up and down to showcase it. I initially noticed it while "scrolling properly".
[Here's a great example](https://streamable.com/4q8ud) you can examine frame-by-frame if you wish -- my finger never stops moving up, yet the page does the opposite of what that motion means.

[2017-08-03 17:00] nyuszika7h opened #834 "Support stargazers links"
**FastHub Version: 4.0.3**
**Android Version: 7.1.2 (SDK: 25)**
**Device Information:**
- MANUFACTURER: LGE
- BRAND: google
- MODEL: Nexus 5X
---

Currently, when you click a link like [this](https://github.com/pakastin/open-source-flash/stargazers), the app simply takes you to the repository instead of showing who starred the repo.

_Sent from my Google Nexus 5X using [FastHub](https://play.googl

[2017-08-03 17:03] yakov116 commented on #834
@nyuszika7h Please wait on all Feature request's for another 2 weeks

Thanks for your feedback

[2017-08-03 20:58] joehillen commented on #823
I was going to post a new issue, but this one seem relevant enough.

I was trying to read [this RFC](https://github.com/nikomatsakis/nll-rfc/blob/master/0000-nonlexical-lifetimes.md) on FastHub and the linebreaks are different than in a mobile browser.

Let me know if I should put this in a new issue.

_Sent from my Google Nexus 6P using [FastHub](https://play.google.com/store/apps/details?id=com.

[2017-08-03 21:02] joehillen commented on #823
Oh! This is extra weird.

When I click on the link in my above comment it looks correct, but if I tap the back arrow at the top and tap on the file it renders wrong.

_Sent from my Google Nexus 6P using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-04 00:26] k0shk0sh commented on #823
@joehillen hello there,

This is called navigation pattern, use bottom back key if you want to back where you left or up back key to navigate into stack. also I suggest you reading about Android navigation, home up & up.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-04 00:38] joehillen commented on #823
The problem is not the navigation. I was describing the behavior in detail so that you could reproduce the problem.

The rendering is different (one right, and one wrong) depending on how you get to the file. Can you see the difference in the linebreaks?

My wild guess is that there is a problem with when the screen dimensions are calculated.

_Sent from my Google Nexus 6P using [FastHub](https://

[2017-08-04 00:40] k0shk0sh commented on #823
@joehillen could you please take screenshot of what you referring to? Readme has improved locally so I really don't know what u referring to.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-04 01:49] joehillen commented on #823
*Correct:*
![](http://i.imgur.com/zyCbprx.png)

*Incorrect:*
![](http://i.imgur.com/88dZQ0I.png)

If you can't see the incorrect version, be sure to try navigating away and back like I discribed above.

_Sent from my Google Nexus 6P using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-04 03:19] cozyplanes opened #835 "Change invitation link"
**FastHub Version: 4.0.3**
**Android Version: 5.0.1 (SDK: 21)**
**Device Information:**
- MANUFACTURER: LGE
- BRAND: lge
- MODEL: LG-F460L
---

 Change Join Slack to Join Discord

It is a quick fix, right?

[2017-08-04 03:20] k0shk0sh commented on #835
Yep, in different branch I guess I have changed these, in master I guess readme only has been changed, could you point me to where you find join slack?

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-04 03:20] #835 closed

[2017-08-04 03:20] k0shk0sh commented on #835
#827

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-04 03:21] cozyplanes commented on #835
In about screen

[2017-08-04 03:22] k0shk0sh commented on #835
Owh, I'll have to make a release first :p

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-04 03:22] cozyplanes commented on #827
Hey, i thought you said you will shut down slack... Change to discord

[2017-08-04 03:22] cozyplanes commented on #827
@k0shk0sh

[2017-08-04 03:24] k0shk0sh commented on #827
@cozyplanes slack wont be shutdown however all links should be changed to discord. You gotta wait until next release in order for it to reflect in app

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-04 03:28] cozyplanes commented on #738
Maybe you can just show the `Raw` file

@k0shk0sh

[2017-08-04 03:30] k0shk0sh commented on #738
@cozyplanes aware of that, will try n make it on next release.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-04 19:04] Vampire commented on #823
@joehillen I see the same behaviour you describe, but I don't think this is related to this issue. I'd say you should open a separate issue about it.

[2017-08-04 19:09] Vampire commented on #823
@yakov116 an update to the two formats that are rendered "wrongly" on GitHub itself. I reported this to GitHub, but actually the rendering is correct regarding the spec, it is just not like the user expects because there are some edge-cases that are not handled nicely by the spec, so I'd say FastHub should render them the same GitHub does, even if it is unexpected for the user. I edited the initia

[2017-08-04 19:41] Vampire opened #838 "Linebreaks go lost in Markdown preview"
**FastHub Version: 4.0.3**
**Android Version: 7.1.2 (SDK: 25)**
**Device Information:**
- MANUFACTURER: samsung
- BRAND: samsung
- MODEL: SM-G930F
---

If you are in Markdown editor preview, linebreakes go lost. If you e. g. create a new comment and enter

[code]

then the preview displays

[code]

instead. Normal view rendering works fine.

[2017-08-04 19:50] Vampire opened #839 "Code Language Selector"
**FastHub Version: 4.0.3**
**Android Version: 7.1.2 (SDK: 25)**
**Device Information:**
- MANUFACTURER: samsung
- BRAND: samsung
- MODEL: SM-G930F
---

When pressing the code block button, it would be nice to get a filterable list of valid language names to select from (including the option to select none).

Also when positioning the caret after the opening three backticks or within a language str

[2017-08-04 19:56] Vampire opened #840 "Table Support in the Markdown Editor"
**FastHub Version: 4.0.3**
**Android Version: 7.1.2 (SDK: 25)**
**Device Information:**
- MANUFACTURER: samsung
- BRAND: samsung
- MODEL: SM-G930F
---

A button that helps with creating tables like e. g. the buttons for links or images would be great. It could ask for the amount of rows, or it could even allow you to enter your data in tabular form, generating the according Markdown afterwards.

A

[2017-08-04 20:06] Vampire opened #841 "Markdown Editor is confused about preview mode vs. edit mode"
**FastHub Version: 4.0.3**
**Android Version: 7.1.2 (SDK: 25)**
**Device Information:**
- MANUFACTURER: samsung
- BRAND: samsung
- MODEL: SM-G930F
---

Unfortunately I'm currently unable to reliably reproduce the problem, but I'm reporting it anyway to have it documented and maybe you see the problem in the code.

Sometimes the following happened to me:
- edit in Markdown editor
- press the previe

[2017-08-04 21:03] Vampire opened #842 "Links and Images are inserted at end instead of at the caret"
**FastHub Version: 4.0.3**
**Android Version: 7.1.2 (SDK: 25)**
**Device Information:**
- MANUFACTURER: samsung
- BRAND: samsung
- MODEL: SM-G930F
---

When entering links or images with the respective button in the Markdown editor, the produced Markdown is inserted at the end of the existing text instead of where the caret was at the time the button was pressed.

[2017-08-04 21:24] yakov116 commented on #839
@Vampire please wait on all feature requests for another 2 weeks

[2017-08-04 21:24] yakov116 commented on #840
@Vampire you opened an issue already about this please keep all the issues together

[2017-08-04 21:24] #840 closed

[2017-08-04 21:27] Vampire commented on #839
@yakov116 I don't expect it to be implemented right away, but this way it is documented. And actually kosh told me to create issues for the points I have in mind.

[2017-08-04 21:30] yakov116 commented on #842
@Vampire please make an issue will all the markdown issues a one

[2017-08-04 21:30] #842 closed

[2017-08-04 21:30] Vampire commented on #840
@yakov116 not that I'm aware of, what issue do you mean? If you mean the closed #804, then please read koshs comment. He asked me to create dedicated issues for the individual points.

[2017-08-04 21:31] yakov116 commented on #839
@Vampire Thank you fr all the issues you have brought up! its really good to ave you around just this it will be easier if you would list you FR's in one place so we can squash all the bugs first

[2017-08-04 21:32] yakov116 commented on #840
@Vampire You are correct. But the table was actually fixed in the debug build.

As for the table I explain in that issue that there is no way you an have table support.

[2017-08-04 21:34] Vampire commented on #842
@ya which issues exactly do you want me to merge? I'm used to separate issues that are individual, so that you can fix and close the issues individually. If you practice this differently in FastHub, I fear I need some guidance on how you prefer your issues.

[2017-08-04 21:35] yakov116 commented on #842
@Vampire Sure.

All issues that have to do with the markdown and editor should go in one issue.

Take a look at the Pull request that is open to see how I made my list

[2017-08-04 21:37] Vampire commented on #839
@ya do I get you right, that you want me to list all FRs in one issue? Especially after kosh told me to create individual issues? I'm slightly confused to be honest.

[2017-08-04 21:39] yakov116 commented on #839
@Vampire Yes please do make it all one issue. I will make sure they are looked at.

The best is list format with check boxes.

If you dont to merge all the tickets that would be the best

[2017-08-04 21:40] Vampire commented on #840
The table display is not part of this issue, just the table creation and editing. And after you said it is hardly possible, kosh said it is a great idea and asked me to create a separate issue for this. And as this is mainly koshs project as far as I understood, I did what _he_  told me.

[2017-08-04 21:41] Vampire commented on #842
But then why did kosh tell me to create separate issues? *confused*

[2017-08-04 21:44] yakov116 commented on #840
@Vampire Understood.
If you don't mind my explaining.

When there are many issues open what happens is that things get lost. Just for your info I have my own private repo with about 20 FastHub ideas.
The reason they are not here is that they are only idea's and they will one day get implemented.

I think that @k0shk0sh did not see how good you are at finding issues, so he said to make a new issue

[2017-08-05 01:21] k0shk0sh commented on #842
@Vampire FR & issues are separate thing and will definitely be treated differently,
FR = issue on its own.
Issue (related ones) = combined.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-05 04:18] Rukenshia opened #843 "Cannot login to Enterprise"
**FastHub Version: 4.0.3**
**Android Version: 8.0.0 (SDK: 26)**
**Device Information:**
- MANUFACTURER: Google
- BRAND: google
- MODEL: Pixel
---

 Whenever I click on the Enterprise button on login, I see a message telling me some kind of Warning regarding the GitHub API. The warning keeps appearing and I have no way to log in to my Enterprise instance. I also had to login with GitHub.com to repo

[2017-08-05 04:20] k0shk0sh commented on #843
Yes, first thing you need to do is logging in with your GitHub account then only you'll be able to login with Enterprise.

P.S: Enterprise is a premium feature, so once you login and click on add account you'll be promoted to purchase it to be able to login.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-05 04:21] #843 closed

[2017-08-05 08:52] Rukenshia commented on #833
I also just experienced this and it's very annoying (and maybe can be considered higher than a Low priority?). When I scroll, I always keep my finger on the screen and scroll slowly while I read. This makes it jerk even more which is somewhat annoying.

_Sent from my Google Pixel using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-05 11:15] k0shk0sh commented on #833
@Rukenshia its not something that really requires higher priority, you could ignore it at least for a second and then you'll be fine, there are more things that are higher than this.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-05 13:10] k0shk0sh commented on #843
@Rukenshia was I right about my assumption?

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-05 15:21] Rukenshia commented on #843
@k0shk0sh yes, it just didn't really understand the message at first (what it said there didn't make any sense in a context of just wanting to use an Enterprise account). I'm otherwise quite happy with the app so far, good work :)

_Sent from my Google Pixel using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-05 18:53] ixdy opened #844 "when editing labels on an issue/PR, only labels I'd added myself show up as selected"
**FastHub Version:** 4.0.3

I opened up https://github.com/kubernetes/kubernetes/pull/50052 with the intend to remove the `do-not-merge` label, but when I attempted to edit labels, I was confused, since no labels were selected in the menu. I selected `do-not-merge` from the list and saved, which ended up removing all other labels from the issue (not my intent). When I opened the list of labels aga

[2017-08-05 19:48] ixdy opened #845 "PR commit status display is missing contexts"
**FastHub Version:** 4.0.3

We have quite a few tests which run on every PR, with test results added to the commit status on GitHub.
Many of these statuses are produced by the same tool, and so we use the status context to differentiate.

On GitHub's web UI, this looks something like
![screen shot 2017-08-05 at 12 45 13 pm](https://user-images.githubusercontent.com/8061296/28998290-10586444-79dc-1

[2017-08-06 01:47] yakov116 commented on #845
@ixdy this is in middle of being fixed int he revamping_timline branch. We are switching to the new github api and it may take another week until it's implemented

_Sent from my Google Nexus 9 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-06 01:47] #845 closed

[2017-08-06 02:00] k0shk0sh commented on #844
@ixdy thanks for your descriptive ticket.

I don't that this is the case, for FastHub it doesn't matter where the labels were labeled.

Is the do not merge label is in second pagination? If so maybe it could be then problem, I'm in a vacation right now and going to be back later today, as soon as I as arrive I'll dig in into this.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.

[2017-08-06 02:01] k0shk0sh commented on #843
@Rukenshia sorry about that, I'll look into rephrasing the warning.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-06 02:46] k0shk0sh commented on #845
Dup of #814

 however as @yakov116 mentioned, now we are switching for Graphql for the PR timeline and that will be out within coming weekend hopefully.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-06 05:49] zt515 opened #846 "The markdown view is mixed with HTML"
**FastHub Version: 4.0.3**
**Android Version: 6.0 (SDK: 23)**
**Device Information:**
- MANUFACTURER: Meizu
- BRAND: Meizu
- MODEL: M5 Note
---
Here is the [Markdown File](https://github.com/NeoTerm/NeoTerm-wiki/blob/master/NeoLang-Introduction-zh.md) in the screenshot.
Screenshot:
![s70806-134031](https://user-images.githubusercontent.com/9902643/29000916-88052b9e-7a40-11e7-8f82-ff7743ab7d73.jpg)

[2017-08-06 05:49] #846 closed

[2017-08-06 06:19] k0shk0sh commented on #846
![](http://i.imgur.com/WaJgqsO.png)

[2017-08-07 07:04] fxedel opened #847 "Update branch"
**FastHub Version: 4.0.3**
**Android Version: 7.1.1 (SDK: 25)**
**Device Information:**
- MANUFACTURER: bq
- BRAND: bq
- MODEL: Aquaris X5 Plus
---

Reproduce:
1. Create a feature branch with a single commit and open a PR.
2. Push another commit to the master branch.
3. On desktop, I can click "Update branch" in order to merge the newest commit from my master branch into my feature branch. I'd lik

[2017-08-07 07:10] k0shk0sh commented on #847
@fxedel thanks for opening the FR, however this isn't possible in GitHub API.

Maybe my search skills aren't good enough, but if you find a way in github API, feel free to reopen this issue.

[2017-08-07 07:10] #847 closed

[2017-08-07 07:15] k0shk0sh commented on #841
That means that FastHub is recovering my process death (your device decided to kill FastHub). its not something that instantly happen, if it is then let me know.

[2017-08-07 07:18] k0shk0sh commented on #839
@Vampire & @yakov116  please keep things simple,

@Vampire  logically, if (many FRs/Issues) related to the same feature please put them in one place, but don't mix with FRs & issues.  I'd go with what @yakov116 suggested, since most of your issues/frs are related to one place & they just takes away visibility from what I should be seeing when I go to Issues.

Now what happened has happened, so kee

[2017-08-07 07:21] k0shk0sh commented on #838
Please use two new lines instead.

[2017-08-07 07:21] #838 closed

[2017-08-07 16:24] ixdy commented on #844
We do have a lot of labels in our repository, and many are missing from even just the menu, so pagination is likely at play here.

[2017-08-07 16:25] ixdy commented on #844
in particular, kubernetes/kubernetes has [176 labels](https://github.com/kubernetes/kubernetes/labels).

[2017-08-07 16:26] k0shk0sh commented on #844
@ixdy it's definitely the cause then, please bare with me until this weekend and it should be in that release.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-07 16:45] ixdy commented on #844
great, thanks! I'll wait for the next release and will update here when it arrives.

[2017-08-07 20:37] Daniel15 opened #848 "Show phone name rather than model number in signature?"
When I leave a comment using FastHub, it adds a signature like this:

I think it would be nicer if it mentioned the model name ("Galaxy S8") rather than model number ("SM-950U"). There's a Java library to do this: https://github.com/jaredrummler/AndroidDeviceNames

[2017-08-07 20:38] yakov116 commented on #848
@Daniel15 Bingo! it's in the process of being done. I did it just never committed yet....

Thanks for your feedback

[2017-08-07 20:38] #848 closed

[2017-08-07 20:38] Daniel15 commented on #848
Nice, glad to hear! Thanks for the great app. 😃

[2017-08-08 00:10] k0shk0sh commented on #848
@yakov116 have you managed to make it work? Or should I go ahead for it?

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-08 00:12] yakov116 commented on #848
@k0shk0sh I got it to work just need help on one small thing

[2017-08-08 00:13] k0shk0sh commented on #848
@yakov116 alright, give me an hour and I can join you via TeamViewer

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-08 01:36] yakov116 commented on #848
Yup it's working

_Sent from my Nexus 9 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-10 15:17] zvirja commented on #673
It's really a must-have feature. Usually I use a lot of emoji and it's pretty hard to remember all their names. Another great feature would be see how they look on Github, as some of them looks different from what you expect :)

[2017-08-11 05:57] LeapingDragon opened #856 "Feature: Show recently viewed repos"
**App Version: 2.1.0**

**OS Version: 23**

**Model: LGE-LG-H850**

From the hamburger menu there should be a section to show a list of recently viewed repos for easy navigation. Often times I may accidentally click back too many times and leave a repo, or just want to refer to something I recently viewed.

[2017-08-11 06:01] k0shk0sh commented on #856
There is a pin functionality that you could use.

_Sent from my Galaxy S8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-11 06:01] #856 closed

[2017-08-11 06:02] LeapingDragon opened #857 "Make issue events into links"
**App Version: 2.1.0**

**OS Version: 23**

**Model: LGE-LG-H850**

I was surprised to find that when an issue event happens eg given a label, given a milestone etc this event is not a clickable link. It would very helpful for usability to be able to use these to redirect to the filtered issue view.

[2017-08-11 06:08] k0shk0sh commented on #857
That's good point, I'm not really sure where it has been mentioned before but please look it up if there is an issue open close this.

_Sent from my Galaxy S8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-11 07:46] k0shk0sh commented on #857
Labels, Milestones, Assignees would open the filter activity with whatever you clicked on.

[2017-08-11 10:16] yakov116 commented on #856
@LeapingDragon please update to the latest version. You are 2 master versions behind.

_Sent from my Google Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-11 10:17] k0shk0sh commented on #856
@yakov116 didn't realize that, dang!.

_Sent from my Galaxy S8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-11 10:35] LeapingDragon commented on #856
I'm on the latest F-Droid version, I don't see any updates

[2017-08-11 10:36] k0shk0sh commented on #856
@LeapingDragon well then its bad news, as FastHub dropped support to foss, you can download latest from the release page or tab in FastHub.

_Sent from my Galaxy S8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-11 14:22] Mxywes opened #858 "Scrolling animation on repo view"
**FastHub Version: 4.0.3**
**Android Version: 7.1.2 (SDK: 25)**
**Device Information:**
- MANUFACTURER: OnePlus
- BRAND: OnePlus
- MODEL: ONEPLUS A3003
---

 Hi, I don't know what is causing this but there is a rather annoying scrolling/panel hiding animation on the repo view. I know it's not a bug _per se_, but maybe it's fixable.

[![Thumb](https://img.youtube.com/vi/Xz0q8eZbiGg/0.jpg)](https://

[2017-08-11 14:23] #858 closed

[2017-08-12 05:50] compumike08 opened #859 "JavaScript repo type label hard to see"
**FastHub Version: 4.0.3**
**Android Version: 7.0 (SDK: 24)**
**Device Information:**
- MANUFACTURER: samsung
- BRAND: samsung
- MODEL: SM-T713
---

 For repositories which are predominantly JavaScript, the yellow text of the JavaScript label is very hard to see against the white background of the app.

![](http://i.imgur.com/9vpaHKA.png)

_Sent from my Samsung SM-T713 using [FastHub](https://play

[2017-08-12 05:52] k0shk0sh commented on #859
As far as you are literally right about that however people wanted GitHub's language color and that's what you get out of it. So I can't change it either. :'(

_Sent from my Galaxy S8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-12 05:52] #859 closed

[2017-08-14 01:41] DavidAylaian opened #860 "Commits Inside of FastHub"
**FastHub Version: 4.0.3**
**Android Version: 7.1.2**
**Device Information:**
- MANUFACTURER: LGE
- BRAND: google
- MODEL: Nexus 5X
---
FastHub would be the perfect GitHub client for me if I was able to make commits inside of the app. It would either work similar to how GitHub's online commits do or, even better, you're able to edit multiple files and then make one commit for all of the edits. The

[2017-08-14 05:52] k0shk0sh commented on #773
Test

_Sent from my Galaxy S8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-14 12:52] chainsol opened #861 "Default to Signature On"
**FastHub Version: 4.0.3**
**Android Version: 7.0 (SDK: 24)**
**Device Information:**
- MANUFACTURER: motorola
- BRAND: motorola
- MODEL: Moto G (5) Plus
---

 Quite an annoying behavior of this app is the default to adding a signature to all comments.

This should be an opt-in feature, or at the very least, shouldn't hide itself by not appearing while I'm editing a comment.

[2017-08-14 12:54] k0shk0sh commented on #861
Hi @chainsol thanks for coming here, if the (`Checkbox`) above the keyboard that shows `sent from my device using FastHub` isn't appearing then you are literally right, its annoying & its something that can be disabled forever or on every comment depending on your settings, could you confirm that it isn't appearing when adding/editing a comment?

[2017-08-14 12:56] chainsol commented on #861
I've reenabled the feature but have the checkbox currently unchecked - let's see if I get a signature. :)

[2017-08-14 12:56] k0shk0sh commented on #861
If you are wondering here is what I'm referring to:

![](http://i.imgur.com/PJou0xl.png)

_Sent from my Galaxy S8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-14 12:58] k0shk0sh commented on #861
@chainsol apparently you didn't have signature in your comment 😋

_Sent from my Galaxy S8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-14 13:02] k0shk0sh commented on #861
@chainsol you won't see it because it isn't added until the end to not distract you from what you typing, it depends on the  - [x]  if it was enabled or not.

_Sent from my Galaxy S8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-14 13:02] chainsol commented on #861
@k0shk0sh oh, I did! I used the checkbox to turn it back off, haha! Here's a handy-dandy signature enabled post.

_Sent from my Motorola Moto G (5) Plus using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-14 13:06] chainsol commented on #861
@k0shk0sh there is an actual bug regarding this feature - when editing a comment the app has previously added a signature to, but with the signature feature turned off, I can't remove the signature.

_Sent from my Motorola Moto G (5) Plus using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-14 13:08] k0shk0sh commented on #861
@chainsol was the comment body empty? if it was then it definitely won't be deleted 😕

@yakov116 can you debug on this?

[2017-08-14 13:09] chainsol commented on #861
@k0shk0sh I currently have the feature disabled, but it keeps defaulting the signature back on, and when editing the previous post, I can't remove the signature. Heh, this is actually why I posted that review! The behavior is buggy.

[2017-08-14 13:11] k0shk0sh commented on #861
@chainsol i'm abit lost, let me try and produce it and once I did, i'll fix it and will be in next release, could you in the meantime disable it at all?

[2017-08-14 13:13] chainsol commented on #861
@k0shk0sh
To reproduce:
- post a comment with the signature feature enabled
- disable both the signature checkbox and auto-signature
- edit the original comment

The app won't show you that the comment has a signature, and won't allow you to remove it. Saving the edited comment also turns back on the auto-signature.

[2017-08-14 13:15] k0shk0sh commented on #861
Owh, that make sense then, because the signature will be removed from the text lol.

Thanks, you saved me plenty of time trying to produce it.

[2017-08-14 13:16] chainsol commented on #861
@k0shk0sh
Haha, no worries. The app works so well for everything else, I'll be happy to see this bug fixed!

[2017-08-14 13:18] k0shk0sh commented on #861
it'll :), i'll close it with a commit so you can be notified, thanks for your help.

[2017-08-14 13:52] yakov116 commented on #861
@k0shk0sh actually this was reported already in #620

[2017-08-15 02:26] sevenupcan opened #863 "Actionbar auto hide feature could be implemented better"
**FastHub Version: 4.0.3**
**Android Version: 7.1.2 (SDK: 25)**
**Device Information:**
- MANUFACTURER: Google
- BRAND: google
- MODEL: Pixel
---

Hello. Thanks for listening to my feedback. I wanted to raise a point about the auto hiding feature of the action bar as I find it really frustrating to use.

I find it frustrating because the screen jumps around when you slowing scroll the page down/up

[2017-08-15 02:31] sevenupcan commented on #863
Having looked at this a bit more closing I believe it may be a bug rather than implementation.

When I navigation to a repository and scroll gradually down the page the actionbar appears and dissapears repeatedly.

This issue doesn't seem to happen on other screens.

[2017-08-15 02:31] k0shk0sh commented on #863
@sevenupcan thanks for opening the ticket, i'm aware of that & it will be fixed very in next release.

[2017-08-15 02:31] #863 closed

[2017-08-15 02:32] k0shk0sh commented on #863
the quirking only happen in Readme.

[2017-08-15 21:31] tom-ando opened #866 "'You reached the impossible' on some Settings screens"
**FastHub Version: 4.0.3**
**Android Version: 7.1.1 (SDK: 25)**
**Device Information:**
- MANUFACTURER: OnePlus
- BRAND: OnePlus
- MODEL: ONEPLUS A3003
---

 On some Setting screens, such as customization, backup, notification or anything else apart from the top two options, when the screen is rotated everything disappears and a little notification comes up saying 'You reached the impossible :'('

[2017-08-15 22:22] kylemart opened #867 "Can't view my private repositories"
**FastHub Version: 4.0.3**
**Android Version: 7.1.2 (SDK: 25)**
**Device Information:**
- MANUFACTURER: Google
- BRAND: google
- MODEL: Pixel XL
---

When viewing a private repository I own, I'm getting a 'not found' error.

_Sent from my Google Pixel XL using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-15 23:33] yakov116 commented on #867
@kylemart in the readme?

_Sent from my Nexus 9 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-16 01:20] k0shk0sh commented on #867
Could you please elaborate? You are getting 404 for what exactly? You said you can't view yet you mentioned when viewing. So I'm abit confused.

_Sent from my Galaxy S8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-16 01:21] k0shk0sh commented on #866
😂😂😂 does it happen occasionally or sometimes? Its due to the app is being killed and couldn't restore from process death.

_Sent from my Galaxy S8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-16 06:14] tom-ando commented on #866
Well I just opened it then (wasn't open at all, but I no process ect), went
straight to settings and pressed notification and rotated the screen. No
big deal, I just saw that little comment and thought I'd bug you with it :)

On 16 Aug. 2017 11:21 am, "Kosh Sergani" <notifications@github.com> wrote:

[2017-08-16 06:38] k0shk0sh commented on #866
@tom-ando at first I was crashing the app but then found out that there are some devices that had this help  happened to them so I show the massage only 😁

_Sent from my Galaxy S8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-16 06:59] whisperity opened #868 "Indicate if a pull request is open/closed/merged on the pull request's screen"
**App Version: 3.2.0**

**OS Version: 23**

**Model: Xiaomi-Redmi 4X**

Currently there is no way to easily see if a PR is merged or closed or still open other than scrolling all the way down and seeing the last comments which would indicate a "close" or "merge" in the issue's history. Some texts exist in the title bar but it's not graphically apparent.

[2017-08-16 07:58] k0shk0sh commented on #868
Isn't the top text under the PR name is enough to indicates that?

_Sent from my Galaxy S8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-16 07:58] #868 closed

[2017-08-16 07:59] k0shk0sh commented on #868
![](http://i.imgur.com/0iQAgfZ.png)

![](http://i.imgur.com/dheUvQ8.png)

_Sent from my Galaxy S8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-16 18:59] wendsday opened #870 "Don't know how to connect Enterprise account"
**FastHub Version: 4.0.3**
**Android Version: 7.1.2 (SDK: 25)**
**Device Information:**
- MANUFACTURER: Google
- BRAND: google
- MODEL: Pixel
---

 Hi there. I'm a designer with an Enterprise account. I just upgraded my fasthub app so I can add an Enterprise account but now that I have the option, I don't know what to do next. Do you have documentation on this?

Thanks!

_Sent from my Google Pixel

[2017-08-16 19:00] yakov116 commented on #870
@wendsday which part are you having issues with?

[2017-08-16 19:32] cpriest opened #871 "Color schemes / themes dont work"
**FastHub Version: 4.0.3**
**Android Version: 7.0 (SDK: 24)**
**Device Information:**
- MANUFACTURER: samsung
- BRAND: samsung
- MODEL: SM-G955U1
---

 Color schemes show When selecting them however the background color doesn't change and when viewing code from Repository the color theme is not present. The theme chooser just has a bunch of duplicated entries that don't seem to do anything, even a

[2017-08-16 19:33] yakov116 commented on #871
@cpriest Which theme are you trying to change?

[2017-08-16 20:45] #833 closed

[2017-08-16 21:37] wendsday commented on #870
I'm not sure which credentials to use and I don't understand the explanation when I tap on "login with oauth"

[2017-08-16 21:40] yakov116 commented on #870
@wendsday

[2017-08-16 23:42] k0shk0sh commented on #870
Click on ( your profile name in the drawer menu) then click on add account, choose Enterprise and please login either via Access Token or basic auth as Github does support Oauth in Enterprise accounts.

I hope that explain it.

_Sent from my Galaxy S8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-16 23:43] #870 closed

[2017-08-16 23:44] k0shk0sh commented on #871
I'm not sure what are you referring to? Could you please screenshot your issue or take a video that shows the steps to produce your issue?

_Sent from my Galaxy S8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-17 00:08] cpriest commented on #871
@k0shk0sh you know I just went in and tried it again and realized that I slide left to right to choose a theme and could choose a dark background theme, after which I can see my color scheme is showing.

I was confused on my end by the UI. Used to a color scheme to set the background color of code as well.

_Sent from my Samsung SM-G955U1 using [FastHub](https://play.google.com/store/apps/details?

[2017-08-17 00:10] k0shk0sh commented on #871
Owh, you didn't hit the apply button 😁.
Glad you solve it.

_Sent from my Galaxy S8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-17 00:10] #871 closed

[2017-08-17 00:24] cpriest commented on #871
Actually I didn't realize at first try that I could swipe left/right to
choose a different theme.  I thought the 'gibberish sample entries' were
the theme choices.  When I went in this time I realize I could swipe
left/right to choose the theme.

Thanks!

[2017-08-17 00:27] GeorgeWL opened #872 "Html code is visible when ad fails to load"
**FastHub Version: 4.0.3**
**Android Version: 7.1.1 (SDK: 25)**
**Device Information:**
- MANUFACTURER: Sony
- BRAND: Sony
- MODEL: E6653
---

 My assumption is it's a issue with the module that's serving the ads, but I haven't checked for certain.

It doesn't happen every screen,  seems to be infrequently,  I'd say one in every 5 view changes.

![screenshot](http://i.imgur.com/kawnVLt.png)

[2017-08-17 00:29] GeorgeWL commented on #867
@k0shk0sh I'm not able to speak for them,  but my best guess is they intended to say

[2017-08-17 00:29] k0shk0sh commented on #872
@GeorgeWL long time no see 😁, I suggest you to disable the ad as FastHub no longer inlcude them & its officially removed by next release.

_Sent from my Galaxy S8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-17 00:29] #872 closed

[2017-08-17 00:32] k0shk0sh commented on #867
@GeorgeWL but he is viewing it 😕 so I guess the message is due to something in the repo that isn't there such as no files in the repo. I'll have to wait for his reply even tho I have plenty of closed issue to something related to it.

_Sent from my Galaxy S8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-17 03:53] wendsday commented on #870
@yakov116

The enterprise info didn't work.
I don't know how to create a token - can you link to a step by step guide?

@k0shk0sh I need more guidance than that. Basic Auth didn't work and I don't know how to do the Access Token thing.

[2017-08-17 03:57] k0shk0sh commented on #870
@wendsday could you tell me what error message you receiving? If there is any?

The guide is straight forward if you followed the steps correctly above you should end up logging in.

Have you entered the right Enterprise url?

Could you please be more specific on what have you tried/steps you did?

_Sent from my Galaxy S8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fast

[2017-08-17 17:22] apwall opened #875 "Issues by repository"
**FastHub Version: 4.0.3**
**Android Version: 7.0 (SDK: 24)**
**Device Information:**
- MANUFACTURER: LGE
- BRAND: lge
- MODEL: LG-H918
---

 Hello,
Is it possible to view issues and filter by repository? I manage multiple project teams and this would be a huge help to me.

Thanks,
Andy

_Sent from my Lge LG-H918 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-17 17:23] yakov116 commented on #875
@apwall Can you be a bit more specific? as to where you would like to do this?

[2017-08-17 17:33] apwall commented on #875
On the main screen where it says Issues they were all lumped together.
However, I just realized that if I click to my company account, I was able
to click on a particular repository and see those issues.

Ideally, it would be a filter on the main screen.  But, I have to go to
Organizations-->Tap Organization --> Tap over to Repositories --> Tap
Repository-->Tap Issues

This is actually workable fo

[2017-08-17 17:45] yakov116 commented on #875
@apwall Glad it works for you!

If you go to an issue from the main screen you can click the up button (top right of the screen) to go to the repo's issues

[2017-08-17 17:45] #875 closed

[2017-08-17 19:32] wendsday commented on #870
Of course!

Here, I chose `Enterprise`
![screenshot_20170817-122938](https://user-images.githubusercontent.com/840674/29430062-d17a37aa-8347-11e7-8a64-ea2e8bfc0e26.png)

I then tried entering my credentials, which I didn't think would work because If I wanted to log into my enterprise account in my browser, I'm taken to my organization auth page. But I tried it anyway:
![screenshot_20170817-121848

[2017-08-17 19:35] yakov116 commented on #870
@wendsday can you generate a access token? I dont have an enterprise account so i don't know exactly where to direct you. it should be under the settings of your account.

[2017-08-17 19:36] wendsday commented on #870
Let me try that. I assume you mean that it's in the settings of my enterprise GitHub account ?

_Sent from my Google Pixel using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-17 19:38] yakov116 commented on #870
@wendsday yes

[2017-08-17 22:34] wendsday commented on #870
Hah! That was easier than I thought.
I was doing the wrong thing - creating a new OAuth Application instead of creating a Personal Access Token. I used that instead of the OAuth password in the login page and it worked. Thanks!

[2017-08-17 23:34] yakov116 commented on #870
@wendsday yw glad it worked enjoy!

_Sent from my Nexus 9 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-17 23:54] k0shk0sh commented on #875
@apwall alternatively, use pin to pin repos and access them more faster from the drawer.

_Sent from my Galaxy S8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-18 00:02] tjhrulz opened #876 "Doze in Android O causes fasthub to never show notifications"
**FastHub Version: 4.0.3**
**Android Version: 8.0.0 (SDK: 26)**
**Device Information:**
- MANUFACTURER: Huawei
- BRAND: google
- MODEL: Nexus 6P
---

 Title says it all, disabling doze optimizations causes notifications to happen normally

[2017-08-18 00:05] k0shk0sh commented on #876
We use Job schedules to run the notifications relying on firebase, unfortunately we can do much unless we use Push notifications to do that.

Its really normal thing. As Github doesn't send push notifications instead FastHub goes by itself and grab latest.

_Sent from my Galaxy S8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-18 00:05] #876 closed

[2017-08-18 00:31] mati865 commented on #824
On Xperia Z1 stock 5.1.1 there are at least 2 kinds of errors:
[code]
And
[code]

[2017-08-18 00:42] k0shk0sh commented on #824
@mati865 what version are you using?

_Sent from my Galaxy S8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-18 00:44] mati865 commented on #824
@k0shk0sh the same as OP latest 4.0.3 from Google Play.

[2017-08-18 00:50] k0shk0sh commented on #824
@mati865 any custom rom? Or stock? I might just remove firebase integration at all and rely on official jobScheduler since this cause plenty of drama, could you disable notifications at all from settings

_Sent from my Galaxy S8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-18 02:58] k0shk0sh commented on #861
starting next release, the checkbox will be no longer there & the signature could only be enabled from settings or via a `FastHub` markdown icon which is located at the icon of the markdown icons.

[2017-08-18 03:43] #867 closed

[2017-08-18 07:41] mfoysal opened #877 "Notify on pull request"
**FastHub Version: 4.0.3**
**Android Version: 7.1.1 (SDK: 25)**
**Device Information:**
- MANUFACTURER: OnePlus
- BRAND: OnePlus
- MODEL: ONEPLUS A3003
---

Not  much of an issue but a feature request. I would really like a notification when someone requests a pull request.

[2017-08-18 09:47] #877 closed

[2017-08-18 09:48] k0shk0sh commented on #877
This isn't possible as we don't rely on hosted server to do, but Github api which doesn't provide a push notifications service

[2017-08-18 10:26] mati865 commented on #824
@k0shk0sh customized stock 5.1.1 but I'm planning to migrate to custom 7.1 in following days since touch driver got fixed.

[2017-08-20 16:01] k0shk0sh opened #878 "Handle search links"
**FastHub Version: 4.0.3-debug**
**APK Source: Unknown**
**Android Version: 7.0 (SDK: 24)**
**Device Information:**
- **Manufacturer:** samsung
- **Brand:** samsung
- **Model:** SM-G950F
---

 As per the title, search links opens up as a user instead of opening up the search screen.

_Sent from my Galaxy S8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-21 02:46] shmilyoo opened #879 "screen flicker when sliding on repo page with HuaWei Mate8 android7"
**FastHub Version: 4.0.3**
**Android Version: 7.0 (SDK: 24)**
**Device Information:**
- MANUFACTURER: HUAWEI
- BRAND: HUAWEI
- MODEL: HUAWEI NXT-AL10
---

 It looks like due to the repo name and star/foke... area.
when sliding down , this area will hide. And then my phone's screen start twinkling. The area show hide again and again cause twinkling.

_Sent from my HUAWEI NXT-AL10 using [FastHub](ht

[2017-08-21 02:47] k0shk0sh commented on #879
Please search for issue before submitting new one.

Thanks

[2017-08-21 03:03] shmilyoo opened #880 "search history and browsing history"
**FastHub Version: 4.0.3**
**Android Version: 7.0 (SDK: 24)**
**Device Information:**
- MANUFACTURER: HUAWEI
- BRAND: HUAWEI
- MODEL: HUAWEI NXT-AL10
---

you mentioned in #121，when type the first letter , there will be a search history start with the first letter.
Have you ever think about to implement a full search history show in the searching page？
And a browsing repo history page？ thanks, a g

[2017-08-21 03:05] k0shk0sh commented on #880
Hi,

When I said search, I mean going to fasthub repo, clicking on issue tab, and clicking on the fab buttom will showup a list that has search so you only search in fasthub repo.

[2017-08-21 03:05] #880 closed

[2017-08-21 03:45] #879 closed

[2017-08-22 05:17] k0shk0sh commented on #438
This has been done & now commenting is in place. while editing comment will remain in the Editor.

[2017-08-22 05:20] #635 closed

[2017-08-22 05:21] #418 closed

[2017-08-22 13:50] GeorgeWL opened #882 "Suggestion: Maybe a Skeleton view like Facebook / Alipay might be cool"
**FastHub Version: 4.0.3**
**Android Version: 7.1.1 (SDK: 25)**
**Device Information:**
- MANUFACTURER: Sony
- BRAND: Sony
- MODEL: E6653
---

 some examples :

https://github.com/ethanhua/Skeleton
https://github.com/elye/loaderviewlibrary

What do you think?

[2017-08-22 13:54] k0shk0sh commented on #882
I have thought it and actually made a PR to a similar library so I could use it in FastHub, but was throwing away with other things that kept me busy of it.

Not so sure what value does this adds honestly but my idea was to use it in  (PR, Issue, Commit & Repo Screen) since I know ProgressDialog is depecrated.

the meantime I have no interest to do this and if anyone wants to PR it that'd be great

[2017-08-22 13:54] #882 closed

[2017-08-23 10:58] GeorgeWL commented on #882
@k0shk0sh well I know Facebook etc use it as a way to make loading over slow connection feel more smooth.

But effectively doing the Skeleton until all the assets load properly, then when they're in carrying on like usual

[2017-08-24 07:36] #818 closed

[2017-08-24 07:36] #819 closed

[2017-08-24 07:36] #822 closed

[2017-08-24 07:36] #825 closed

[2017-08-24 07:36] #830 closed

[2017-08-24 07:36] #844 closed

[2017-08-24 07:36] #857 closed

[2017-08-24 07:36] #861 closed

[2017-08-24 07:36] #866 closed

[2017-08-24 07:36] #878 closed

[2017-08-24 07:36] #452 closed

[2017-08-24 07:36] #781 closed

[2017-08-24 07:36] #809 closed

[2017-08-24 07:36] #810 closed

[2017-08-24 07:36] #813 closed

[2017-08-24 07:36] #814 closed

[2017-08-24 07:36] #817 closed

[2017-08-24 07:50] #803 closed

[2017-08-24 07:51] k0shk0sh commented on #752
these comments are now displayed in the PR.

[2017-08-24 07:51] #752 closed

[2017-08-24 07:53] alekksander commented on #478
@k0shk0sh
How about sorting only by recently active?

[2017-08-24 08:03] k0shk0sh commented on #478
@alekksander its definitely possible https://api.github.com/users/alekksander/starred?sort=updated

Wouldn't that eliminate seeing the latest repos you starred?

[2017-08-24 08:43] alekksander commented on #478
dunno. to go with the filter would be the perfect choice.

[2017-08-24 12:11] sschuberth opened #884 "Deleted branch names are not resolved"
**FastHub Version:**  4.0.3
**Android Version:**  6.0.1
**Device Information:**  Samsung S6

If a source branch was deleted after merging a PR, FastHub displays just `head ref deleted` in the events. It would be nice if `head` was resolved to the actual branch name.

[2017-08-24 12:13] k0shk0sh commented on #884
yep, I found this today and didn't get around it. I'll see about it.

[2017-08-24 12:17] k0shk0sh commented on #884
wanted to ask, are you using production or debug apk?

[2017-08-24 12:19] sschuberth commented on #884
Production, straight from the store.

[2017-08-24 13:27] MarkBennett opened #886 "Feature request: Autocomplete names of users in issues"
**FastHub Version: 4.0.3**
**Android Version: 7.1.2 (SDK: 25)**
**Device Information:**
- MANUFACTURER: Google
- BRAND: google
- MODEL: Pixel
---

 I always try to mention people directly in issues when it makes sense. It would be brilliant if FastHub autocompleted these for me as I often have to switch to my browser or discard a post to check the names of people. It would be great if this worked

[2017-08-24 13:49] yakov116 commented on #884
@k0shk0sh I don;'t think there is a simple way to do this without GraphQl. Don't think its worth putting in time when it will be fixed with that.

[2017-08-24 13:50] yakov116 commented on #886
@MarkBennett Great idea. If i am not wrong this has been done quite some time ago. If you type the first letter of the user it will show it on top of your keyboard

[2017-08-24 14:24] k0shk0sh commented on #886
in next release to mention someone all you to do is click on reply since the comment will be in place and won't need to go to new screen

[2017-08-24 14:25] #886 closed

[2017-08-24 14:41] MarkBennett commented on #886
Thanks guys. I'll try again!

On Thu, Aug 24, 2017, 8:25 AM Kosh Sergani <notifications@github.com> wrote:

[2017-08-25 05:27] mistermantas opened #887 "Images that are uploaded from the app aren't using HTTPS"
**FastHub Version: 4.0.3**
**Android Version: 7.0 (SDK: 24)**
**Device Information:**
- MANUFACTURER: samsung
- BRAND: samsung
- MODEL: SM-G930F
---

Most (good) sites now use HTTPS, that little green padlock on the browser toolbar shows if a site is secure and encrypted.

Images that are uploaded using the Fasthub app have their links with the `http` prefix. This therefore breaks the padlock beca

[2017-08-25 05:31] k0shk0sh commented on #887
buildConfigField "String", "IMGUR_URL", '"https://api.imgur.com/3/"'

obviously I'm using https, GitHub then uses their own image urls so you better be speak to GitHub about it.

[2017-08-25 05:31] #887 closed

[2017-08-25 05:49] mistermantas commented on #887
@k0shk0sh Uh, no.

You're using HTTPS *just* for the API. The fact that Imgur returns a non-TLS URL is, well, I don't really know why that's the case. Probably for backwards compatibility. You could just use the returned URL and add an "S" to the end of https if it's not there.

(I assume you know that you're using Imgur for uploads, not GitHub. There's no way for me to talk to Imgur so there you

[2017-08-25 05:52] k0shk0sh commented on #887
![Hello](http://i.imgur.com/dy2BxnB.png)

[2017-08-25 05:54] k0shk0sh commented on #887
I'm confused, GitHub should use their god damn image urls because they convert it, so I'm not really what has happened 😕

[2017-08-25 07:14] k0shk0sh commented on #887
![](https://i.imgur.com/cpHuNKY.png)

[2017-08-25 07:45] k0shk0sh commented on #823
most of them has been fixed & the rest I don't think I'll ever fix them

[2017-08-25 07:45] #823 closed

[2017-08-25 07:46] k0shk0sh commented on #824
FastHub now ships its own fork of Firebase to avoid the crash!!

[2017-08-25 07:46] #824 closed

[2017-08-25 07:47] k0shk0sh commented on #673
Please do use the shipped Emojies in FastHub from next version 4.1.0 as now FastHub supports GitHub emojis `:confused:` for example and it will render properly.

[2017-08-25 07:47] #673 closed

[2017-08-25 07:49] zvirja commented on #673
@k0shk0sh Thanks for that. Could you please also confirm that you will use the same render as GitHub? It's quite important, as usually I choose smile by look, rather than by meaning..

[2017-08-25 07:51] k0shk0sh commented on #673
they won't really look asame but they are identical only skin maybe different but the names are correct. I'm trying to avoid to load them as an api call to render the images. instead I have them locally and depending on Android version they will be rendered

[2017-08-25 08:01] k0shk0sh commented on #673
they will look like below

![](https://i.imgur.com/DtmqmGg.png)

[2017-08-25 08:04] zvirja commented on #673
Would it be possible in that case to have a pack with GitHub smileys instead locally? Or at least the setting, to switch to them?

They look a bit differently as the current skin and this thing is worrying me. As I mentioned above, I pick up smileys by comparing how they look and the ones above looks completely different. I believe I'm not the only one who does so. Given that it's a core feature o

[2017-08-25 08:06] k0shk0sh commented on #673
not really possibe unless I render them base on their url.
you still have to write the name in GitHub anyway to be able to see the emoji so the search is there for you to do something like that.

[2017-08-25 08:23] zvirja commented on #673
Usually I use [this](https://gist.github.com/rxaviers/7360908) page to pick up a smile by look. It will be very inconvenient to use that page on mobile.

Is there any issue to pack all the smileys icons to the local db and later use them instead of the system look? I could help to grab smileys to some particular format if needed..

[2017-08-25 08:42] sschuberth commented on #884
Doesn't it make sense to keep this open as a reminder until this *is* implemented, regardless of *how* it's being implemented (GraphQL or not)?

[2017-08-25 08:43] k0shk0sh commented on #884
Its fixed? isn't the problem is that when you open a PR that has the branch
deleted you get an error? if that's the case then its fixed

*Thanks.*
*Best Regards,*
*Kosh*

<https://about.me/imkosh?promo=email_sig>

On Fri, Aug 25, 2017 at 10:42 AM, Sebastian Schuberth <
notifications@github.com> wrote:

[2017-08-25 08:56] sschuberth commented on #884
No, I was not getting an error. It's purely a display issue. See this screenshot to clarify:

![fasthub](https://user-images.githubusercontent.com/349154/29706992-fad15f42-8983-11e7-8d3e-be67ef79a588.png)

Like in the [web interface](https://github.com/heremaps/gradle-jenkins-jobdsl-plugin/pull/44), the branch name "readme-2.0.0" should be displayed instead of just "head".

[2017-08-25 09:09] k0shk0sh commented on #884
owh dang, I thought its something really different lol

[2017-08-25 09:11] k0shk0sh commented on #884
looking at this response:

[code]

I don't think its possible, anyway you could actually figure out the name by looking under the title in the header which will tell you the branch name.

[2017-08-25 09:11] #884 closed

[2017-08-25 09:22] sschuberth commented on #884
Well, with GraphQL it *is* possible: https://developer.github.com/v4/reference/object/headrefdeletedevent/

Also, as the branch name does not change during a PR, couldn't you just re-display the branch name from the title header instead of displaying the even name?

[2017-08-25 09:24] k0shk0sh commented on #884
Well, I have spent a month with Graphql for PR timeline & it delayed the update of FastHub until today & just two days ago I have reverted back to use v3 but with different API. so until GitHub fix their freaking API I'm going to stay away from Graphql at least for PR timeline.

[2017-08-25 10:38] mistermantas commented on #887
Ah, GitHub proxies all images to `cameo` to make sure HTTPS never breaks. That’s my quick assesment of it, anyway. So I guess it doesn’t really matter if the images are linked with HTTP or HTTPS.

[2017-08-25 10:42] k0shk0sh commented on #887
@mistermantas yep, anyway I have changed that.

[2017-08-25 11:22] sid-maddy opened #888 "Replace Slack invite link with Discord link in About"
**FastHub Version: 4.0.3**
**Android Version: 7.1.2 (SDK: 25)**
**Device Information:**
- MANUFACTURER: Xiaomi
- BRAND: Xiaomi
- MODEL: Redmi 4X
---

[For quick access](https://github.com/k0shk0sh/FastHub/blob/master/app/src/main/java/com/fastaccess/ui/modules/about/FastHubAboutActivity.java#L146)

_Sent from my Xiaomi Redmi 4X using [FastHub](https://play.google.com/store/apps/details?id=com.fast

[2017-08-25 11:25] k0shk0sh commented on #888
hey thanks for noticing that, please do search for an issue before submitting new one. 👍

[2017-08-25 11:25] #888 closed

[2017-08-26 00:23] GroovinChip opened #889 "Pinned repos are gone"
**FastHub Version: 4.0.3**
**Android Version: 8.0.0 (SDK: 26)**
**Device Information:**
- MANUFACTURER: Google
- BRAND: google
- MODEL: Pixel XL
---

Opened up FastHub to look at pinned repos to find that they were gone.

_Sent from my Google Pixel XL using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_