[2017-05-20 13:03] deavmi commented on #507
Sure I did. Works in my browser.

[2017-05-20 13:05] k0shk0sh commented on #507
@deavmi owwh, now I noticed that the readme is deep within the repo.

[2017-05-20 14:08] deavmi commented on #507
Sorry that I wasn't clear.

[2017-05-20 14:09] deavmi commented on #507
Using relative links also.

[2017-05-20 22:24] adueppen opened #515 "Clicking a link to create an issue opens the "Submit feedback" screen"
- FastHub Version: 2.1.0
 - Android Version: 7.1.2
 - Phone Model: Nexus 6P

Clicking on any link to create an issue in a repository and opening with FastHub will open the app's "Submit feedback" screen and will automatically fill the description field with the app and device info. Submitting it will create a new issue in the repository in the URL that was clicked.

Test page: [https://adueppen.gi

[2017-05-21 02:22] k0shk0sh commented on #515
@adueppen it worked fine for me it just that it says submit feedback :D

[2017-05-21 02:24] yakov116 commented on #515
@k0shk0sh open the link in a browser and then open with fasthub

_Sent from my HTC Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-21 02:26] k0shk0sh commented on #515
@yakov116 yea, the link will open in browser, and the issue posted in the repo that is tied to his, so I'm not sure what are you referring to?

[2017-05-21 03:27] adueppen commented on #515
Something that I think could help the issue somewhat is displaying the name of the repo that the issue is being submitted to in the app bar as a subtitle. I can probably make a quick mockup tomorrow.

[2017-05-21 03:47] #515 closed

[2017-05-21 06:07] k0shk0sh commented on #515
the subtitle now displayed as well.

[2017-05-21 18:15] Younes-L opened #516 "Feature request : jump to top by tapping on the currently displayed tab"
**App Version: 2.1.0**

**OS Version: 25**

**Model: OnePlus-A0001**

 Alternatively just add fast scrolling everywhere...

[2017-05-21 20:47] deavmi opened #518 "UI fix needed"
**App Version: 2.1.0**

**OS Version: 22**

**Model: samsung-SM-N910F**

 Wheb pressing the "i" for information button of a repository the mesaage that pops up should not have a cancel button.

[2017-05-21 20:50] yakov116 commented on #518
@deavmi this has been reported. Its not a simple fix and may take some time.

Thanks for your feedback

[2017-05-21 20:50] #518 closed

[2017-05-21 21:00] deavmi commented on #450
BTW There should be a donate button for bitcoin.

[2017-05-21 21:32] deavmi commented on #518
That whole dialog needs a redesign. Maybe give it arguments to enable the Cancel or not.

[2017-05-21 21:33] deavmi commented on #518
Maybe a function with an enum for the pop up type.

Enum MessageType
{

    Cancellable, Default;

}

[2017-05-21 21:52] yakov116 commented on #518
@deavmi I have been told by @jedi the following
I just haven't found a solution for that yet. May need to redo the way it's made. :confused:

[2017-05-21 22:59] k0shk0sh commented on #518
@yakov116 that dialog is being used everywhere :D . Its an easy fix & doesn't effect behavior of app nor break it so its in my lowest priority, I'll do it tonight.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-22 05:08] deavmi opened #519 "Assignees not loading for me"
**App Version: 2.1.0**

**OS Version: 22**

**Model: samsung-SM-N910F**

 Assignees are not loading for my repi HaikuDocs.

[2017-05-22 06:48] k0shk0sh commented on #519
https://github.com/k0shk0sh/FastHub/issues/436

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-22 06:49] #519 closed

[2017-05-22 08:51] deavmi commented on #518
Cool bru. BTW I love this app and its design - very sexy.

[2017-05-22 14:47] k0shk0sh opened #520 "Login via browser"
**App Version: 2.1.0**

**OS Version: 25**

**Model: htc-m8**

 Login via browser while user isn't signed in chrome will cause user to never be able to login because FastHub listens to GitHub urls.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-22 17:48] deavmi opened #521 "GitHub's markdown Emoji's Support `Example: :heart:`"
**App Version: 2.1.0**

**OS Version: 22**

**Model: samsung-SM-N910F**

 Add support for GitHub's emojis like in the profile description.

[2017-05-22 17:54] yakov116 commented on #521
@deavmi Where are you not seeing emoji's?

![image](https://cloud.githubusercontent.com/assets/16872793/26321755/1f745ed6-3ef6-11e7-843f-97dffa9b37d3.png)

[2017-05-22 18:05] deavmi commented on #521
Not seeing the :heart:

[2017-05-22 18:08] yakov116 commented on #521
![image](https://cloud.githubusercontent.com/assets/16872793/26322261/251c8c3a-3ef8-11e7-9e9c-eb02a1a62941.png)

[2017-05-22 18:29] deavmi commented on #521
Are you putting Unicode emojis in there?

I mean that I want to get `:heart:` which is part of GitHub's amrkdown I assume to render.

[2017-05-22 18:31] yakov116 commented on #521
@deavmi nope i'm using  `:heart:`

[2017-05-22 18:33] yakov116 commented on #521
Can you take a screenshot of what you see?

[2017-05-22 18:33] deavmi commented on #521
Oh. Vreemd. I am using the FDroid version of the app? Are the builds behind?

[2017-05-22 18:34] deavmi commented on #521
I literally just see the literal `:heart:`.

[2017-05-22 18:35] yakov116 commented on #521
OK if that's the case then this is fixed in the next build. It will be released in the next day or 2.

[2017-05-22 18:35] deavmi commented on #521
Oh okay. Thanks. :)

[2017-05-22 18:35] deavmi commented on #521
👍

[2017-05-23 12:20] #317 closed

[2017-05-23 12:25] #520 closed

[2017-05-23 14:28] Apply55gx commented on #516
It would be great if it also would be possible to create an option for the app to use OrBot.

[2017-05-23 14:29] k0shk0sh commented on #516
@Apply55gx orbot? What's that

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-23 14:31] yakov116 commented on #516
@k0shk0sh a TOR project but i thing he posted it in the  wrong issue

[2017-05-23 15:46] nyuszika7h commented on #232
I can still add reactions an unlimited number of times on 2.1.0.

[2017-05-23 15:49] yakov116 commented on #232
@nyuszika7h but upon refresh its gone no?

[2017-05-23 15:50] nyuszika7h commented on #232
Nope, I have to press the back button and go back to the issue for it to be gone.

Normally you can also take away your reaction by clicking on it again, so this is pretty confusing.

[2017-05-23 15:50] nyuszika7h commented on #232
Nope, I have to press the back button and go back to the issue for it to be gone.

Normally you can also take away your reaction by clicking on it again, so this is pretty confusing.

[2017-05-23 15:53] yakov116 commented on #232
@nyuszika7h in other words we have a bug. Unable to remove an emoji!

[2017-05-23 16:19] phanimahesh opened #522 "Navigating back from viewing a commit in a PR opens repo home page instead of list of commits"
**App Version: 2.1.0**

**OS Version: 24**

**Model: motorola-Moto G (5) Plus**

###  Steps to reproduce:
1. Open any repo
2. Go to PRs
3. Open any PR
4. Switch to commits tab
5. Tap on any commit
6. Try to navigate back using in app icon.

### What is expected?
App returns to viewing all commits in PR. Imagine wanting to review on the go. Any other behaviour would make it very inconvenient not to

[2017-05-23 16:22] yakov116 commented on #522
@phanimahesh I am only having the issue when using the app back icon

[2017-05-23 16:23] phanimahesh opened #523 "Using H1-H3 shortcuts when writing issues inserts hashes at cursor instead of beginning of line"
**App Version: 2.1.0**

**OS Version: 24**

**Model: motorola-Moto G (5) Plus**

 Title says it all

[2017-05-23 16:25] phanimahesh commented on #522
Android back key works? Let me verify again. Brb

[2017-05-23 16:27] yakov116 commented on #523
@phanimahesh Are you seeing somthing different than below?
![2017-05-23_12-27-01](https://cloud.githubusercontent.com/assets/16872793/26364713/371619f4-3fb3-11e7-8055-331160d0c8b5.gif)

[2017-05-23 16:31] phanimahesh commented on #522
Yep. Backkey works. Edited issue to update.

Also, after opening a commit, first tab should read changes or files instead of commits.

[2017-05-23 16:33] yakov116 commented on #522
@phanimahesh this a know issue in FastHub. For now try to only use the android back key.

[2017-05-23 16:35] phanimahesh commented on #523
Let me explain.
Type some stuff.
Then remember to mark one line as heading
Tap on a line above. Somewhere in the middle.
Tap h1 etc

I expect it to insert hashes at beginning of line. They are instead inserted at cursor, breaking the line oddly.

[2017-05-23 16:36] phanimahesh commented on #522
Thanks. Works for me for now. What about the tab label btw? Should I open a
new issue or pr?

On Tue 23 May, 2017, 22:04 yakov116, <notifications@github.com> wrote:

[2017-05-23 16:37] k0shk0sh commented on #232
In user point of view its a bug, but in terms of development & api limitations it's not,
1. There is no way I could tell if user liked the comment but loading all the users for reactions & loop through them to check that.
1. Fasthub taking care of your first like, wait a second & you shall be able to unlike it.
1. I have contacted GitHub about this, they said they considering adding proper api for

[2017-05-23 16:37] #232 closed

[2017-05-23 16:40] yakov116 commented on #523
@phanimahesh I now see the issue. But this is normal practise when using a shortcut in middle of a line

See below for my example

![2017-05-23_12-40-21](https://cloud.githubusercontent.com/assets/16872793/26365244/03f57e1e-3fb5-11e7-8cf8-08833d44b04d.gif)

[2017-05-23 16:41] k0shk0sh commented on #522
@yakov116 it's not a known issue nor a bug, its how Android framework behaves & its called `navigateUp` pressing that button will always navigate you to the proper way, while pressing home back button which is called `back` will navigate you accordingly to where you were.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-23 16:43] yakov116 commented on #522
@k0shk0sh I take that back "Know issue in android"

[2017-05-23 16:43] k0shk0sh commented on #522
@phanimahesh if you willing to PR that would be great, if you think that it might take time & you want it by tomorrows release, please open an issue for it.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-23 16:43] nyuszika7h commented on #232
I see. But if the user has already reacted within the current session in the app, that can be cached locally, and for the other cases, you should be able to just re-request the counts after the user reacts.

[2017-05-23 16:43] #522 closed

[2017-05-23 16:46] phanimahesh commented on #522
I assume it can be overridden? Current behaviour appears counterintuitive
for me. Can this be reconsidered?

On Tue 23 May, 2017, 22:13 kosh, <notifications@github.com> wrote:

[2017-05-23 16:47] k0shk0sh commented on #523
Didn't get you much, but isn't when you put the cursor on a word for example, pressing the header will actually break that line into new one which is the right behavior.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-23 16:48] #523 closed

[2017-05-23 16:48] phanimahesh commented on #523
Ah. Did not notice that. Never used shortcuts on web, they required mouse to be worth the trouble.

Closing then.

[2017-05-23 16:49] k0shk0sh commented on #232
@nyuszika7h I'm doing that, but once you click it multiple times at once, I can't do much, maybe a progress to hang you there until request is finished or disable that item until it's finished.
Please do open another issue instead.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-23 16:50] k0shk0sh commented on #523
@phanimahesh thanks for being understandable.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-23 16:53] k0shk0sh commented on #522
@phanimahesh well it definitely can be overridden, but that would be an issue for people that get used to it, in fact, it wasn't implemented at first but then few issues opened asking for it which I think its the right way :).
Clicking device back button if you need to back where you were, click navigateUp if for example you were in an issue, but you wanna go to its repo/ issue list assuming you o

[2017-05-23 16:55] k0shk0sh commented on #513
@gappleto97 hmm, I'll see what effort this might take to integrate with tor. Can't promise anything soon tho.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-23 17:12] phanimahesh commented on #522
If other users are used to it I guess I'll have to get used to using back
key then. Thanks for the explanation.

On Tue 23 May, 2017, 22:23 kosh, <notifications@github.com> wrote:

[2017-05-23 17:16] phanimahesh commented on #523
I maintained a once popular project so I understand the effort it takes. I
like the app and the fact that ads are opt in in settings and not even
nagged about on first run. Thanks for your efforts.

On Tue 23 May, 2017, 22:20 kosh, <notifications@github.com> wrote:

[2017-05-23 17:26] nyuszika7h opened #524 "Reaction buttons incorrectly increasing counts"
**App Version: 2.1.0**

**OS Version: 25**

**Model: LGE-Nexus 5X**

 This is a follow-up to #232, as I was told to open another issue.

It seems when you tap on a reaction button, the app always just increments the count by one, and the correct counts are only displayed if you press the back button and open the issue again (reloading doesn't seem to be enough).

Due to GitHub API limitations, thi

[2017-05-23 19:20] gappleto97 commented on #513
Here's the PR that added it to AntennaPod, if that helps.  https://github.com/AntennaPod/AntennaPod/pull/1732

[2017-05-24 09:01] githope opened #528 "Sort the list of followers & following"
Sort the list of followers in the profile page from the last to the beginning.

 - FastHub Version: 2.1.0

[2017-05-24 09:02] k0shk0sh commented on #528
#75  #331 , unfortunately it's not possible.

[2017-05-24 09:02] #528 closed

[2017-05-24 09:04] githope commented on #528
I'm sad

[2017-05-24 10:16] auscompgeek commented on #509
I'm also repeatedly receiving the same notification, except I keep receiving the notifications with the app open, and I'm on Android 5.0.

[2017-05-24 10:23] DreierF commented on #509
@k0shk0sh I played around with the notification settings for the past few days, but it didn't resolve the issue

[2017-05-24 13:01] yakov116 commented on #509
@k0shk0sh any update on this

_Sent from my HTC Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-24 13:19] #508 closed

[2017-05-24 13:19] #509 closed

[2017-05-24 13:25] k0shk0sh commented on #509
this bug was introduced when we migrated from firebase dispatcher to stock jobScheduler, since now we dropped support for fdroid, we could use firebase jobDispatcher without any hesitation.

[2017-05-24 19:01] yakov116 commented on #502
@k0shk0sh I think anonymous (in public gists) should have an icon, right now its just blank.
What ever icon you put for deleted users use for this too.

[2017-05-24 19:19] ildar opened #530 "Notification interval == off doesn't save from notifications"
**App Version: 2.1.0**

**OS Version: 23**

I suffer from https://github.com/k0shk0sh/FastHub/issues/483 . I have interval set to off. But that doesn't turn off notifications and I get a lot of them.
Please make the big OFF switch for notifications.

[2017-05-24 19:25] yakov116 commented on #530
@ildar #483 was fixed today and will be in the new release. We hope it  should be out tomorrow and this will fix your issue .

Thanks for your feedback

[2017-05-24 19:25] #530 closed

[2017-05-25 01:16] k0shk0sh opened #531 "Adding milestone to milestone dialog doesn't notify the adapter & choosing milestone doesn't close the dialog"

[2017-05-25 01:26] #481 closed

[2017-05-25 01:27] k0shk0sh commented on #455
This has been fixed in https://github.com/k0shk0sh/FastHub/commit/47d9a4810b8154feb7ef742ef903f109fcd80d3a

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-25 01:27] #455 closed

[2017-05-25 12:23] #531 closed

[2017-05-25 12:23] #495 closed

[2017-05-25 12:23] #502 closed

[2017-05-25 12:23] #516 closed

[2017-05-25 15:54] yakov116 opened #533 "Add 1 - 3 hour Notification timings"
@k0shk0sh and there is no default selected when just turning them on. I think that it's taking still the default value of "turn off"

[2017-05-25 17:35] k0shk0sh opened #534 "Clicking notification read all button doesn't work anymore"

[2017-05-25 18:57] chamini2 commented on #533
What about setting a [number picker](https://developer.android.com/reference/android/widget/NumberPicker.html) for the number and a select for `hours` or `minutes`

[2017-05-25 19:12] yakov116 commented on #533
@chamini2 its coming in 3.0

[2017-05-25 19:26] #346 closed

[2017-05-26 01:00] Younes-L opened #535 "Long pressing an issue/PR in their respective lists opens them"
**App Version: 2.1.0**
-------
It's counter intuitive; a long press should either do nothing (to deal with accidental taps), select, or bring context menu

[2017-05-26 08:41] Raffaele74 opened #536 "More "iusses""
I can view iusses opened (by me) and closed. If I search for iusses opened from others (and I answered) I cannot.

---

 - FastHub Version: Browser
 - Android Version: 6.0
 - Phone Model: VNS L31

[2017-05-26 08:43] k0shk0sh commented on #536
How would you search for that? you could see them from mentioned if they don't appear there could you point me how you could do that in GitHub?

[2017-05-26 08:51] Raffaele74 commented on #536
I did understand well.
This is project
https://github.com/carat-project/carat-android
It is iusses #2

[2017-05-26 08:53] Raffaele74 commented on #536
More. It was a child from a previous pull request.

[2017-05-26 08:56] k0shk0sh commented on #536
I couldn't really get you.

This is how I understand your question.

1- you can search for issues closed & opened by you. (definitely)
2- I can't search for issues answered by me. (how would you do that in GitHub?) as far as I know there is no way you could do that & haven't even seen that option anywhere in github.
3- You can search for issues by others, you just have to type their names in the s

[2017-05-26 09:11] Raffaele74 commented on #536
No. But solved searching iusses by "Carat". Very fine. Thanks you very much.

[2017-05-26 09:13] #536 closed

[2017-05-26 14:15] yakov116 opened #538 "Adding info dialog for long press on issue"
**App Version: 2.1.0**

**OS Version: 25**

**Model: HTC-Nexus 9**

 In a follow up to #535 it would be nice to have the following.

add that it should show a dialog with info
1 author
2. Time created
3. Last edited
4. Current labels
5. Milestone's added

_Sent from my HTC Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-26 14:26] #535 closed

[2017-05-26 14:26] #511 closed

[2017-05-26 14:26] #533 closed

[2017-05-26 14:26] #534 closed

[2017-05-26 15:01] k0shk0sh commented on #257
Idk why this issue is opened where it should be closed!.

[2017-05-26 15:01] #257 closed

[2017-05-26 17:36] andrew-lei opened #539 "Bug in syntax highlighting for Haskell"
Apostrophes, which are a valid part of function/variable names in Haskell, are interpreted as quotes, so parts between apostrophes are highlighted as strings.

**App Version: 2.1.0**

**OS Version: 25**

**Model: Huawei-Nexus 6P**

[2017-05-26 17:37] k0shk0sh commented on #539
Hello Andrew, thanks for reporting, could you provide a screenshot with the issue you described.

[2017-05-26 17:41] andrew-lei commented on #539
Note the blue lines.

![Screenshot](http://i.imgur.com/v9588mK.png)

[2017-05-27 06:25] k0shk0sh commented on #538
Hello this is a test from issue details popup.

[2017-05-27 06:38] k0shk0sh commented on #538
Hello this is a test

[2017-05-27 07:05] #538 closed

[2017-05-27 07:05] #447 closed

[2017-05-27 09:45] #503 closed

[2017-05-27 09:46] #521 closed

[2017-05-27 12:40] k0shk0sh commented on #502
This is a sneak peak

[2017-05-27 12:40] k0shk0sh commented on #502
Again

[2017-05-27 12:42] k0shk0sh commented on #502
Test @yakov116

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-27 13:25] dedepete opened #540 "Crash when tapping on open source libraries."
**App Version: 2.5.0**
**OS Version: 23**
**Model: Yota Devices Limited-YD201**

[2017-05-27 13:26] k0shk0sh commented on #540
Hmm, not with me tho. strange.

[2017-05-27 13:36] mistermantas opened #541 "Design: Match language colors"
This feature request is about the language colors which you can see when viewing a list of repositories, like in a profile.

The current colors are random. This is mildly annoying. It’d be neat to have all of the colors match just like on the GitHub website. [There's a good list](https://github.com/ozh/github-colors) of all the colors, so you could refer to that when solving this issue.

If there

[2017-05-27 13:41] k0shk0sh commented on #540
![](http://i.imgur.com/85OxOtb.png)

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-27 13:42] dedepete commented on #540
I'll upload a video when I get home.

[2017-05-27 13:43] k0shk0sh commented on #540
@dedepete sure, i'll wait for that :)

[2017-05-27 13:49] arkon opened #542 "Redundant about views"
**App Version: 2.5.0**

**OS Version: 25**

**Model: asus-Nexus 7**

 There's an about view in settings and one from the drawer which has more info. They should be merged into one.

[2017-05-27 14:03] #541 closed

[2017-05-27 14:04] mistermantas commented on #541
Did you really close this issue in 20 minutes? 😂 That's amazing.

[2017-05-27 14:05] k0shk0sh commented on #541
:p

[2017-05-27 14:07] mistermantas opened #543 "Truncate issue and comment date"
`25 seconds ago` can easily be turned into `25s ago` or even `25s`.

![Example](http://i.imgur.com/Jg66Yuw.png)

[2017-05-27 14:08] k0shk0sh commented on #543
small density?

[2017-05-27 14:09] k0shk0sh commented on #308
@AndreaCioccarelli this behaviour changed now, as we use same colors as in github. so the same color will remain there either in dark or light theme.

[2017-05-27 14:09] mistermantas commented on #543
Just change the long date format to a shorter one so I can read my username. ✌️

[2017-05-27 14:19] k0shk0sh commented on #543
hmmm, for the emoji, i see that you used android emoji yet i'm seeing my log something like

` ✌️` that space is what I guess causing the prob

[2017-05-27 14:19] mistermantas opened #544 "Show amount of started repositories"
Show the number of starred repos just like on the web.

![Current situation](http://i.imgur.com/4zsvi9H.png)

![What I want](http://i.imgur.com/yUifyKR.png)

[2017-05-27 14:22] mistermantas opened #545 "2 emoji show up as 1"
[In the app](http://i.imgur.com/q0KUXOu.png)

[On the web](http://i.imgur.com/ij4rFUN.png)

[2017-05-27 14:22] mistermantas commented on #543
Discuss in #545 for the emoji thing.

[2017-05-27 14:37] anastr commented on #540
the same crash when open repo, issue ...
**OS 21**.
[code]

[2017-05-27 14:46] k0shk0sh commented on #540
@anastr thank you man, I hate android 21, :'( I fixed that internally & expect an update within an hour or two.

[2017-05-27 14:51] #540 closed

[2017-05-27 14:51] #543 closed

[2017-05-27 14:51] kinglau66 opened #546 "Link not opening in fasthub"
**App Version: 2.5.0**

**OS Version: 25**

**Model: OnePlus-ONEPLUS A3003**

 Fasthub cannot open the github link. It work previously, before Google play updates.

[2017-05-27 14:52] k0shk0sh commented on #546
What link is it? Could you point me to it?

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-27 15:08] kinglau66 commented on #546
https://github.com/chaosbot/Chaos

I cannot open this repo link. But replies link such as the current link can be shown properly.

_Sent from my OnePlus ONEPLUS A3003 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-27 15:12] k0shk0sh commented on #546
thanks was waiting for your reply to make new release :)

[2017-05-27 15:13] #546 closed

[2017-05-27 15:57] k0shk0sh commented on #546
@kinglau66 please update to 2.5.1

[2017-05-27 16:07] GrimDevelopment opened #547 "Contribution's box lags."
**App Version: 2.5.1**

**OS Version: 25**

**Model: samsung-SM-N910P**

 When swiping left or right to and from the contribution's box via the profile page the app would lag.

[2017-05-27 16:09] k0shk0sh commented on #547
Yup, I'm aware of that as it's too much data to render especially if you are seeing someone's profile which has many contribution. I'll see what I can do about the drawing of the view & see if it could be improved

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-27 16:17] GrimDevelopment commented on #547
@k0shk0sh I am not to familiar with development as I am new but would something like this be helpful?

http://i.imgur.com/07GLGZs.png

[2017-05-27 18:06] kinglau66 commented on #546
@k0shk0sh thx, works perfectly now.

[2017-05-27 18:36] chamini2 opened #549 "Show multiple build statuses"
**App Version: 2.5.1**

**OS Version: 25**

**Model: LGE-Nexus 5X**

 Now we only see __one__ build output, I propose to show a summary (3 out of 4 passed) and make it clickable to show details.

[2017-05-27 19:01] StanNL commented on #511
I really like the new update! The app feels so complete now and I think you've implemented everything the GitHub API allows you to do.

However, this issue still hasn't been solved. Now, the app crashes when I scroll too far, which also isn't ideal

[2017-05-27 19:02] StanNL commented on #511
It might be because I scroll too fast.

[2017-05-27 19:08] StanNL commented on #511
But it also doesn't work when I don't

[2017-05-27 21:11] StevenMagdy opened #550 "Release notes in About"
**App Version: 2.5.1**

**OS Version: 21**

**Model: samsung-SM-N900**

You could show the release notes in About when Version is clicked.

_Sent from my Samsung SM-N900 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-28 00:34] k0shk0sh commented on #511
@StanNL that's weird, I have really test it well from the link you provided. Strange tho. I'll see what causes it and make release fixing it.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-28 00:35] k0shk0sh commented on #549
Link to pr to test with

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-28 00:55] k0shk0sh commented on #540
@anastr  @dedepete  do you guys confirm that it's fixed in `2.5.1` ?

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-28 01:05] k0shk0sh commented on #511
It's fixed, sorry about that, it will be in today's release

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-28 01:16] k0shk0sh commented on #545
✌️😁😋🤣😉😛👏

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-28 01:18] k0shk0sh commented on #545
somehow the peace sign only having this problem ✌ ✌️  as you see from the image below
![screen shot 2017-05-28 at 9 18 27 am](https://cloud.githubusercontent.com/assets/960767/26525307/a8b4afcc-4386-11e7-94c6-25092018d511.png)

[2017-05-28 03:22] eygraber commented on #323
@k0shk0sh does this story cover adding an initial comment on a line, or should a separate issue be created for that?

[2017-05-28 03:23] #323 closed

[2017-05-28 03:24] k0shk0sh commented on #323
@eygraber thanks for reminding me of this lol, there is an open issue for what you asked for :) hopefully soon

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-28 03:24] eygraber opened #552 "Order issues by description "thumbs up""
I think it would be cool if we could order the issues by the amount of thumbs up the description received, so that we can see what the most "requested" features are.

[2017-05-28 03:25] eygraber opened #553 "Adding an issue title as wrong"
If I add an issue, the title in the toolbar says "Submit feedback".

[2017-05-28 04:01] k0shk0sh commented on #553
this applies for FastHub only.

[2017-05-28 04:01] #553 closed

[2017-05-28 05:37] yakov116 commented on #542
@arkon was supposed to be done...  one of the many little things.

_Sent from my HTC Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-28 05:52] anastr commented on #540
Yes it is 👍 @k0shk0sh  good work.

_Sent from my Lenovo TB3-710F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-28 06:07] yakov116 commented on #550
@StevenMagdy no this will show if you have the latest version. There is a change log tab, go to setting and they about. (We know it's double it will be fixed soon)

_Sent from my HTC Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-28 06:08] #550 closed

[2017-05-28 06:25] #545 closed

[2017-05-28 06:32] mistermantas opened #554 "Add a setting that permanently hides the signature and formatting bar"
**App Version: 2.5.1**

The signature button takes up quite a bit of screen space as shown in this [screenshot](http://i.imgur.com/10B86Gg.png).

Perhaps it would be better to move it to the settings to permanently hide? Same goes for the formatting bar.

[2017-05-28 06:37] #554 closed

[2017-05-28 06:37] k0shk0sh commented on #554
There is an option in settings to remove it

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-28 06:37] mistermantas opened #555 "Let the user change the signature"
**App Version: 2.5.1**

“Sent from my Samsung SM-G930F using FastHub” is not a very appealing signature, I mean, do you know the model name by memory? That's an S7, but I wouldn't be able to guess.

This is a better “signature”:

But, you can't have that on FastHub yet. Unless I missed some setting…

[2017-05-28 06:39] k0shk0sh commented on #555
This isn't what the signature here means.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-28 06:39] #555 closed

[2017-05-28 06:40] mistermantas commented on #555
Sure, but it would still be useful.

[2017-05-28 06:40] mistermantas commented on #554
Apologies!

[2017-05-28 06:41] k0shk0sh commented on #555
@mistermantas if you were writing an email to your clients then it definitely is 😝

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-28 06:44] k0shk0sh commented on #554
missed the markdown bar part, I don't think that will be removed as its part of that screen, otherwise I just let you comment from place. it is going to remain there tho 😀

[2017-05-28 06:46] mistermantas commented on #555
Some companies do actually setup issue repositories, though, like Microsoft for their Bash on Windows program.

[2017-05-28 07:36] StanNL commented on #511
@k0shk0sh That's awesome! This app is getting better and better every single week and I really like it! This version feels more refined than ever before. There are a few tiny things that can be improved though.

1. It would be nice to be able to change your signature.
2. I believe the "teal" accent colour isn't teal.
3. And lastly, the reply/quote text you recently added gets cut off on the top, n

[2017-05-28 07:42] StanNL commented on #511
You used #00BEA5 for your "teal" color code, while it should be #009688 in my opinion, because this just looks like light blue. Not that it's a big issue, but feedback is always welcome, right?

[2017-05-28 07:51] StanNL opened #556 ""Scroll to bottom/top" button for issue comments"
---

 - FastHub Version: 2.5.1
 - Android Version: 7.1.2
 - Phone Model: Samsung kminilte

As you probably already know by now, I participate in some extremly long issue conversations with hundreds of comments, so it would be nice to have a button that allows me to scroll all the way to the bottom or back to the top of the conversation.

[2017-05-28 07:59] karthikbhyresh opened #557 "not responding followed by crashing"
**App Version: 2.5.1**

**OS Version: 22**

**Model: Micromax-Micromax E485**

 After this recent update the app is showing not responding followed by crashing whenever I try to pin a repository.. sometimes even when staring. It pauses at the shading animation and restarts. This cycle continues several times before it is finally pinned. pls fix asap.

_Sent from my Micromax E485 using [FastHub](ht

[2017-05-28 08:00] k0shk0sh commented on #557
Yup, figured this out and has been fixed

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-28 08:00] #557 closed

[2017-05-28 08:08] k0shk0sh commented on #511
for the teal, it should be #00796B according to material design colors.

[2017-05-28 08:11] StanNL commented on #511
Well I meant # 00 96 88, but GitHub (the desktop version) somehow removed the leading zeros because it thought I was referring to an issue. # 00796B looks good as well, but like I said, you chose # 00BEA5, which is more like a light blue color.

[2017-05-28 08:12] k0shk0sh commented on #511
I didn't do that part to be host, but I changed that now. i'm going to make a release in awhile. after the issue you opened.

[2017-05-28 08:14] StanNL commented on #511
Great! Thanks

_Sent from my Samsung kminilte using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-28 08:51] k0shk0sh commented on #552
I have added this however, it isn't really working,

try it out by yourself.

https://api.github.com/search/issues?q=repo:k0shk0sh/FastHub%20is:open%20is:issue%20%20sort:%22reactions-+1-desc%22

[2017-05-28 09:23] StanNL commented on #511
I think I'm going to use this as a 'question' topic if you don't mind. I was wondering if your notifications shouldn't appear in the feed tab.

Also, some of the bold 'action indicators' in the feed tab, aren't in correct English. I'm talking about things like _Person X created comment on issue Y_, when I talk about those action indicators. So here's a list of the indicators that need to be change

[2017-05-28 09:29] wasdennnoch opened #558 "Horizontal code scrolling in Readme also vertically scrolls header"
**App Version: 2.5.1**

**OS Version: 25**

**Model: samsung-GT-I9305**

When reading a readme file (on the main page with the big expandable header) with a code block inside, when scrolling that code block horizontally the header also intercepts the vertical scrolling and expands/collapses.

[2017-05-28 09:32] wasdennnoch opened #559 "Wrong tooltips in markdown editor"
**App Version: 2.5.1**

**OS Version: 25**

**Model: samsung-GT-I9305**

 Some tooltops when long pressing the editor toolbar are wrong (copy-paste cone wrong :p)

Actual item - its tooltip:
Checked checkbox - Numbered list
Unchecked checkbox - Numbered list
Horizontal divider - Header

[2017-05-28 09:33] k0shk0sh commented on #559
:p

[2017-05-28 09:37] wasdennnoch opened #560 "Loading dialogs are dismissable"
**App Version: 2.5.1**

**OS Version: 25**

**Model: samsung-GT-I9305**

 When clicking outside a loading dialog with the circular progressbar it dismisses it, leaving you with a blank page and the request loading in the background.

I'd suggest either making it undismissable but then the user couldn't go back while it's loading; a more elegant solution is to extract the loading bar into the start

[2017-05-28 10:07] jochenberger opened #561 "Shows notifications even though notifications are disabled"
**App Version: 2.5.1**

**OS Version: 25**

**Model: LGE-Nexus 5X**

_Sent from my LGE Nexus 5X using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-28 10:09] Rainer-Lang commented on #561
Same here.
Turning on/off - doesn't change anything.

[2017-05-28 10:13] #561 closed

[2017-05-28 11:16] StanNL opened #562 "Edit profile info"
**App Version: 2.5.1**

**OS Version: 25**

**Model: samsung-kminilte**

 I don't know if this has even been made possible by the GitHub API, but it would be nice to be able to edit profile information.

_Sent from my Samsung kminilte using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-28 11:26] #562 closed

[2017-05-28 11:27] StanNL commented on #562
Oops I'm sorry. I didn't know that

_Sent from my Samsung kminilte using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-28 11:47] camillo777 opened #563 "Gists link files don't work"
**App Version: 2.5.1**

**OS Version: 23**

**Model: samsung-SM-N910F**

 For example this link:

https://gist.github.com/bojzi/67ed55b16cb60b5d36ad/raw/030199f2e7ea115a779300a96d50ae0150af530a/package.json

Opens FastHub with a "not found" error.

![Not found]()

[2017-05-28 12:05] yakov116 commented on #563
https://gist.github.com/bojzi/67ed55b16cb60b5d36ad/raw/030199f2e7ea115a779300a96d50ae0150af530a

[2017-05-28 13:43] StanNL commented on #555
Yeah I don't like his signature either, but it would be a good idea to be able to change it, anyway. SM-G800F or kminilte isn't a nice device name either, so it would be nice to have an option to change it.

_Sent from my Samsung kminilte using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-28 13:46] StanNL opened #564 "Suggestion: Add more color to the side menu"
**App Version: 2.5.1**

**OS Version: 25**

**Model: samsung-kminilte**

The side menu icons (next to home etc) are dark grey now, but I think they should have the same accent colour that the user those in the settings menu. It would look a lot more colourful and way better if you would implement the accent colour there.

_Sent from my Samsung kminilte using [FastHub](https://play.google.com/store

[2017-05-28 13:47] yakov116 commented on #555
@StanNL I think we should let the app mature a little. Maybe later we will come back to this.

[2017-05-28 13:51] yakov116 commented on #564
@StanNL It was like this before and people complained that it was to hard to see. So it was changed to a set color.
Allowing the user to set just the side bar color will end up being too many options and will only confuse people and also make thing harder to maintain.

Thank you for all your feedback.

[2017-05-28 13:51] #564 closed

[2017-05-28 13:52] mistermantas commented on #555
If you ask me, the app is fairly mature. And honestly, if maturity is the problem, maybe the signatures shouldn't have been a feature in the first place. Don't add half baked features… They're basically useless right now anyway.

[2017-05-28 13:54] yakov116 commented on #560
@k0shk0sh Is this a duplicate of #471?

[2017-05-28 13:54] k0shk0sh commented on #555
@mistermantas I guess what yanki meant to say, is that this isn't going to be change anytime soon but in a bit nice way.

P.S: if you don't like it, you always can disable it :)

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-28 13:56] yakov116 commented on #555
@mistermantas He is right i should have said "Let the app _age_ a little bit."

[2017-05-28 13:56] mistermantas commented on #555
@k0shk0sh Yup, I got the gesture. I did disable it.

[2017-05-28 13:57] k0shk0sh commented on #555
@mistermantas cool, no hard feelings there nor forcing anyone to use it :)

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-28 13:59] k0shk0sh opened #565 "Support development "broken" in 2.5.3"

[2017-05-28 14:02] wasdennnoch commented on #560
Not entirely; this issue seems to more refer to the readme loading. It may be on purpose but I say it's a bad design choise :P

[2017-05-28 14:13] StanNL commented on #564
@yakov116 Hmm I guess you're right. Or you could just add a switch that says "add accented side menu icon colors" so it won't get too confusing. Anyway, you can't please everyone, right?

_Sent from my Samsung kminilte using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-28 14:40] JediBurrell commented on #560
@wasdennnoch the README page has a progressbar even if you dismiss the dialog.

[2017-05-28 14:58] wasdennnoch commented on #560
Only after the repository info itself loaded. And issues don't have any other loading indicator.

[2017-05-28 16:46] eygraber commented on #552
@k0shk0sh this link seems to work - [](https://api.github.com/search/issues?q=repo:k0shk0sh/FastHub%20is:open%20is:issue%20%20sort:"reactions-%2B1-desc)

Side note - tapping that link in FastHub shows an error.

[2017-05-28 16:48] k0shk0sh commented on #552
@eygraber weird as I'm not handling such scheme,
It doesn't really work tho, compare it to the GitHub one matter of fact, its there in 2.5.3 give it a shot and you'll see what I'm talking about.

About the link I will see what's going on.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-28 16:52] eygraber commented on #552
@k0shk0sh I posted a different link than you (changed "+1" to "%2B1") and it returns the issues in the proper sorted order.

[2017-05-28 16:53] k0shk0sh commented on #552
@eygraber nicee, so that's the problem? Could you pass me the other encoded values for each one of them :p.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-28 17:02] eygraber commented on #552
@k0shk0sh it's not really an encoded value for the emoji. It's that the "+" needed to be url encoded.

[2017-05-28 17:45] chamini2 commented on #549
Can't, it's in a private repository. Let me check if I find another one.

[2017-05-28 17:51] chamini2 commented on #549
Ok, found one:

https://github.com/greenkeeperio/greenkeeper/pull/433

Notice that the first commit of the pull request has three builds and the others have two builds.

[2017-05-28 18:47] IzzySoft opened #567 "App Icon broken since v2.5.1"
- FastHub Version: 2.5.1 & 2.5.3
 - Android Version: n/a
 - Phone Model: n/a

Since v2.5.1, app icons are broken. Seems the Manifest got slightly messed up:

<pre>
application-icon-120:'res/mipmap-anydpi-v26/ic_launcher.xml'
application-icon-160:'res/mipmap-anydpi-v26/ic_launcher.xml'
application-icon-240:'res/mipmap-anydpi-v26/ic_launcher.xml'
application-icon-320:'res/mipmap-anydpi-v26/ic_launch

[2017-05-28 20:53] JediBurrell commented on #567
mipmap-anydpi-v26 is for the Adaptive Icon, the other folders contain the proper file.

[2017-05-28 21:16] IzzySoft commented on #567
The files are there, just the Manifest points to the XML instead of the PNG – which causes e.g. fdroid-server to fail extracting them.

[2017-05-28 21:23] JediBurrell commented on #567
@IzzySoft The manifest can't point to a specific file extension. As long as you're not compiling on v26 ( O ), you'll be served PNG files.

Also, we dropped support for F-Droid in 2.5.0.

_Sent from my LGE Nexus 5X using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-28 21:28] dedepete commented on #540
@k0shk0sh yep, works perfectly.

_Отправлено с моего Yota Devices Limited YD201 с помощью [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-28 23:47] eygraber opened #568 "Back vs Up Navigation"
If I open FastHub from a link in another app, pressing back should take me back to that other app, vs up which takes me to the "logical" previous screen in FastHub.

Currently both back and up function like up should.

https://developer.android.com/design/patterns/navigation.html

[2017-05-29 01:06] k0shk0sh commented on #552
@eygraber yup, that's what I was referring to, strangely that I have set it to `encoded=true` yet it seems needs to be manually encoded. Will fix that in next release

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-29 04:52] StanNL commented on #511
Another one: _Person X created comment on pull request Y_ should be _Person X commented on pull request Y_

_Sent from my Samsung kminilte using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-29 05:36] SoullessWaffle opened #569 "Crash when adding reaction to issue comment"
**App Version: 2.5.3**

**OS Version: 23**

**Model: HTC-HTC 10**

I opened an issue though [a link](https://github.com/prettier/prettier/issues/13#issuecomment-304556764) in my email, scrolled down to the last comment, clicked the reactions button on the top right of that comment and then clicked the heart reaction. The app crashed almost immediately. I've done the exact same thing twice and it c

[2017-05-29 05:37] k0shk0sh commented on #569
Hello text

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-29 05:39] k0shk0sh commented on #569
Yup it definitely does, strange tbh. I'll see about it later today, however u could try with comment and its working :D.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-29 05:45] IzzySoft commented on #567
I've just checked the file attached to the resp. `releases/` with `aapt d badging` (that's what above output is from). Not sure what you mean by saying you "dropped support for F-Droid"; I was speaking about [this one](https://apt.izzysoft.de/fdroid/index/apk/com.fastaccess.github) :wink:

[2017-05-29 06:06] coderecess opened #570 "View & scrolling"
**App Version: 2.5.3**

**OS Version: 23**

**Model: motorola-XT1254**

 Hello,

When swiping up to view content below the current view, the repository information and options minimizes to one line to maximize the view of the contents, which is great.

However, when swiping down to go back up, the repository information returns to normal and minimizes the view of content.

It will be great if the

[2017-05-29 06:12] coderecess opened #571 "Back button"
**App Version: 2.5.3**

**OS Version: 23**

**Model: motorola-XT1254**

 When using the back button in the navigation area of the interface, the app takes me back to the app's home screen.

Is this by design?

I tap it to go up a directory level, and then have to work my way back to where I was.

Thank you.

[2017-05-29 06:16] coderecess opened #572 "Feature request: Preview"
**App Version: 2.5.3**

**OS Version: 23**

**Model: motorola-XT1254**

Hello,

 I'm new to markdown and like being able to preview posts before submitting them.

Please consider adding this feature.

Thank you.

[2017-05-29 06:22] StanNL commented on #572
@coderecess You can preview comments/issues by clicking the "eye" icon in the bottom right of the screen.

_Sent from my Samsung kminilte using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-29 06:49] #572 closed

[2017-05-29 06:52] k0shk0sh commented on #571
You are always recommend to use phone back button to go back from where you were, pressing the toolbar back button will try to mimic a navigateUp scenario.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-29 06:53] #571 closed

[2017-05-29 07:04] k0shk0sh commented on #567
@IzzySoft could you try with 2.5.3 and let me if its still exists?

[2017-05-29 08:29] coderecess commented on #572
Awesome! I see that now.  Thank you!!

_Sent from my Motorola XT1254 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-29 08:38] IzzySoft commented on #567
@k0shk0sh I'll let you know when I'm back home this evening. Until then, my auto-updater should already have grabbed it and reports are in my Inbox :innocent:

[2017-05-29 09:14] Maxr1998 opened #573 "Star count of pinned repos doesn't update"
**App Version: 2.5.3**

At least not until you unpin and re-pin the repo.

[2017-05-29 09:15] k0shk0sh commented on #573
Couldn't get your question,
Pin-Unpin doesn't have count.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-29 09:19] Maxr1998 commented on #31
Any updates? I also think this would look a lot cleaner.

[2017-05-29 09:33] Maxr1998 commented on #573
No problem, didn't even see your first comment :grin:

[2017-05-29 09:33] k0shk0sh commented on #573
@Maxr1998 I have edited it three times 😀

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-29 09:39] k0shk0sh commented on #31
@Maxr1998 pass me the same exact icon in svg format and you can get it by next release :D

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-29 10:28] Maxr1998 commented on #31
There you are. I just extracted the icon svg from the GitHub html, thus I'm not yet sure whether you're allowed to use it..
[code]

[2017-05-29 10:31] k0shk0sh commented on #31
@Maxr1998 this probably will cause crashes on Android 21 due to the negatives in the svg :D . I have copied some from GitHub but then the penalty was crashes lol. I'll have to test this icon on Android 21 to 26 😕

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-29 10:33] Maxr1998 commented on #31
Well, at least the converted icon doesn't use the SDK23+ fillType attribute - let's see if all api levels support it then ;)

[2017-05-29 10:45] k0shk0sh opened #574 "Don't intercept touches in message dialogs for md."

[2017-05-29 13:35] yakov116 commented on #569
@k0shk0sh I didnt get a crash but i do see this line
[code]

[2017-05-29 13:40] yakov116 commented on #511
@StanNL Thanks for reporting. @k0shk0sh and I will one day (ahem) and go through all of them and correct them all. It is my understanding the we are taking the way github reports it in the api.

[2017-05-29 13:46] k0shk0sh commented on #569
@yakov116 they're is only crash in that comment specifically

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-29 13:48] StanNL commented on #511
@yakov116 I might be able to help you with that if necessary

_Sent from my Samsung kminilte using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-29 13:50] k0shk0sh commented on #511
@StanNL you are welcome to join our special group

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-29 13:58] k0shk0sh commented on #569
This has been fixed and later will be closed with a commit

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-29 14:16] wasdennnoch opened #575 "Issue count in toolbar doesn't update when closing issues"
**App Version: 2.5.1**

**OS Version: 25**

**Model: samsung-GT-I9305**

![See](https://puu.sh/w4nvg/fe1a7a260e.png)

The same thing probably happens with pull requests too.

[2017-05-29 14:18] wasdennnoch opened #576 "Long language names wrap to second line in repo header"
**App Version: 2.5.1**

**OS Version: 25**

**Model: samsung-GT-I9305**

![](https://puu.sh/w4nvh/6c53f9a8d0.png)

Looks like the info box thingy only stretches until the first toolbar item, making the HTML tag break lines.

[2017-05-29 15:22] ibrokemypie opened #577 "Searching for wayland under repositories causes crash"
**App Version: 2.5.3**

**OS Version: 25**

**Model: HTC-HTC 10**

 Reproducible, happens near the end every time.

https://fasthub.slack.com/files/yakov116/F5KAP2J91/-.txt

[2017-05-29 15:26] ibrokemypie opened #578 "Cannot copy repo link directly"
**App Version: 2.5.3**

**OS Version: 25**

**Model: HTC-HTC 10**

 There is no way to directly copy the link to the currently viewed repo. For some devices there is a copy action under share, but not all. Only reliable way to get the url is to open the repo in browser and copy from there.
Having a copy url button on the repos overflow menu along with share would make much more sense.

[2017-05-29 15:27] yakov116 commented on #578
@ibrokemypie there is a share link. no?

[2017-05-29 15:29] ibrokemypie opened #579 "Participated issues tab"
**App Version: 2.5.3**

**OS Version: 25**

**Model: HTC-HTC 10**

 It would be really helpful to have a tab for issues in which you have participated in, but have not been mentioned in

[2017-05-29 15:31] ibrokemypie commented on #578
cant embed photo from fasthub afaict

no, not for me

[2017-05-29 15:34] ibrokemypie opened #581 "Back button does not return to app when fasthub is opened as url handler for github"
**App Version: 2.5.3**

**OS Version: 25**

**Model: HTC-HTC 10**

 eg in chrome, after tapping a github link and having it open in fasthub, pressing back then goes to whatever you were last doing in fasthub, rather than returning to chrome

[2017-05-29 15:37] yakov116 commented on #581
Duplicate of #568

[2017-05-29 15:37] #581 closed

[2017-05-29 15:39] mistermantas commented on #578
Copying repo link is possible? Look: http://i.imgur.com/yMnUctl.png

As for uploading images, all I can do is recommend this: https://play.google.com/store/apps/details?id=net.moosen.imgur

[2017-05-29 15:41] yakov116 commented on #578
@mistermantas he is referring to getting the repo link. Not copying a link like #489

[2017-05-29 15:44] mistermantas commented on #579
Does GitHub's website even have this feature? I don't think so. I know you can view the issues you've created but not ones you've been just mentioned in. Can't speak of the technically possibility of this aspect, though, since I haven't worked with GitHub's API.

[2017-05-29 16:58] k0shk0sh commented on #578
You can embed photo from FastHub, go to markdown (add comment) scroll the bottom icons and select image.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-29 16:58] k0shk0sh commented on #581
It's fixed and soon will be released

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-29 17:00] yakov116 commented on #578
@k0shk0sh we are talking about getting the link of the repo to the clipboard. Nothing to do with pictures.

[2017-05-29 17:12] k0shk0sh commented on #578
@yakov116

no, not for me

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-29 19:26] IzzySoft commented on #567
OK, no alert today. But then, 2.5.3 was already pulled it yesterday (and I had it corrected manually), so it wasn't replaced. Checking the 2.5.3 file currently attached with `aapt d badging` (which is what fdroid-server does) I'm afraid it would yield the same issue still, as the icon file entries still point to `.xml` files, which fdroid-server obviously cannot deal with:

    application-icon-12

[2017-05-29 20:23] alexanderepstein opened #582 "Not All My Repositories Showing"
**App Version: 2.5.3**

**OS Version: 24**

**Model: samsung-SAMSUNG-SM-G890A**

I just updated the application to the newest version but when I did that now when I go to my profile under repositories it only lists the most recent two.

[2017-05-29 20:24] yakov116 commented on #582
@alexanderepstein can you attach a picture?

[2017-05-29 20:50] yakov116 commented on #582
Or maybe can you log out and log back in?

[2017-05-29 21:55] alexanderepstein commented on #582
Tried logging out and in but that didnt work heres what I am referring to

![fasthub issue](https://cloud.githubusercontent.com/assets/16146094/26562800/d9625f5e-4497-11e7-8a4a-fd247179f441.png)

If you go to my account however you will see I have more repositories then the two listed.

[2017-05-29 21:59] Dreamersoul commented on #582
Maybe you need to login with token since it will give the app more permissions

_Sent from my Google Pixel using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-29 22:03] alexanderepstein commented on #582
@Dreamersoul I already am logged in with token, and even relogged in again still nothings changed. I suspect its not a permissions/authentication issue, if it can grab any of them (which it grabs 2/12) then it must have the authentication correct because i can alter the two repositories I am shown. I think there may be bug in how its populating this list

[2017-05-29 22:16] ibrokemypie commented on #578
![](http://i.imgur.com/nfu0zV4.png)
sorry, had no idea you could scroll, wow!

[2017-05-29 22:20] ibrokemypie commented on #579
nothing official but this would work
https://stackoverflow.com/a/33478315

[2017-05-30 00:32] k0shk0sh commented on #582
@alexanderepstein what are your repos? Are they private?

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-30 00:36] k0shk0sh commented on #582
@alexanderepstein that's strange tbh, I'll debug on later today and let u knos

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-30 00:38] k0shk0sh commented on #579
So basically this will duplicates the other tabs results as well.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-30 00:40] yakov116 commented on #579
@k0shk0sh some it's a good idea but

_Sent from my HTC Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-30 02:04] alexanderepstein commented on #582
@k0shk0sh thanks I appreciate the quick response :smiley:

[2017-05-30 02:29] k0shk0sh commented on #582
this has been solved, it was due to some language color was missing which cause the observable to never be emitted.

[2017-05-30 02:32] alexanderepstein commented on #582
@k0shk0sh awesome glad to hear it! How quickly do you generally release updates?

p.s. thanks for making and continously developing this app. Github has never been easier to use from my phone 👍

[2017-05-30 02:34] k0shk0sh commented on #582
well, it depend, I could make three updates in two days :p , its not about how regularly tbh, but more like what has been fixed & if there is any critical bug, I might release new update later today if I made a good progress if terms of fixing bugs & sunday will usually have new features.

[2017-05-30 02:41] alexanderepstein commented on #582
Sounds good to me, Ill be eagerly awaiting the update 😄

[2017-05-30 03:06] #388 closed

[2017-05-30 03:06] #399 closed

[2017-05-30 03:14] yakov116 commented on #438
@zvirja in the last update this was added. Do you have anything to add on the way it was done?

_Sent from my HTC Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-30 03:16] #574 closed

[2017-05-30 03:19] ibrokemypie commented on #579
@k0shk0sh none of the other tabs show the issues you are involved in but did not create or get mentioned in though, something which applies to most issues I am interested in

[2017-05-30 03:20] yakov116 commented on #579
@ibrokemypie it was added.

Thanks for all your feedback

_Sent from my HTC Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-30 03:57] k0shk0sh commented on #31
![](http://i.imgur.com/Ro69kTI.png)

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-30 07:53] zvirja commented on #438
Wow, so quickly :) Well, it's working. However, I have a couple of concerns:

1. Now the "previous reply" occupies half of the textbox, leaving much less space to review what you compose. Given that we don't need original message for each time, it would be much better to implement that via toggle button.

1. It still doesn't cover all the needs, because usually I read more than one previous reply.

[2017-05-30 07:54] k0shk0sh commented on #438
What version are you at? You should be using 2.5.3 which has the toggle & by default only 2-3 lines are showing and you have to toggle them.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-30 07:59] Maxr1998 commented on #31
Awesome work, thanks!

[2017-05-30 08:00] k0shk0sh commented on #31
@Maxr1998 thank you for the icon :)

[2017-05-30 08:03] zvirja commented on #438
Likely, I'm on the right version:

![image](https://cloud.githubusercontent.com/assets/1074182/26573610/241b235c-4527-11e7-837a-61bb8fa4c252.png)

Now original messages takes half of the textbox (about 5 edit lines), while I might not necessarily need them. I liked large textbox and believe it's better to hide all the previous reply and add a "toggle" button instead.

[2017-05-30 08:18] k0shk0sh commented on #570
Well after a second thought, you could open the readme from the files tab & read it in a full screen, having to change the whole layout or customize it on just a matter of a file can be opened in different will take more efforts. So I guess the best about this is that you head to files tab & click on readme to go into more like readable screen.

_Sent from my Htc m8 using [FastHub](https://play.go

[2017-05-30 08:18] #570 closed

[2017-05-30 11:21] k0shk0sh commented on #567
well idk @IzzySoft tbh, it seems working for my side, what I meant is that the app launcher icon is showing.

[2017-05-30 11:21] #552 closed

[2017-05-30 11:21] #559 closed

[2017-05-30 11:21] #568 closed

[2017-05-30 11:21] #569 closed

[2017-05-30 11:21] #575 closed

[2017-05-30 11:21] #576 closed

[2017-05-30 11:21] #577 closed

[2017-05-30 11:21] #579 closed

[2017-05-30 11:21] #582 closed

[2017-05-30 11:22] #438 closed

[2017-05-30 11:22] #565 closed

[2017-05-30 11:23] #573 closed

[2017-05-30 11:49] #549 closed

[2017-05-30 11:49] #563 closed

[2017-05-30 12:37] IzzySoft commented on #567
Tbh2, I haven't it installed – I just noticed the fdroid-server update script failed extracting them, and thus the app showed up w/o icon in the repo.

So we have probably 3 choices: 1) blaming it on the fdroid-server (asking them to deal with this case – for which we might need to provide some background details, which probably is [something like this](https://developer.android.com/preview/featur

[2017-05-30 12:43] k0shk0sh commented on #567
As you can see from image below, it will by default point to the png however on Android O it will take the xml file, I guess fdroid needs to deal with this and not us (including you of course).

So its really up to you now to either close this issue, keep it open until Fdroid migrates to android O.

![screen shot 2017-05-30 at 8 42 08 pm](https://cloud.githubusercontent.com/assets/960767/26583600/

[2017-05-30 16:42] StanNL opened #583 "Repositories without files don't open anymore"
**App Version: 2.5.3**

**OS Version: 25**

**Model: samsung-kminilte**

Here's an example, although the reason I specified in the title may not be the true cause:

[This repository](https://github.com/Spookcity/ROMS-G800F/)

_Sent from my Samsung kminilte using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-30 16:45] yakov116 commented on #583
@k0shk0sh toast issue

[2017-05-30 16:48] StanNL commented on #190
Shouldn't this issue be closed if that commit fixed it?

_Sent from my Samsung kminilte using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-30 16:48] k0shk0sh commented on #583
@yakov116 nope, it's definitely something else

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-30 16:50] yakov116 commented on #583
[code]

[2017-05-30 16:51] k0shk0sh commented on #583
@yakov116 it crashes because of your case only, the reason is

[code]

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-30 16:52] k0shk0sh commented on #583
GitHub returns 404 for the repo!

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-30 16:53] k0shk0sh commented on #190
@StanNL will only be closed when I finish all the tests which I got no time for when people everyday reports stuff and ask for this and that :D I still have full time job

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-30 16:59] StanNL commented on #583
@k0shk0sh Hmm yeah I guess you're right. Maybe you could fetch the repo owner's list of repositories, and then check if this repo is in it.

_Sent from my Samsung kminilte using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-30 17:06] IzzySoft commented on #567
Respected, of course (though I had hoped you'd switch back to declaring the `.png` for the application icon). I might try how the `aapt` of Android-O reacts on it (though O isn't even released yet), as that's what is currently used to gather those details.

Apart from that, I know that the F-Droid team is on the way to switch away from `aapt` in favor of some Python library. Still, both would retu

[2017-05-30 17:12] StanNL commented on #190
@k0shk0sh Haha no, I was not referring to _fixing the issue_ , but literally to _closing the issue_, because this issue has already been solved, right?.
I know it's difficult to combine development with your job and I do not obligate you to do anything.

_Sent from my Samsung kminilte using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-31 00:40] k0shk0sh commented on #567
@JediBurrell  any idea on this?
@IzzySoft another thing I could think of, is separate flavor for this case that targeting 25 instead of 26. I'll see about it later however I still strive for better way.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-31 00:46] k0shk0sh commented on #583
@StanNL that will be too much to do since I'll have to fetch all and max paging size is 100 so I'll have to do some work, I guess I'll just ignore the 404 and keep it open.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-31 01:40] smichel17 opened #585 "What's the point of pinned repos?"
At least in my usage, there's 100% overlap between how I would like to use pinned vs starred repos. The only difference is that pinned is local to my device (which makes it the less useful of the two).

What if instead of pinned repos, we just replaced the "Pinned" drawer shortcut with "Starred"?

[2017-05-31 02:19] k0shk0sh commented on #585
The pinned tab is a much more elegant feature than starred repos, in pinned tabs you could lets say only have 5 repos that you regularly working either urs or your orgs repos, while starred repos could have thousands of records and will be hard to reach what you want for a daily collaborators job.

[2017-05-31 02:19] #585 closed

[2017-05-31 02:33] smichel17 commented on #585
I've always found the github home page's "Repositories you contribute to" list to do this pretty effectively. Is it available via API or website-only?

[2017-05-31 02:40] k0shk0sh commented on #585
Nope they don't have, but that's not the problem five was a figure number :p they could be more, the repo could even just shared to collaborator to for ex: start reporting bugs, its more important for those who works in orgs, for me for instance since I removed FastHub from the drawer menu, best place is pinned :p

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=

[2017-05-31 03:20] smichel17 opened #587 "Follow material guidelines for dialogs"
Quotes are from the [Material Guidelines for Dialogs](https://material.io/guidelines/components/dialogs.html).

- Markdown editor discard confirmation dialogue
    - [ ] Actions: "Discard" and "Cancel"
    - [ ] Text: ~~"**Close** / Any unsaved changes will be discarded"~~ => "Discard unsaved changes?"
        - It would be better if the dialog were specific to whether you're editing a comment / i

[2017-05-31 03:34] smichel17 opened #588 "Issue search dropdown menus should not re-open while open"
- FastHub Version: 2.1.0
 - Android Version: 7.0
 - Phone Model: Samsung galaxy S6 (`SAMSUNG-SM-G920A`)

**Steps to reproduce:**

- Open issues search
- Open a drop-down menu with a limited number of options (eg, `Sort`)
    - If you open a menu with lots of options it'll cover the menu title, so the next step is not possible
- Tap on the drop down menu title (`Sort`) again

**Expected result:** D

[2017-05-31 04:48] k0shk0sh commented on #588
why not just click outside of it? clicking in anywhere on the screen will hide it but not the tab itself. I don't know where the issue could be here.

[2017-05-31 04:51] k0shk0sh commented on #587
Well, thanks for the brief description of issue, as you mentioned this will take some time to modify things up, btw the guides made to not strictly follow them, but to take them as example.

[2017-05-31 05:55] smichel17 commented on #587
I agree. I think of them like rules of grammar in speech/writing: in the words of one of my English teachers long ago, "[The rules] are hard and fast... until you have a good reason to break them." Personally, I often prefer non-standard bottom navigation, like the [ninja browser](https://f-droid.org/repository/browse/?fdid=io.github.mthli.Ninja).

In this case I happen to agree with the guideline

[2017-05-31 06:08] IzzySoft commented on #567
Kosh, I of course accept whatever decision you make. I just need to see to make the best of it. If it stays with those XML icons, I'd need to find a way to convert them – and adjust my framework to automatically deal with it.

[2017-05-31 06:10] smichel17 commented on #588
<img alt="why" align="left" height="700" src="https://cloud.githubusercontent.com/assets/6563664/26617828/50f09a46-45a5-11e7-9e91-3f3343ca7ec0.png">

- Tapping the green area causes the notification area to peek down
- Tapping the purple area focuses the search bar, causing the keyboard to be shown, so only half as many issues are shown
- Tapping the blue area causes another drop-down menu to appe

[2017-05-31 06:31] k0shk0sh commented on #567
@IzzySoft btw, there will be another problem which is the signing key, as of 2.5.+ the signing is different from what it used to be, because now i'm relying on a public key to sign & then google play store will sign it with my private uploaded key store in their server, that's why I have uploaded the public key store in here :D .. It definitely has to be a separate flavour,  I'll do that and hopef

[2017-05-31 08:37] mistermantas opened #589 "UI render bug"
**App Version: 2.5.3**

**OS Version: 24**

**Model: samsung-SM-G930F**

 How to reproduce: visit twbs/bootstrap.

[Screenshot](http://i.imgur.com/XsSOwAA.png)

[2017-05-31 08:38] #589 closed

[2017-05-31 08:38] k0shk0sh commented on #589
Tnx reporting, it's fixed locally :p

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-31 09:08] ildar commented on #136
No more.
https://f-droid.org/wiki/page/com.fastaccess.github
Goodbye Fasthub

[2017-05-31 09:11] k0shk0sh commented on #136
@ildar yep, sorry about that. U guys always can download latest from here
https://raw.githubusercontent.com/k0shk0sh/FastHub/master/.github/assets/direct-apk-download.png

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-31 09:14] ildar commented on #136
Not interested, sorry.

[2017-05-31 09:14] k0shk0sh commented on #136
Or from @thermatk  repo https://api.github.com/repos/thermatk/FastHub-Libre/readme

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-31 09:16] k0shk0sh commented on #136
@ildar it's alright :) . Can't force you nor can force myself to complicated code base.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-31 12:40] rapgenic opened #590 "Branch selector wrong orientation in portrait mode"
**App Version: 2.5.3**

**OS Version: 25 (LineageOS)**

**Model: asus-Nexus 7**

When my device is in portrait orientation, in the "Files" tab of any repository in the branch selector/indicator the characters are displayed in a narrow vertical line, causing the icon bar to expand, too. This doesn't happen in landscape orientation.

I will add a screenshot as soon as possible.

By the way, there do

[2017-05-31 12:42] k0shk0sh commented on #590
Hi thanks for the report, there is an embedded feature for that as u can see from here lol. All you have to do is scroll bottom icons in this screen.

![](http://i.imgur.com/MKU4guE.png)

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-31 13:01] rapgenic commented on #590
Hi, thanks for your answer. I actually found it just now :)

By the way here's the screen:

![](http://i.imgur.com/M0YfbMQ.png)

_Sent from my Asus Nexus 7 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-31 13:06] k0shk0sh commented on #590
I just fixed this, thanks for reporting :)

[2017-05-31 13:06] rapgenic commented on #590
320 DPI, which should be the default for the nexus 7.

_Sent from my Asus Nexus 7 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-31 13:08] rapgenic commented on #590
You're welcome :)

_Sent from my Asus Nexus 7 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-31 13:12] IzzySoft commented on #567
Oops – I wasn't aware of that! Yes, a separate "flavour" would be great. Whenever it's ready and available, let me know (e.g. by updating this issue). Apart from that:  would you want me to "reset" to the last version before 2.5 (to avoid confusion on the users' end), and set the update mode to manual? As soon as the "new flavour" is available, I then could turn auto-updates on again.

[2017-05-31 13:47] thermatk commented on #136
@ildar floss fork is here: https://github.com/thermatk/FastHub-Libre
For now just build it with simple gradle release(no need for api keys and whatever), I don't want to release on F-Droid until I'm sure I'll be able to maintain it, Telegram is already on me :+1:

[2017-05-31 14:55] wasdennnoch opened #591 "Images in commits don't shop up"
**App Version: 2.5.3**

**OS Version: 25**

**Model: samsung-GT-I9305**

When you e.g. commit a new image to the repo it doesn't load when you expand the modified (added) file in the commit file list, only actual text diff loads properly.

[2017-05-31 14:55] k0shk0sh commented on #591
clicking on an image will open it isn't?

[2017-05-31 14:57] wasdennnoch commented on #591
For me it only rotates the expand button and doesn't open it externally. I can grab any log you want if you need one.

[2017-05-31 14:57] k0shk0sh commented on #591
do you have chrome installed in your phone? also could you point me to the commit?

[2017-05-31 15:00] wasdennnoch commented on #591
Yes, I have the normal chrome version installed. An example is the very last commit in this repo which added tue direct download button. Clicking on the card only "expands" it.
![](https://puu.sh/w6CH7/bdd1e8ad80.png)

[2017-05-31 15:02] k0shk0sh commented on #591
Ooops, it works on PR commit files tab however not in the commit files itself, thanks for catching   this up.  will be closed later with my commit.

[2017-05-31 15:04] ildar commented on #136
Wow! 👍👍

[2017-05-31 15:29] #591 closed

[2017-05-31 15:29] #578 closed

[2017-05-31 15:29] #583 closed

[2017-05-31 15:29] #588 closed

[2017-05-31 15:29] #590 closed

[2017-06-02 04:35] jerryn70 opened #595 "Unable to Edit Issues"
<!--
   - Iam unable to edit my issues . Issue title also not editable. When I try to edit it shows "issue can't be edit by jerrn70' .
There is no problem with github website.

---

 - FastHub Version: 2.5.3
 - Android Version: 6.01
 - Phone Model: moto x play

[2017-06-02 04:36] jerryn70 opened #596 "Unable to Edit Issue"
Iam unable to edit my issues . Issue title also not editable. When I try to edit it shows "issue can't be edit by jerrn70' .
There is no problem with github website.

 - FastHub Version: 2.5.3
 - Android Version: 6.01
 - Phone Model: moto x play

Testing

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-02 04:36] #595 closed

[2017-06-02 07:17] wasdennnoch opened #597 "When editing an issue the issue text is "No description provided""
**App Version: 2.5.3**

**OS Version: 25**

**Model: samsung-GT-I9305**

 When you edit an issue, submit the changes and the app returns to the issue view the text is "No description provided" instead of the just submitted text. Reloading the issue fixes that.

[2017-06-02 07:17] k0shk0sh commented on #597
#596

[2017-06-02 07:25] #168 closed

[2017-06-02 07:25] k0shk0sh commented on #168
@eyalcohen4 @GeorgeWL @beshology alright guys, this will be in next release.

[2017-06-02 07:37] eygraber opened #598 "ANR after opening large file"
**App Version: 2.5.3**

**OS Version: 25**

**Model: Google-Pixel**

 Opening a large file causes an ANR (I can repro it reliably by opening `Flowable.java` from RXJava).

[2017-06-02 07:41] k0shk0sh commented on #598
I could trigger that if I start scrolling :'(

[2017-06-02 07:47] eygraber commented on #598
@k0shk0sh yup, forgot to mention the scrolling part.

[2017-06-02 10:50] wasdennnoch commented on #597
That's a different issue; there he can't edit it at all. Here I can edit it perfectly fine but the text doesn't show up properly at first.

[2017-06-02 10:52] k0shk0sh commented on #597
Its the same, fixing that will fix this too :)

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-03 05:14] #547 closed

[2017-06-03 05:16] #597 closed

[2017-06-03 05:18] k0shk0sh commented on #596
@jerryn70 how do you login to FastHub? is it via token or how? it might be a temp github is down or something, i'm going to close this as per #427

[2017-06-03 05:18] #596 closed

[2017-06-03 05:32] jerryn70 commented on #596
@k0shk0sh  i think I used Basic authentication

[2017-06-03 06:24] k0shk0sh commented on #596
@jerryn70 could you please try again? If github said that, I can't really help much :p

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-03 06:31] jerryn70 commented on #596
I tried fresh install. When I open the app there is toast message showing 'unauthorised user' . And then I logged in using basic authentication but still I'm unable to edit.

[2017-06-03 06:32] k0shk0sh commented on #596
@jerryn70  can u please try and edit this issue? Also could you point me to the issue?

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-03 06:38] jerryn70 commented on #596
@k0shk0sh  Now its working. I have edited the issue using fasthub

_Sent from my Motorola XT1562 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-03 06:39] k0shk0sh commented on #596
@jerryn70 cool, P.S: there is a known bug where u edit issue isn't reflected immediately, its fixed in coming release

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-03 06:49] jerryn70 commented on #596
@k0shk0sh the issue is only with some repository. I don't know why

[2017-06-03 06:54] k0shk0sh commented on #596
@jerryn70 maybe github restriction or tbh idk lol

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-03 08:45] Suyash458 opened #599 "Feature Request: Show trending repos"
**App Version: 2.5.3**

**OS Version: 25**

**Model: Xiaomi-Redmi Note 3**

[2017-06-03 09:35] #441 closed

[2017-06-03 09:38] k0shk0sh commented on #556
@StanNL isn't the fastScroller is enough? & clicking on tabs if applicable to take u top is enough?

tbh with you,  I couldn't find a place or could imagine the design that would fit this, as its unusual behaviour for android. so using the FastScroller I guess is enough for this.
I hope you understand :)

[2017-06-03 09:38] #556 closed

[2017-06-03 10:08] StanNL commented on #556
@k0shk0sh Yeah I also thought about that, but I also wouldn't know where to put it.

In that case, there is something else that could be changed which is related to this. In version 2.5.3, the app is able to load more than 100 comments, but it only does that once you've scrolled through the first 100. So when you use the FastScroller, you have to stop after 100 comments and wait until it has loade

[2017-06-03 16:19] Genxster1998 opened #600 "Fc! While scrolling the Repository column."
**App Version: 2.5.3**

**OS Version: 25**

**Model: Xiaomi-Redmi Note 3**

 Searched the keyword "Android mac"

_Sent from my Xiaomi Redmi Note 3 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-03 16:55] k0shk0sh commented on #600
Couldn't really reproduce it , went to search, keyed Android mac, scrolled almost ten pages nothing happened, which mean it's fixed with the bug I triggered due to the repo language was null.
Thanks for reporting it'll be in later release

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-03 16:55] #600 closed

[2017-06-03 19:42] #544 closed

[2017-06-04 00:26] coderecess commented on #570
OK Sounds good.

_Sent from my Motorola XT1254 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-04 07:22] #542 closed

[2017-06-04 08:45] #598 closed

[2017-06-04 08:47] k0shk0sh commented on #598
@eygraber this fixed and will be in todays release, however the fix is a bit ugly, meaning, you wont be getting syntax highlighting on large files which the `WebView` can't take :D, `Flowable.java` has more than 16K line of code :D around 900000+ character. its huge `in trump voice`.

[2017-06-04 09:29] k0shk0sh commented on #389
this should have been closed awhile ago lol.

[2017-06-04 09:29] #389 closed

[2017-06-04 13:06] k0shk0sh commented on #567
@IzzySoft Hi Izzy, sorry to get back late at this, well I tried to do the flavors, however I'll end up doing the same thing I did which because of it I dropped the Fdroid support as it was hard maintaining two files, i'm sure you know what I meant, there are some stuff that are being used that require android 26 and it seems like that's the new way of how Android is generating new apks since they

[2017-06-04 13:57] k0shk0sh commented on #567
@IzzySoft what I did, I have uploaded new apk base on old signing configuration. so to avoid your users to uninstall & install the app. ;)

[2017-06-04 13:58] StanNL opened #602 "Expand profile picture on click in profile view"
**App Version: 3.0.0**

**OS Version: 25**

**Model: Samsung Galaxy S5**

I really appreciate the new update! The app keeps getting better and better.

I would like to be able to expand the profile picture when I click on it when I am at a profile page.

_Sent from my Samsung kminilte using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-04 13:58] k0shk0sh commented on #602
you could, just click on the title and not the avatar, sorry for the confusion tho :D

[2017-06-04 13:59] k0shk0sh commented on #602
In a second thought, I should make the avatar clickable instead of the whole layout

[2017-06-04 14:00] StanNL commented on #602
@k0shk0sh Oops I didn't notice that, but maybe you should make both of them clickable indeed

_Sent from my Samsung kminilte using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-04 14:07] #602 closed

[2017-06-04 15:24] eygraber opened #603 "Large file text color"
**App Version: 3.0.0**

**OS Version: 25**

**Model: Google-Pixel**

 If my app is set to the dark theme, and I open a large file (e.g. `Flowable.java`), then the text is dark colored on a dark background.

![](http://i.imgur.com/JYDLdSy.png)

[2017-06-04 15:27] eygraber opened #604 "Can't filter/sort repos in organization"
**App Version: 3.0.0**

**OS Version: 25**

**Model: Google-Pixel**

 If I go to the repo tab for an organization, I can't filter/sort them.

[2017-06-04 15:29] k0shk0sh commented on #604
You could filter them base on source, forks, etc but not sort them. I guess its API limitation that's why I believe adi hide it in that screen.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-04 15:30] k0shk0sh commented on #603
Daamn, 3.0.1 tomorrow? Lol. Didn't release test on it tbh, the good thing is that it doesn't crash any more :p

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-04 15:35] k0shk0sh commented on #604
No API for that, only type is allowed 😥

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-04 16:20] dikiaap commented on #329
Hey @k0shk0sh.

Could you bringing back this on filter?<br>
I mean, I can't save the current filter, and make me repeat, repeat some filter again.<br>
Or just made filter as owner for default.

[2017-06-04 16:51] IzzySoft commented on #567
@k0shk0sh I'm no dev, so I don't have that much ideas (and btw, the latest `.apk` still has the icons point to XML). I thought maybe just "targeting" a lower version might take care for that – but that's obviously not the case (the app targets 5.0). Maybe checking on StackOverflow for advice? The Stack Exchange network is always a very helpful resource.

If I understand correctly, you want to have

[2017-06-04 17:18] StanNL opened #605 "The scrolling bar keeps resizing"
**App Version: 3.0.0**

**OS Version: 25**

**Model: Samsung Galaxy S5**

When you're scrolling through an issue with a lot of comments like [this one,](https://github.com/k0shk0sh/FastHub/issues/567) the scrolling bar (or FastScroller, as you like to call it) keeps jumping around.

_Sent from my Samsung kminilte using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-04 17:20] yakov116 commented on #605
Attaching a GIF
![2017-06-04_13-20-13](https://cloud.githubusercontent.com/assets/16872793/26763838/91d87020-4928-11e7-9b85-4219c60a1b98.gif)

[2017-06-04 17:23] StanNL commented on #605
@yakov116 Yup that's what I meant

_Sent from my Samsung kminilte using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-04 19:30] nixel2007 opened #606 "Opening any gist follows to some random gist"
**App Version: 3.0.0**

**OS Version: 23**

**Model: Xiaomi-MI 5s**

 When I open any of my gists I've been redirected to specific one (not that I've opened)

[2017-06-04 19:32] yakov116 commented on #606
@nixel2007 link please

[2017-06-04 19:33] StanNL commented on #606
@yakov116 It works with any of his gists on his profile page. It links to one of k0sh's gists, and I think it's just a debugging error

_Sent from my Samsung Galaxy S5 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-04 19:35] yakov116 commented on #606
@nixel2007 @StanNL Correct Reproduced

[2017-06-04 20:05] nixel2007 opened #607 "5$ support button does not open a Google play window"
**App Version: 3.0.0**

**OS Version: 23**

**Model: Xiaomi-MI 5s**

 2, 10 and 20$$ works correctly

[2017-06-04 20:10] yakov116 commented on #607
@nixel2007 My fault... I was supposed to test them all.

Thanks for reporting

[2017-06-04 22:05] yakov116 opened #608 "Google play links should open Google play"
**App Version: 3.0.0**

**OS Version: 25**

**Model: HTC-Nexus 9**

 They should not open in web view

_Sent from my HTC Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-04 22:07] yakov116 opened #609 "After updating notification timing is not set"
**App Version: 3.0.0**

**OS Version: 25**

**Model: HTC-Nexus 9**

 Had it set to a half hour did not get any notifications after updating. Checked and saw it was not set.

Number 2 the default shouldbe set to a half hour

_Sent from my HTC Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-04 23:27] k0shk0sh commented on #605
Well, I can't simply do anything about it, the issue has plenty of stuff in it that of course everytime you scroll the text will be rendered. I'm not really sure what do you expect from such case

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-04 23:29] k0shk0sh commented on #605
Well, its became each comment has its own length plush the timeline has plenty of different rows, header, labels, comments. So it will definitely do that. Its what any fastscroller do.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-04 23:29] #605 closed

[2017-06-04 23:33] k0shk0sh commented on #606
Hmmm, strange as I never touched anything regards that and more strange is that opening gists from public gists works but profile is not.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-04 23:34] k0shk0sh commented on #329
@dikiaap hey, I guess it went away when Adi did the filtering I'll try and make it work in today's release. Thanks

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-04 23:50] k0shk0sh commented on #607
Its not really broking, it might take time to open I guess, could u like click on it and wait few seconds. I find that strange tho.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-05 00:25] k0shk0sh commented on #607
Matter of fact I just received that someone has purchased the 5$ item. So I assume it just that you didn't wait longer or you previously had purchased that item.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-05 01:18] k0shk0sh opened #610 "Repo Files aren't retaining on process death."

[2017-06-05 01:25] k0shk0sh commented on #606
@nixel2007 since u are here :p could you tell me why codecov isn't working :p

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-05 02:58] yakov116 commented on #607
@k0shk0sh I am unable to buy a $5 all others work

_Sent from my HTC Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-05 04:59] k0shk0sh commented on #607
@yakov116 did you previously  purchased the item?

[2017-06-05 08:39] StanNL commented on #605
@k0shk0sh But couldn't you just calculate the sum of all the lengths of all the comments?

_Sent from my Samsung Galaxy S5 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-05 08:42] k0shk0sh commented on #605
@StanNL for what reason exactly? as I said, when you have such complex multi-row list, you gonna have such thing.

[2017-06-05 08:44] StanNL commented on #605
@k0shk0sh Well, I'm not a Java expert, nor an app developer at all, but I'd say it would look better if it was more consistent and it wouldn't be jumping from place to place all the time

_Sent from my Samsung Galaxy S5 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-05 08:57] mabbamOG opened #611 "Trending needs improvement"
**App Version: 3.0.0**

**OS Version: 23**

**Model: OnePlus-ONE A2003**
(Its actually oneplus 2)

![this](http://i.imgur.com/osEdk1O.png) is the trending view filtered by weekly haskell. As you can see the bug is that items are repeated...also there are not that few items really trending.

Furthermore:
- search should be added to the languages like on the site
- also the view widgets are lacking

[2017-06-05 09:00] mabbamOG opened #612 "Notification bug"
**App Version: 3.0.0**

**OS Version: 23**

**Model: OnePlus-ONE A2003**
(Oneplus 2)

I did not get a notification but it was reported under my profile activity and also it was there when i clicked on notifications.

_Sent from my OnePlus ONE A2003 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-05 09:04] k0shk0sh commented on #611
Well, simply we can't have these info because we are scraping GitHub trending page and getting data from it. So that point will not happen, looking at trending screen, the only thing is missing is built by, so can't really know what's more that you want.
Language list is there as well, not sure which one you referring to? Top languages are displayed in top of the list, the rest down sorted alphabe

[2017-06-05 09:04] k0shk0sh commented on #612
Did you select your notification interval?

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-05 10:06] yakov116 commented on #607
@k0shk0sh yes

_Sent from my HTC Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-05 10:08] k0shk0sh commented on #607
@yakov116 then simply that's the answer, google play doesn't allow you to purchase the item twice unless if I allow it from code :) .. never thought someone wants to support twice :p

[2017-06-05 10:09] nixel2007 commented on #607
looks like i've already supported too :)

[2017-06-05 10:10] k0shk0sh commented on #607
@nixel2007 probably lol. I should actually tell you that, I'll see what I can do about it.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-05 11:23] #604 closed

[2017-06-05 19:23] mabbamOG commented on #612
yes. 30 minutes is set, notifications are enabled. disable marking as read... is disabled and enable notifiaction sound is enabled.

[2017-06-05 19:25] yakov116 commented on #612
@mabbamOG I will wait for @k0shk0sh on this I am having the same issue

[2017-06-05 19:28] yakov116 commented on #607
@k0shk0sh which is really #446

[2017-06-05 19:37] mabbamOG commented on #611
- trending info: the github webpage does show the language of the project. if you use trending without any language filter then it is unknown. even with a language filter, it does not hurt to keep it.

- language list: i had not noticed the language list being split as the separator is not visible. still it's a pretty long list to be looking for "Standard ML", and then "Scheme" so i think search s

[2017-06-05 19:39] mabbamOG commented on #612
I also forgot to mention that my oneplus 2 does have a battery saving feature that disables/delays all background data usage (i think) until you turn on the screen. It might be part of the problem...but still other apps (eg telegram) get around this by providing notifications as soon as i turn on the screen.

[2017-06-05 19:46] yakov116 commented on #612
@mabbamOG I am the same I don't think that is the issue

[2017-06-05 20:45] mabbamOG commented on #612
Just got a notification from your reply and battery saving was disabled. It could that for me, or an intermittent bug

_Sent from my OnePlus ONE A2003 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-06 09:35] SitiSchu commented on #539
![screenshot_20170606-113019](https://cloud.githubusercontent.com/assets/18517178/26822950/1be1120c-4aac-11e7-9b31-e0a39a6b7238.png)

An example where it is more obvious.

https://github.com/ghc/ghc/blob/master/ghc/Main.hs

[2017-06-06 10:21] k0shk0sh commented on #539
@SitiSchu thanks for sharing that out, i'll look into it and can't promise much as i'm using Google prettify code library to highlight the code, i'll try and update the library and see how.

[2017-06-06 11:07] k0shk0sh commented on #612
its definitely that @mabbamOG FastHub doesn't use GCM to push the notifications, so if you were in doze mode or battery saving mode, do expect that FastHub will respect that and wont run in background.

[2017-06-06 11:07] #612 closed

[2017-06-06 12:26] #603 closed

[2017-06-06 12:26] #606 closed

[2017-06-06 12:34] mabbamOG commented on #612
@k0shk0sh alright. So actually telegram is capable of doing that because of gcm? (Which is reliant on google play services tho?)

_Sent from my OnePlus ONE A2003 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-06 12:36] k0shk0sh commented on #612
@mabbamOG we also rely on Firebase (which relies on GPS) but then, we don't trigger GCM because Github simply ain't our server :p , but the job guaranteed will run after device awake from doze mode or battery saving mode.

[2017-06-06 15:29] #558 closed

[2017-06-06 19:26] robcore opened #613 "[FR] Be able to see Git history on long press"
**App Version: 3.0.0**

**OS Version: 21**

**Model: samsung-SM-N900W8**

 Excellent App mate! I'd recommend just silently failing when a readme isn't found, as it's a relatively common occurrence that probably doesn't require a toast/error message client side. While I have you, octodroid has an awesome feature allowing one to hard-press a directory or file to view its git history, and I guess I'm

[2017-06-06 19:27] yakov116 commented on #613
@robcore Can you explain your 2 points?

[2017-06-06 19:27] NiekertDev opened #614 "Reopen place"
**App Version: 3.0.1**

**OS Version: 22**

**Model: HUAWEI-HUAWEI SCL-L21**

When you close the app and reopen it it launches the homescreen. Can you make it go back to the place you was?

_Sent from my HUAWEI SCL-L21 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-06 19:29] yakov116 commented on #614
@NiekertDev Good Idea. I have asked @k0shk0sh in the past about this, I was told that at this we will not do this.
I will wait for his input on this.
Thanks for your feedback

[2017-06-06 20:51] robcore commented on #613
I'm happy to!

Whenever I open a git repo from another app (be it a browser, or an app like tophub), a little mini-toast style error pops up briefly saying "error: no readme found!." I think this is unneccessary from an end-user's perspective because it is an issue with repos themselves, not with anything we have the ability to fix on our end, so the error isn't really useful for the app.

As far

[2017-06-06 20:52] robcore commented on #613
Ps. the feature request is pretty much implementing git log path/git log --follow filename.

[2017-06-06 20:55] yakov116 commented on #613
@robcore Renamed it to be clear

[2017-06-06 21:44] wasdennnoch commented on #605
That would indeed be nice but hardly if even not possible to implement; the thing is the app uses a so-called _RecyclerView_ which is basically a box with scrollable content that is based on the same layout. Only the content that is actually visible to the user is also in the view hierarchy which means in this example comments that are not visible practically do not exist at all.
Because of that t

[2017-06-06 21:57] robcore commented on #613
Thanks man! Sorry I suppose i should have made these two separate issues.

[2017-06-06 22:47] gappleto97 opened #615 "White splash screen on dark theme"
**App Version: 2.1.0**

**OS Version: 25**

**Model: Huawei-Nexus 6P**

 If there's an easy way to change the splash based on selected theme, can you please do so? Its a bit bothersome to get blinded when opening the app at night.

[2017-06-07 00:51] #615 closed

[2017-06-07 00:52] k0shk0sh commented on #615
It's hard to do that in Android as the splash screen is a run time theme

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-07 00:54] k0shk0sh commented on #608
Well I can't simply because fasthub catchs urls & opening chrome tab is the safest way for me to no go into a loophole

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-07 00:54] #608 closed

[2017-06-07 01:11] k0shk0sh commented on #613
I totally agree about the toast tho :p . I'll remove that.
Thanks

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-07 01:14] k0shk0sh commented on #614
Hey thanks for reporting this.

I don't think that this is how Mobile app behaves but I understand that it could be a problem to back to where you were that's why in next release there will a way to Pin almost anything to access it faster.
Thanks

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-07 01:15] #614 closed

[2017-06-07 01:16] k0shk0sh commented on #605
@wasdennnoch it is in 3.0.1 the fastscroller is fixed to one size so I hope everyone is happy

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-07 01:58] Younes-L opened #616 "Missing space"
**App Version: 3.0.1**

**OS Version: 25**

 When someone renames an issue, there's a missing space right after the old issue name and before the "to" (from...to...)

Example
 ![](http://i.imgur.com/A0SBBEi.jpg)

Can be found at #613

_Sent from my OnePlus A0001 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-07 02:45] Younes-L commented on #616
It's the little things :))

_Sent from my OnePlus A0001 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-07 02:47] Younes-L opened #617 "Incorrect number of stars in pinned screen"
**App Version: 3.0.1**

**OS Version: 25**

 Currently FastHub has 1598 stars but on my pinned screen it shows 1555
Tried pull to refresh but it did nothing

_Sent from my OnePlus A0001 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-07 02:53] k0shk0sh commented on #617
Well, you have first to go to Fasthub repo at least to update it otherwise they will never be updated, Pinned doesn't know GitHub, meaning there are no API calls for that list. So you have to at least open FastHub repo to update it.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-07 02:55] yakov116 commented on #617
@k0shk0sh um... stayed the same by me

_Sent from my HTC Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-07 02:56] k0shk0sh commented on #617
@yakov116 did u follow my state above?

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-07 02:59] yakov116 commented on #617
@k0shk0sh yes. I went to FastHub repo, refreshed and..... Nothing changed

_Sent from my HTC Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-07 04:32] StanNL commented on #605
@k0shk0sh  Yeah that seems like a very reasonable solution to me

_Sent from my Samsung Galaxy S5 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-07 04:49] Younes-L commented on #617
I noticed this while looking at the FastHub repo ^^

[2017-06-07 04:53] k0shk0sh commented on #617
@Younes-L well according to my impl, you have to exit the repo and enter it again for it to update. I don't that this is really critical tho.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-07 04:58] wasdennnoch commented on #605
@k0shk0sh I guess this doesn't change that it moves with different speeds but it's something.

[2017-06-07 04:59] k0shk0sh commented on #605
@wasdennnoch  that's true and can't do anything about it for the meantime.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-07 16:58] Younes-L commented on #617
For info the starred tab under my profile shows the correct amount of stars, but so far I haven't found a way to refresh the stars count on the pinned screen...
It's minor, no big deal x)

[2017-06-07 20:38] krokofant opened #620 "Disable signature returns after editing a comment that contains a sig"
**App Version: 3.0.1**

**OS Version: 25**

**Model: OnePlus-ONEPLUS A3003**

1. Wrote comment with signature
2. Disable signature in settings
3. Edit previous comment
4. Signature is now active in settings

_Sent from my OnePlus ONEPLUS A3003 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-07 20:43] yakov116 commented on #620
Test

[2017-06-07 20:43] yakov116 commented on #620
@krokofant There are 2 steps to disabling the sig. Did you do both?
It should have been fixed but..
![2017-06-07_16-42-29](https://user-images.githubusercontent.com/16872793/26900505-628de6cc-4ba0-11e7-9739-409640f1453f.gif)

[2017-06-07 20:47] yakov116 commented on #620
Test

_Sent from my Unknown Android SDK built for x86 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-07 20:53] yakov116 commented on #620
Test

_Sent from my Unknown Android SDK built for x86 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-08 00:08] k0shk0sh commented on #617
@Younes-L I'll look into a way of doing this :p

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-08 00:14] k0shk0sh commented on #620
@yakov116 what is the bug you referring to?
Couldn't get the issue?

Is it like when you disable the signature I should remove it from a previous comment? Isn't this the current case?

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-08 00:18] dedepete opened #621 "Duplicated "S/sort""
**App Version: 3.0.1**
**OS Version: 23**
**Model: Yota Devices Limited-YD201**

Seems like these strings have the same meaning.

[2017-06-08 00:19] k0shk0sh commented on #609
Yanki, you have updated to latest version, did your notification interval gone? I don't think so, then I guess this issue should be closed?

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-08 00:20] k0shk0sh commented on #621
Oops, I guess it was added in one of the PRs for filtering repos, you could ignore the latter that starts with `S` I'll remove it later. Thanks for finding this 😥

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-08 00:29] dedepete commented on #621
@k0shk0sh i also have a question about contextual meaning of some strings.
I'm going to make a PR soon with updated translation, but I didn't find, where the following strings are being used for:
[code]
Can you help me, please?

[2017-06-08 00:33] k0shk0sh commented on #621
@dedepete they are used in the markdown editor icons for accessibility & also when you long press them they'll show a `Toast` with that text.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-08 00:35] dedepete commented on #621
@k0shk0sh got it, thank you!

[2017-06-08 00:40] k0shk0sh commented on #621
Glad I was helpful :) . Thanks @dedepete

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-08 02:32] yakov116 commented on #609
@k0shk0sh the question is on a fresh install is this fixed? If yes close the issue

_Sent from my HTC Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-08 03:14] yakov116 commented on #620
@k0shk0sh test with sig

_Sent from my Unknown Android SDK built for x86 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-08 08:54] wasdennnoch commented on #615
I guess you could create a copy of the launch activity but with the dark theme and enable/disable them dynamically? Would be hacky but it works.

[2017-06-08 09:12] k0shk0sh commented on #615
@wasdennnoch we Tried, some launchers won't update immediately & upon clicking on the app, it will say its uninstalled until a minute or few seconds only then the app icon will be clickable,  you could give it a try tho :) PRs are welcome :p

[2017-06-08 12:33] Younes-L commented on #605
@wasdennnoch thanks ! I've been wondering why this happens on the Google Keep app for years...

_Sent from my Htc Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-08 14:22] failex234 opened #623 "Clicking on current version under about sometimes says that there's an update"
**App Version: 3.0.1**

**OS Version: 25**

**Model: samsung-GT-I9505**

 In 4 of 5 cases my app tells me there's an update even though there is none. In one case I actually got the message that my app is up to date.

[2017-06-08 14:27] k0shk0sh commented on #623
the current implantation checks the local database for FastHub releases, so its not really accurate you'll need to at least open FastHub repo once so it checks properly. I don't remember which Issue I described that & closed it, the better option would be going to the releases API and grab latest to check on that.

[2017-06-08 14:30] yakov116 commented on #623
@k0shk0sh you told it to me on slack...

[2017-06-08 14:36] k0shk0sh commented on #623
@yakov116 owh yeah and you also said I should go to release to get latest. Kudos to you

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-08 15:14] failex234 opened #624 "Filter repos button in orgnizations shows in wrong tab which causes crash"
**App Version: 3.0.1**

**OS Version: 25**

**Model: samsung-GT-I9505**

 In any organization that you're part of the repo filter button is displayed even though it shouldn't. On press the app crashes with an ClassCastException

[2017-06-08 15:17] gappleto97 commented on #615
Could the dark one be default?

[2017-06-08 15:19] yakov116 commented on #615
@gappleto97 Maybe with the new logo
But at the rate we are going we should have it within a year 😉

[2017-06-08 15:20] k0shk0sh commented on #615
@yakov116 lol dude, chillx I'll try and see what I can do about it.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-09 02:54] jahirfiquitiva opened #625 "Add "My repositories" item to navigation drawer."
---

 - FastHub Version: 3.0.1
 - Android Version: 7.0

Hey Kosh, can you please add a "my repositories" item to navigation drawer? I think is good to have it to quickly go directly to own repos, and will reduce the steps to get there.

Thanks

[2017-06-09 02:56] k0shk0sh commented on #625
Hey @jahirfiquitiva , I hope you doing fine mate, thanks for the suggestion, wouldn't the Pin Repo would be better? like in terms of accessing things faster, so you could pin a repo and access even from app shortcut, do let me know what you think about this?

[2017-06-09 02:58] yakov116 commented on #625
@k0shk0sh I think when you add the ability to have multiple accounts you can add a drop down with all this.

_Sent from my HTC Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-09 03:00] jahirfiquitiva commented on #625
@k0shk0sh
Not really. The way I see things is:
- My repositories: the list of my very own repositories.
- Pinned: the list of repositories from other people that I am/will be interested in checking frequently.

I hope it makes sense. I think is easier for me, than having to pin all my own repos to quickly access to them.

[2017-06-09 03:00] yakov116 commented on #625
@jahirfiquitiva I agree with you

_Sent from my HTC Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-09 03:02] jahirfiquitiva opened #626 "Design issues in profile view"
---

 - FastHub Version: 3.0.1
 - Android Version: 7.0

![screenshot_20170608-215757](https://user-images.githubusercontent.com/10360816/26959462-e55e5140-4c95-11e7-8e08-dc18f69a3c8b.png)

**Issues:**
1. Profile details elevation is different than Organizations and Contributions. Or at least the shadow seems darker.
2. There's no pull to refresh nor even an icon to do it there.
3. The bottom paddi

[2017-06-09 03:06] jahirfiquitiva opened #627 "Make the whole app comply with Material Design guidelines"
---

 - FastHub Version: 3.0.1
 - Android Version: 7.0

# Floating Action Button

According to [Material Design FAB Guidelines](https://material.io/guidelines/components/buttons-floating-action-button.html#buttons-floating-action-button-floating-action-button), FAB actions should be "positive actions like Create, Favorite, Share, Navigate, and Explore."

And you shouldn't put a menu in a FAB.
![sc

[2017-06-09 03:09] jahirfiquitiva opened #628 "Remove README tab when a repo has no README"
---

 - FastHub Version: 3.0.1
 - Android Version: 7.0

I think this would be better than having an empty section and colored toast saying "No readme found".

Thanks in advance.

[2017-06-09 03:18] yakov116 commented on #628
@jahirfiquitiva Nope. I think he is just removing the toast as he said in#613

[2017-06-09 03:18] #628 closed

[2017-06-09 03:18] jahirfiquitiva opened #629 "Make proper use of text and icons colors."
---

 - FastHub Version: 3.0.1
 - Android Version: 7.0

There are a couple things that annoy me a bit regarding the current colors implementation:

1. In light theme, all icons are black, instead of semitransparent black as guidelines say. I think the full back is a bit annoying to see.
2. In dark theme, primary and secondary text colors are barely differentiable, which makes it a bit bad for read

[2017-06-09 03:19] jahirfiquitiva commented on #628
I think an empty section makes no sense, so why don't just remove it?

[2017-06-09 03:20] yakov116 commented on #626
@k0shk0sh @JediBurrell Redid this one want to wait for him?

[2017-06-09 03:21] jahirfiquitiva opened #630 "Make navigation drawer comply to Material Design guidelines"
---

 - FastHub Version: 3.0.1
 - Android Version: 7.0

There are a couple issues with current navigation drawer:
1. Its width should be the device screen width - toolbar height, right now is way lower than that.
2. When an item is selected, its text should be tinted with accent color.

Thanks in advance.

[2017-06-09 03:21] yakov116 commented on #630
@jahirfiquitiva can you put all this in #627?

[2017-06-09 03:22] jahirfiquitiva commented on #626
@yakov116  I'm sorry, but I don't understand your reply.

[2017-06-09 03:23] jahirfiquitiva commented on #630
@yakov116 ok, let me write it there, and then I'll close these.

[2017-06-09 03:23] yakov116 commented on #626
@jahirfiquitiva no worries this was a message for him

[2017-06-09 03:25] jahirfiquitiva commented on #629
Added this to #627

[2017-06-09 03:25] #629 closed

[2017-06-09 03:25] jahirfiquitiva commented on #630
Added this to #627

[2017-06-09 03:25] #630 closed

[2017-06-09 03:28] jahirfiquitiva opened #631 "Switch username and name from navigation drawer"
---

 - FastHub Version: 3.0.1
 - Android Version: 7.0

Currently these texts are shown (e.g. for my account) like this:
[code]

I think it would be better if they were shown like this:
[code]

Keeping the same style: first line primary text colored, second line secondary text colored.

Thanks

[2017-06-09 03:29] yakov116 commented on #631
@jahirfiquitiva put this in #626

[2017-06-09 03:33] jahirfiquitiva opened #632 "Make it easier to contribute with translations"
---

 - FastHub Version: 3.0.1
 - Android Version: 7.0

I would like to do the whole Spanish translations, but I don't want to fork the whole project to do this.

I already suggested this to @k0shk0sh some time ago, but I'm doing it again.

Can you please upload the strings.xml to [OneSky App](https://www.oneskyapp.com/)? It's an easier way to translate the project, without having to fork it. And

[2017-06-09 03:37] yakov116 commented on #632
@jahirfiquitiva If you want you can update the stings file and I can upload it for you

[2017-06-09 03:42] jahirfiquitiva opened #633 "Please add a better code viewer."
---

 - FastHub Version: 3.0.1
 - Android Version: 7.0

Hey,

I would like to ask you to change the current code viewer.
I'm coming from Octodroid and I'm looking to switch completely to FastHub, which I download and test to see new stuff every now and then, until I think it's the perfect replacement.

Anyways, (besides the issues I already created/mentioned) there's this thing that annoys me the

[2017-06-09 03:46] jahirfiquitiva commented on #632
@yakov116
That's the thing, even the simple XML file is annoying to edit, and even harder for new people.
I can edit the XML file, but what if I don't have a good editor for it? What if I want to do some translations now, and some later? What if you add more texts? I would have to re-download the file, search for the new texts and translate them.

All those things are managed by OneSky.

And the t

[2017-06-09 03:48] jahirfiquitiva commented on #627
Additionally, I would like to suggest using this app while fixing the inconsistencies: [Keyline Pushing](https://play.google.com/store/apps/details?id=com.faizmalkani.keylines)

It has the right metrics, and I'm sure you will be able to find even more inconsistencies, like in lists and stuff.

Thanks

[2017-06-09 03:51] jahirfiquitiva opened #634 "Additional automatic theme"
---

 - FastHub Version: 3.0.1
 - Android Version: 7.0

There's already light and dark themes, it would be great to have an automatic theme, with options to set start and end times.

Thanks in advance.

[2017-06-09 03:51] jahirfiquitiva commented on #631
Added this to #626

[2017-06-09 03:51] #631 closed

[2017-06-09 03:55] yakov116 commented on #634
@jahirfiquitiva Lets wait on this one. Lets wait for the app to mature (age a bit)

[2017-06-09 03:55] #634 closed

[2017-06-09 04:18] k0shk0sh commented on #633
to be fair your compression is totally wrong, first of all, you enabled code wrap in FastHub which then will wrap the code to fit on screen width, second, you could just zoom in-out in FastHub as well as long as you don't wrap the code.

you have the option to open in in browser if you want to see it in Github so i'm not really sure how this issue is even opened without proper testing?

[2017-06-09 04:18] #633 closed

[2017-06-09 04:19] k0shk0sh commented on #632
#98 I guess this issue was opened by you, I have added the oneSky as you suggested but yet 3 months after you recreated one like it :p

[2017-06-09 04:19] #632 closed

[2017-06-09 04:22] jahirfiquitiva commented on #633
Woops, sorry about this. It seems like I misunderstood what "Wrap code" option would do in the app.

Thanks for explanation.

[2017-06-09 04:24] k0shk0sh commented on #627
says `Google` who have it in Inbox & other apps? the guidelines were never meant to be followed if Google themselves follow their guides then i'll definitely do that.

[2017-06-09 04:25] jahirfiquitiva commented on #632
Yeah, I thought the OneSky site was removed since I saw you created a repo specifically for translations, which is also removed now.

So... Can I do translations on OneSky? Are they still going to be included? And are those texts there updated?

[2017-06-09 04:27] k0shk0sh commented on #626
@yakov116 its alright, I could rework on it. let Jedi later focus on something more important :)

[2017-06-09 04:27] jahirfiquitiva commented on #627
Don't expect Google to do that, it won't ever really happen.

Anyways, I think these things indeed make a difference in making the app better looking and with a better UI/UX.

I don't want to go further with this, because you might end up hating me. So, if you implement this or not, is up to you, but for me these changes will really make some improvements.

[2017-06-09 04:31] k0shk0sh commented on #625
Well that's not the case,

Basically you pin Repos that you most frequently access and not the ones you interested on, if you are interested on a repo, Star / Fork it, these buttons they mean that you have interest on them, Pinned Repos, are the one that you frequently work on, like for example @yakov116  is tied to an Org and he has to do many support he also might like some other repos which the

[2017-06-09 04:31] #625 closed

[2017-06-09 04:42] k0shk0sh commented on #627
@jahirfiquitiva I see your point and wont be hating you :p it just that, people always tell me guidelines but yet google don't follow them :p , I'll really consider the icons and other things, but please let me keep the fab popup :p I like it lol

[2017-06-09 04:43] k0shk0sh commented on #632
@jahirfiquitiva I didn't :p its still there and it was open because of you, but you abounded it :'(

[2017-06-09 04:45] jahirfiquitiva commented on #632
@k0shk0sh
Yeah, sorry about it. The thing is I got busy and since I wasn't doing the whole switch to FastHub, I didn't find the need to make translations and ended forgetting about it. Maybe in the near future, I will make them.

[2017-06-09 04:45] k0shk0sh commented on #632
@jahirfiquitiva sure buddy, its still open and you can do it any time you like :)

[2017-06-09 04:49] jahirfiquitiva commented on #627
@k0shk0sh Great.
Well, I do things that follow guidelines, I like to think about it like "I did it properly, even when Google didn't or even wasn't able to". Just for personal satisfaction.

If you want to keep the FAB pop-up, I think that's ok, but at least change the FAB icon, move the "Add issue" option to the bottom and make the checkbox aligned with options icons and also align all options te

[2017-06-09 04:56] k0shk0sh commented on #627
@jahirfiquitiva that's really good suggestion, I'll do that today hopefully. Thanks Jahir

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-09 13:45] just-Nob opened #635 "Start doesn't search by search icon"
**App Version: 2.1.0**

**OS Version: 23**

**Model: LGE-LG-D855**

If searching for issues in the corresponding "issues screen", the search doesn't start by clicking (i.e. tapping) on the virtual keyboard's search/magnifier icon.

It needs an additional tap on the category tab (open/close) to start the search.

[2017-06-09 13:46] k0shk0sh commented on #635
Hey thanks for reporting,

You made me doubt for a second until I went to trigger it, clicking the keyboard search Icon will trigger search for the only selected (closed or opened) issues which one of them I assume it will be selected by default. could you tell me how would you trigger it?

[2017-06-09 13:54] yakov116 commented on #635
@k0shk0sh Version 2.1.0!!

[2017-06-09 13:57] k0shk0sh commented on #635
@just-Nob could you please update to 3.0.1?

[2017-06-09 15:03] yakov116 opened #636 "Issue icons stay highlighted if there are no issues"
**App Version: 3.0.1**

**OS Version: 25**

**Model: HTC-Nexus 9**

 See the picture below

![](http://i.imgur.com/5v21dp9.png)

_Sent from my HTC Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-09 15:10] #626 closed

[2017-06-09 15:10] #621 closed

[2017-06-09 15:10] #623 closed

[2017-06-09 15:10] #624 closed

[2017-06-09 21:38] Younes-L commented on #632
So for translation, refer to this http://fasthub.oneskyapp.com ?
It seems inactive, need confirmation :)

[2017-06-10 02:14] k0shk0sh commented on #632
@Younes-L well I have never used since then, so it might be. @yakov116 has done new one let him know if you want to translate it so he pass you the link.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-10 06:12] #607 closed

[2017-06-10 12:35] dikiaap commented on #329
Is this already fixed?

[2017-06-10 13:38] k0shk0sh commented on #329
@dikiaap totally forgot about it. 😰

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-11 05:38] gappleto97 opened #639 "Line numbering creates inconsistent indentation"
**App Version: 2.1.0**

**OS Version: 25**

**Model: Huawei-Nexus 6P**

 ![](https://i.imgur.com/TXmL83j.png)

This is a problem in indent-sensitive languages like Python

[2017-06-11 05:40] k0shk0sh commented on #639
could you give a me link to the file?

[2017-06-11 05:44] gappleto97 commented on #639
https://github.com/gappleto97/overpassify/blob/master/overpassify.py

[2017-06-11 08:28] #329 closed

[2017-06-11 08:28] #539 closed

[2017-06-11 08:28] #627 closed

[2017-06-11 08:31] k0shk0sh commented on #617
this is fixed in b345bf7f879604dd8e7541f40d92fc40ed9f5d05

[2017-06-11 08:31] #617 closed

[2017-06-11 08:32] k0shk0sh commented on #639
this is fixed in 1c1908fa17b7006a84ead04d5c0b02e2ff59eb61 by revamping the whole syntax highlighting

[2017-06-11 08:32] #639 closed

[2017-06-11 14:22] yakov116 opened #640 "Small Grammar Changes"
---

 - FastHub Version: Debug
 - Android Version: O
 - Phone Model: Nexus 9

dedepete commented on commit ```k0shk0sh/FastHub@04a59fd2e7```
Last Half linkified

Linkify all repo links

One commit does not need the text "One Commit"
Allign the text
![image](https://user-images.githubusercontent.com/16872793/27011724-2fa1e496-4e90-11e7-9c74-bae1b339396a.png)

Why do you have a diff order?
![image](

[2017-06-11 14:59] yakov116 opened #641 "Rounded and circular avatars options are switched"
---

 - FastHub Version:
 - Android Version:
 - Phone Model:
![image](https://user-images.githubusercontent.com/16872793/27011954-f9b60f60-4e94-11e7-93b0-81c1c307643b.png)

Also disabling list animation should be disabled from settings too

[2017-06-11 15:00] k0shk0sh commented on #641
are switched? could you please elaborate?

[2017-06-11 15:04] #641 closed

[2017-06-11 15:05] yakov116 commented on #641
@k0shk0sh you win!

[2017-06-11 15:10] #620 closed

[2017-06-11 15:25] #636 closed

[2017-06-11 15:25] #640 closed

[2017-06-11 15:27] #616 closed

[2017-06-11 18:17] gappleto97 opened #642 "Crashes if you try to edit an issue's main body"
**App Version: 2.1.0**

**OS Version: 25**

**Model: Huawei-Nexus 6P**

 The screen goes black and I need to kill the app.

[2017-06-11 18:18] yakov116 commented on #642
@gappleto97 please update your app to the latest

[2017-06-11 18:18] #642 closed

[2017-06-11 18:19] gappleto97 commented on #642
When I try to edit this issue it just says "validation fails" on submit. The crash behavior happens on my repo: https://github.com/gappleto97/issues/7

[2017-06-11 18:20] yakov116 commented on #642
@gappleto97 can you update the app and try again?

[2017-06-11 18:21] gappleto97 commented on #642
I cannot. This is the latest on F-Droid.

[2017-06-11 18:22] yakov116 commented on #642
https://github.com/thermatk/FastHub-Libre
@thermatk is has made F-Droid compatible 3.0.0.

As of now we are no longer supporting F-droid. This may change in the future.

[2017-06-11 18:25] gappleto97 commented on #642
I'm very sorry to hear that. Might I ask why?

[2017-06-11 18:28] yakov116 commented on #642
@gappleto97 It got very hard to support F-Droid.
It meant having to compile two versions and maintain both of them.

I think that we jumped the boat a bit too quick. But what happened, happened.

Sorry

[2017-06-11 19:14] yakov116 commented on #609
@k0shk0sh This was not fixed in a fresh install

![image](https://user-images.githubusercontent.com/16872793/27013772-b4e12ffe-4eb8-11e7-9062-3a69c017f9f2.png)

[2017-06-12 04:33] arkon opened #644 "Distinguish between merged and closed PRs"
**App Version: 3.0.1**

**OS Version: 25**

**Model: asus-Nexus 7**

 Pretty straightforward, as the title says.

[2017-06-12 04:34] k0shk0sh commented on #644
in where exactly?

[2017-06-12 04:34] arkon commented on #644
The PRs view's tabs, specifically.

[2017-06-12 04:42] arkon opened #645 "Profile repos list items should include third party usernames"
**App Version: 3.0.1**

**OS Version: 25**

**Model: asus-Nexus 7**

 Bit of a long winded title, but...

If you're a collaborator on somebody else's repo, it'll show up in your list of repos on your profile. This causes sorting by name to seem weird because that takes their usernames into account (see the GitHub web UI).

[2017-06-12 04:52] k0shk0sh commented on #644
aren't they showing? of course in the PullRequests in main screen this won't happen due to the use of search API, otherwise in repos this is what is showing right?
have a look at this URL https://api.github.com/search/issues?q=type:pr+author:k0shk0sh+is:open&page=1

[2017-06-12 04:52] #644 closed

[2017-06-12 04:53] k0shk0sh commented on #644
compare it to repos PRs api https://api.github.com/repos/k0shk0sh/FastHub/pulls?state=closed&page=1

P.S:  it doesn't even tell us who merged however we check if the `merged_at` date is available then I show that it has been merged

[2017-06-12 04:57] k0shk0sh commented on #645
But GitHub Repo sorting API is different from the one that they have on their website,
If we use type then we are forbidden to use affiliation
https://developer.github.com/v3/repos/#list-your-repositories

[2017-06-12 06:13] #167 closed

[2017-06-12 06:16] k0shk0sh commented on #465
Hello @zvirja in today's release it has an attempt to fix this, please do reopen it if you find it still incorrect.

[2017-06-12 06:37] k0shk0sh commented on #645
just made an attempt to just use one of the types in the github website however it didn't work :'(

https://api.github.com/users/k0shk0sh/repos?sort=pushed&type=source

[2017-06-12 06:37] #645 closed

[2017-06-12 11:42] just-Nob commented on #635
@k0shk0sh:
Newer versions aren't delivered via F-Droid? I got it there...

Anyway, I think my bug description wasn't good enough:

1) Pick one project in FastHub.

2) Switch to "issues" by tapping on the corresponding tap at the screens bottom. You'll be displayed the project's issues.

3) Tap on the blue, floating button at the right lower side, where you can choose to add a new issue or to searc

[2017-06-12 11:45] k0shk0sh commented on #635
@just-Nob I did exactly like you said & I have zero problems with that, can you update from the releases page in GitHub repo? Try it and let me know, it might be a specific device bug but can't be sure unless if u are on latest :p

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-12 12:04] k0shk0sh opened #648 "Remove enabling/disabling nestedScroll from the webview in readme"
**App Version: 3.1.0**

**OS Version: 25**

**Model: htc-m8**

 Since now we are actually hidden top & bottom bar to give more space.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-12 14:32] yakov116 commented on #344
@arkon Test 1

[2017-06-12 14:33] yakov116 commented on #645
@arkon Test 2

[2017-06-12 14:44] Younes-L opened #649 "[Enhancement] animate the readme header appearing/disappearing upon scrolling"
**App Version: 3.1.0**

**OS Version: 25**

**Model: htc-Nexus 9**

Currently it only takes a single frame for the header to glitch in and out

[2017-06-12 14:44] arkon commented on #644
Ah, that's a shame. I do like how Octodroid has separate tabs for a repo's open/merged/closed PRs.

[2017-06-12 14:46] k0shk0sh commented on #649
yep, I noticed that :p the thing is, it was ugly to do it anyway since we have plenty of fragments in there with only one header and bottomNavigation :D. @kutsan actually told me about it earlier after I released and did change it but was waiting for someone to comment about it :p

[2017-06-12 14:50] k0shk0sh commented on #644
@arkon but `merged` it actually shows that its merged right?

[2017-06-12 14:51] arkon commented on #644
@k0shk0sh Yes, it does show as that within the closed tab, so it's fine. :)

[2017-06-12 14:52] arkon commented on #344
For future reference: more testing of this showed that it goes directly to the first item in the grouped notification when tapped, which is just how N handles it.

[2017-06-12 14:55] k0shk0sh commented on #644
@arkon cool I hope that satisfy you even tho there just a little that u ain't satisfied about :p

[2017-06-12 15:00] kutsan commented on #649
It's not a bug if no one noticed it. :D

[2017-06-12 15:01] k0shk0sh commented on #649
@kutsan I did it tho :p it looks away better now :D

[2017-06-12 15:08] k0shk0sh commented on #501
@EvanOman could you point me to any file in github that is written in that format?

[2017-06-12 15:12] yakov116 commented on #501
https://github.com/drinckes/testrepo/blob/master/README.adoc

[2017-06-12 15:29] k0shk0sh commented on #501
![](http://i.imgur.com/NjpVbFN.png)

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-12 15:36] yakov116 commented on #611
Would also be nice to be able to search that language list.

[2017-06-12 16:41] Younes-L commented on #649
~~At least it's better than the weird scrolling from before~~ 🙃

[2017-06-13 08:21] just-Nob commented on #635
Hi @k0shk0sh,
tried to install, but wasn't successful.
After trying, my device always tells me something like "Alp wasn't installed" (in German, for sure), neither giving any further information, nor a hint for guessing.
Maybe this is a problem of memory being low, I have to get rid of some test apps... ;)
Giving you additional feedback about the search problem asap.

Anyway, was there a huge incr

[2017-06-13 08:35] k0shk0sh commented on #635
@just-Nob I don't think that this is the problem? I had try uninstalling my current FH & install the new one :p

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-13 08:36] k0shk0sh commented on #635
Matter of fact, Fdroid signs the apks themselves which that's why you got conflict, you'll definitely need to uninstall and reinstall.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-13 13:45] #648 closed

[2017-06-13 13:45] #649 closed

[2017-06-13 16:16] k0shk0sh opened #653 "Viewing image in app shows stateLayout on top"

[2017-06-14 04:57] maxbycode opened #654 "PR checks that passed are marked as failed"
---

![image](https://user-images.githubusercontent.com/11779550/27115963-6474fdf0-508b-11e7-8edd-cbd3f38a7193.png)

This PR says that all checks have failed but on the GitHub website it says they had passed:

![image](https://user-images.githubusercontent.com/11779550/27115984-7f939aba-508b-11e7-95b4-d7ada4231c98.png)

However, the check messages say the checks have passed within them as well.

[2017-06-14 05:07] k0shk0sh commented on #654
Hey, thanks for reporting,
Could you give me the PR link?

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-14 06:06] maxbycode commented on #654
[Here you go](https://github.com/v0lture/v0.lt/pull/11)!

_Sent from my Google Pixel using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-14 10:11] #66 closed

[2017-06-14 11:50] AlexWayfer opened #655 "Scrolling problem with links to lines of file"
**App Version: 3.1.0**

**OS Version: 24**

**Model: Sony-E5823**

 Example link: https://github.com/dry-rb/dry-struct/blob/master/dry-struct.gemspec#L29-L33

_Sent from my Sony E5823 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-14 11:52] k0shk0sh commented on #655
What is the problem? I clicked linked and it was being highlighted + scrolled to 33?

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-14 11:59] AlexWayfer commented on #655
Yes, and I can't scroll to top: it's scrolling to highlighted line again and again.

_Sent from my Sony E5823 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-14 12:37] k0shk0sh commented on #655
@AlexWayfer owh yeah, didn't test it with small files, it's definitely a bug :'(

Thanks

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-14 20:57] yakov116 commented on #654
Discovered another 2 bugs and 1 enhancement when testing this issue.

1.  The merged is doubled and has the wrong wording.
  1a.  Its missing the branch it was merged into
  1b. Should say `merged commit` `<commit number>`  `into` `<branch name>`
2. The referencing is not correct.
    2a. Its missing where is was referenced
    2b. When clicking on it, it just loads a blank page.
3. The __[bot]__

[2017-06-15 00:55] maxbycode commented on #654
Also to add on, the details count towards the top tabs says 0 when there is obviously more than 0 details in the PR.

_Sent from my Google Pixel using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-15 00:57] k0shk0sh commented on #654
@maxbycode the count is meant for comments not for the overall details. I haven't yet to check on this issue as I wasn't free yesterday, I'm sure GitHub saying that something didn't pass I'll post my finding as soon as I get my hand on it.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-15 01:23] maxbycode commented on #654
@k0shk0sh ah fair enough. Thanks for looking into it though!

_Sent from my Google Pixel using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-15 05:38] yakov116 commented on #654
@k0shk0sh when looking this issue I discovered another one.
The 1 1a 1b are not intended correctly

![](http://i.imgur.com/5e7oChT.png)

_Sent from my HTC Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-15 07:48] aminecmi opened #657 "[FR] Assignment and labels adding from the creation sreen"
It would be great if we could assign the issue, add labels and milestones directly from the creation activity.

Alternatively, it may be easier to edit the issue if the edit activity was opened after creating an issue.

 - FastHub Version: 3.1.0
 - Android Version: 8.0(Android O Preview 3)

[2017-06-15 09:44] zvirja commented on #465
@k0shk0sh Sorry for the delay. Unfortunately, this issue hasn't been fixed and is still reproducible (v 3.1.0):
![photo_2017-06-15_12-37-35](https://user-images.githubusercontent.com/1074182/27175588-44fc2c1c-51c8-11e7-81ac-462782654baa.jpg)

Also I found that it's not this PR specific and happens on other PRs as well 😞

[2017-06-15 10:02] k0shk0sh commented on #465
Its complicated to be honest will try again

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-15 13:29] k0shk0sh commented on #654
well it appears to be looking fine, looking at the PR link you gave me, there are 2 checks and one of them failed, looking as well at github api, it clearly says the status is failure

https://api.github.com/repos/v0lture/v0.lt/commits/dafe473de58d1ec38cd31e14dea9ad26a017674f/status

[2017-06-15 13:29] #654 closed

[2017-06-15 13:34] k0shk0sh commented on #654
but, hey that PR actually made me realize that there is one more status that should be showing & i'm not even catching it, which is `error` currently, only, failure, success & pending I was handling them, this will be showing in next release, thank you very much :)

[2017-06-15 13:36] k0shk0sh commented on #654
![](http://i.imgur.com/6vOwTm1.png)

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-15 13:45] yakov116 commented on #654
@k0shk0sh I should make a new ticket with the other things? Or you have them?

[2017-06-15 13:54] k0shk0sh commented on #654
make new one in your issues list.

[2017-06-15 14:15] #653 closed

[2017-06-15 14:15] #655 closed

[2017-06-15 14:15] #610 closed

[2017-06-15 14:59] #465 closed

[2017-06-15 15:52] yakov116 commented on #654
@k0shk0sh the issue is that the commit failed but when it was merged it passed.

I guess when you add support for cli on a commit we will come back to this

[2017-06-15 16:07] maxbycode commented on #654
Cool. I guess I didn't see the other check then when looking. Thanks for fixing the one that didn't show though!

_Sent from my Google Pixel using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-16 14:24] LeeReindeer commented on #478
And it would be great if can **tag** or **group** the starred repo.

[2017-06-17 04:09] k0shk0sh commented on #344
I finally got this :D & fixed it :) will close it with my next commit.

[2017-06-17 04:36] secrethash opened #666 "Public Gists not opening"
**App Version: 3.1.0**

**OS Version: 23**

**Model: LENOVO-Lenovo K50a40**

When clicking the link to the gist in the browser, the FastHub app opens automatically and says "No gist found".

While the gist is opening just great in the browser when checked without auto launch to FastHub.

[2017-06-17 04:48] k0shk0sh commented on #666
Hi @secrethash it will be really helpful if you could provide a link to the gist.

[2017-06-17 04:58] secrethash commented on #666
Sure, https://gist.github.com/flipace/cbd8e913140d2ca650f6.

[2017-06-17 05:00] k0shk0sh commented on #666
I see, its definitely due to the username path, will be fixed in tomorrow's release :)

[2017-06-17 05:01] secrethash commented on #666
Also just found out, when commenting in the issue and pressing `enter key`, the app crashes.

[2017-06-17 05:03] k0shk0sh commented on #666
@secrethash where do you find the enter key? I'm confused abit

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-17 05:07] secrethash commented on #666
The keyboard's enter key. I am using gboard, google's keyboard.

[2017-06-17 05:08] k0shk0sh commented on #666
@secrethash I'm using that too, I'll look it up in the crash report with your device name and will try and fix that too. Thanks

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-17 05:09] secrethash commented on #666
Sure, thanks alot.

[2017-06-17 05:45] #501 closed

[2017-06-17 05:47] k0shk0sh commented on #478
@LeeReindeer could you please elaborate on the tag or group part? they should be grouped or tagged by what exactly?

[2017-06-17 06:04] Younes-L opened #667 "Filter FAB is shown and persists in non relevant org tabs"
**App Version: 3.1.0**

**OS Version: 25**

**Model: OnePlus-A0001**

 When viewing an organisation from the side panel, there's no FAB in feeds tab, but then it shows up on all other tabs (even overview and members) and stays visible after going back to the feed tab.

This does not happen on a user view, where the FAB is only shown in repos tab.

[2017-06-17 06:09] k0shk0sh commented on #667
Lol, I just fixed that 10minutes ago :D .

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-17 11:45] #198 closed

[2017-06-17 11:48] #230 closed

[2017-06-17 11:49] #88 closed

[2017-06-17 11:50] #132 closed

[2017-06-17 11:58] #666 closed

[2017-06-17 11:58] #611 closed

[2017-06-17 11:58] #667 closed

[2017-06-17 11:59] k0shk0sh commented on #344
this fixed in 04244d50cba1b6335faeca51a4a6769a2fe967f6

[2017-06-17 11:59] #344 closed

[2017-06-17 12:53] just-Nob commented on #635
Ok... - I installed v. 3.10, but behavior still remains.
I could send you a screen recorded video, if you want to, or I could install a debug version.

[2017-06-17 13:04] k0shk0sh commented on #635
@just-Nob that will be great, could you do asap :)

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-17 17:37] FranciscoPombal opened #668 "[FR] Add search field to starred repositories list"
**App Version: 3.1.0**

**OS Version: 24**

**Model: samsung-SM-G920F**

 The starred repositories list needs a search field, and also maybe some options to sort.

[2017-06-17 17:38] k0shk0sh commented on #668
#478

[2017-06-17 17:38] #668 closed

[2017-06-18 05:28] Sparker0i opened #670 "Dismiss all button appearing when logged in for first time on other's repo"
**App Version: 3.1.0**

**OS Version: 25**

**Model: Xiaomi-Redmi Note 3**

 When we login for the first time, and open other's repo, there appears a red button with "dismiss all" text.

_Sent from my Xiaomi Redmi Note 3 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-18 05:29] k0shk0sh commented on #670
Yep, clicking on that will dismiss all the other guides so you don't see it any more.

[2017-06-18 05:29] #670 closed

[2017-06-18 09:48] k0shk0sh commented on #635
@just-Nob 3.2.0 has an attempt to fix this, please check it out.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-18 10:58] wasdennnoch commented on #655
Actually shouldn't all lines fron 29 to 33 be highlighted?

[2017-06-18 11:15] k0shk0sh commented on #655
@wasdennnoch this feature is not implemented, could you open an issue for it.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-18 11:19] Frioo opened #671 "Watch/star/fork repo"
**App Version: 3.2.0**

**OS Version: 25**

**Model: OnePlus-ONEPLUS A3003**

 The star count (or whatever the action is) resets when you star it.

[2017-06-18 11:21] k0shk0sh commented on #671
Could elaborate? I just unstar & star a repo and everything works fine??

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-18 11:22] wasdennnoch commented on #655
Sure.

[2017-06-18 11:24] wasdennnoch opened #672 "Direct links to highlight multiple lines only highlight the last line"
**App Version: 3.1.0**

**OS Version: 25**

**Model: samsung-GT-I9305**

Example:
 https://github.com/dry-rb/dry-struct/blob/master/dry-struct.gemspec#L29-L33

[2017-06-18 11:54] AlexWayfer commented on #259
I don't see any "Subscribe" button for issue 😓

![](http://i.imgur.com/IF8B3ez.png)

_Sent from my Sony E5823 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-18 11:56] AlexWayfer opened #673 "Emojis in preview mode"
**App Version: 3.1.0**

**OS Version: 24**

**Model: Sony-E5823**

 I type Emoji, enter preview mode — and I don't see Emojis in preview 😭

_Sent from my Sony E5823 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-18 12:16] k0shk0sh commented on #259
@AlexWayfer please read my comment above!

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-18 13:09] AlexWayfer commented on #259
@k0shk0sh I don't see comment about API, or `want-fix` label, but I see `completed` label and closing commit :) But OK.

[2017-06-18 13:11] k0shk0sh commented on #259
@AlexWayfer completed was for seeing either u watching repo or not, however the subscription isn't possible but could be done though notifications screen or unsubscribe.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-18 13:22] ozcaan11 opened #674 "Releases bug"
**App Version: 3.1.0**

**OS Version: 25**

**Model: General Mobile-General Mobile 4G**

 There is a bug in releases tab.
When you scrolling to bottom all items in the recycle views text become the same

_Sent from my General Mobile 4G using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-18 13:37] yakov116 commented on #674
@ozcaan11 can you take a picture of what you are seeing?

[2017-06-18 13:38] k0shk0sh commented on #674
Update to 3.2.0 and please check & comment back

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-18 13:41] yakov116 commented on #674
@k0shk0sh one thing I am seeing is (even on 3.2.0) that my 3.0.0 is saying drafted.

[2017-06-18 13:42] k0shk0sh commented on #674
@yakov116 what are talking about

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-18 13:45] yakov116 commented on #674
@k0shk0sh When i look at my releases page I see instead of **released** I see **drafted**. I don't have it with me now will post a pic later.

[2017-06-18 14:02] eygraber commented on #323
@k0shk0sh which issue is that? The ability to create review/commit comments on code is basically the only thing keeping me from using FastHub as my daily driver.

[2017-06-18 16:01] k0shk0sh commented on #323
@eygraber this related to displaying pr reviews created from browser plus interacting with them, the possibility to add PR changes isn't available yet, you could add commit comments but not yet on line commments as I couldn't find how to do that with the possibility of calling each file separately and get it's line number and stuff like that which going to be complicated, however its on my list of

[2017-06-18 16:21] just-Nob commented on #635
Hi @k0shk0sh,

I sent you an eMail with the video attached (about 4.3MByte), recorded on the latest version 3.2.0.

Please let me know of this clarifies my description of the potential misbehavior.

[2017-06-18 17:21] GeorgeWL opened #676 "Portrait mode doesn't wrap file contents correctly"
**App Version: 3.1.0**

**OS Version: 24**

**Model: Sony-E6653**

 here's a nice video of the issue https://www.dropbox.com/s/hxp242lyf7xh91h/ScreenRecord_2017-06-18-18-12-39.mp4?dl=0

Basically when you click wrap content checkbox in portrait mode it wraps the content, but at a slightly wider width than the screen,  by about 15%

No issues when do the same in landscape mode.

[2017-06-18 17:28] yakov116 commented on #676
@GeorgeWL Can you update to 3.2.0 and try again?

[2017-06-18 19:14] ozcaan11 commented on #674
@k0shk0sh it seems problem solved ;)

_Sent from my General Mobile 4G using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-18 19:16] yakov116 commented on #674
@ozcaan11 great!

[2017-06-18 19:16] #674 closed

[2017-06-18 19:27] GeorgeWL commented on #676
@yakov116 oooh, doesn't realise there was an update,  yeah I'll try shortly and see the difference

[2017-06-18 19:28] tigerhawkvok opened #677 "Labels List doesn't load more than 30 labels"
**App Version: 3.1.0**

**OS Version: 25**

**Model: Huawei-Nexus 6P**

 If there are many labels in a repo, the list gets cut off, rendering some of the labels inaccessible.

_Sent from my Huawei Nexus 6P using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-18 19:32] yakov116 commented on #677
@tigerhawkvok Can you update to 3.2.0?

After updating if there is an issue, please attach a link to the repo issue.

Thanks for your feedback

[2017-06-18 19:35] swarupsro opened #678 "[FR] Allow Zoom in/out when looking at files"
**App Version: 3.2.0**

**OS Version: 23**

**Model: Xiaomi-Redmi 4**

 Currently Syntex Zoom in and Zoom out is not possible....

[2017-06-18 19:36] yakov116 commented on #678
@swarupsro What when where?
What place in the app? Where would you like it to happen?

[2017-06-18 19:37] swarupsro commented on #678
if I wanted to see any large code - we can't zoom in or zoom out the full code!!

[2017-06-18 19:38] yakov116 commented on #678
@swarupsro in a commit? in a file? in a pull request?

[2017-06-18 19:51] tigerhawkvok commented on #677
Yep, replicates still

_Sent from my Huawei Nexus 6P using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-18 19:52] yakov116 commented on #677
@tigerhawkvok can you give me a link?

[2017-06-18 20:04] yakov116 commented on #677
![image](https://user-images.githubusercontent.com/16872793/27263811-d4dc5c20-543f-11e7-880b-3e3aa45a50f7.png)

As you can see. I dont see any issue here

[2017-06-18 20:07] yakov116 commented on #677
@tigerhawkvok are you talking about the list of labels you can add? Like the pic below?

![image](https://user-images.githubusercontent.com/16872793/27263823-169c9d5a-5440-11e7-8241-44e7a9a8e705.png)

Which by the way I noticed a new bug @k0shk0sh. the style stops at one point

[2017-06-18 20:10] swarupsro commented on #678
in a file !

[2017-06-18 20:11] yakov116 commented on #678
@swarupsro Got you. Ok I am going to rename the issue and wait for @k0shk0sh to respond.

I am taking this as a feature request to allow zooming in when you are looking at a file

[2017-06-18 20:29] i-kocevski opened #679 "API19?"
Are there any plans of adding support for 4.4 KitKat?

[2017-06-18 20:30] tigerhawkvok commented on #677
Sure, consider these labels from the app label picker:

![screenshot_20170618-132526](https://user-images.githubusercontent.com/165937/27263986-3f3cc1b0-542a-11e7-8332-dd6f8d37169d.png)

![screenshot_20170618-132535](https://user-images.githubusercontent.com/165937/27263987-413c472e-542a-11e7-805b-aaa26d076c51.png)

![screenshot_20170618-132544](https://user-images.githubusercontent.com/165937/272

[2017-06-18 20:34] yakov116 commented on #679
@i-kocevski nope sorry.

Were almost up to android 8 I think it may be time for an upgrade.

[2017-06-18 20:34] #679 closed

[2017-06-19 00:40] k0shk0sh commented on #678
You can zoom in/out, have u tried before creating issue?

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-19 00:40] #678 closed

[2017-06-19 01:10] k0shk0sh commented on #674
@yakov116 what says draft yanki? I'm abit lost because I never wrote that word in FastHub, it could be coming from GitHub so 😕

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-19 01:10] k0shk0sh commented on #679
It's hard to target 19 at this stage, I never had the thought of downgrading tho, sorry about that.

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-19 01:14] swarupsro commented on #678
yes ! i tired ..

[2017-06-19 01:15] k0shk0sh commented on #678
@swarupsro then? You could zoom in/out am I right?

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-19 01:16] k0shk0sh commented on #678
If you enabled wrap content, disable it as you won't be able to zoom in/out

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-19 01:18] k0shk0sh commented on #678
https://drive.google.com/file/d/0BxbjAF1sbwjaTkFGZDZnRDdxVzA/view?usp=drivesdk

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-19 01:20] k0shk0sh opened #681 "Allow to choose commit from Feeds multi commits"

[2017-06-19 01:35] k0shk0sh commented on #676
@GeorgeWL there will be no difference :p I guess I got it wrong, new highlight library used table to render code instead of pr that's why it isn't wrapped properly it's an easy fix but thanks for the headsup

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-19 03:36] yakov116 commented on #674
@k0shk0sh look at 3.0
![](http://i.imgur.com/rMfZhqX.png)

_Sent from my HTC Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-19 03:41] k0shk0sh commented on #674
@yakov116 then its drafted :) and I should do it from github.

[2017-06-19 05:30] yakov116 commented on #674
@k0shk0sh it's not. Only in my tablet app does it show drafted. On the emulator it does not. I think that there is a bug casing it now to update

_Sent from my HTC Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-19 09:14] zvirja commented on #465
Thanks for the fix! Can confirm that everything looks fine after the recent update.

I'll let you know if issue happens again.

[2017-06-19 12:02] k0shk0sh commented on #671
@Frioo any update on this?

[2017-06-19 12:04] Sparker0i commented on #670
No, but what I meant to say is that after all the guides go away, the Dismiss All button stays there. By logic, if all guides have been shown, there is no need of that button.

[2017-06-19 12:14] #672 closed

[2017-06-19 12:14] #676 closed

[2017-06-19 12:14] #677 closed

[2017-06-19 12:14] #681 closed

[2017-06-19 12:21] yakov116 commented on #670
@Sparker0i there is still some that do not show corretly so thats why you get that "dismiss all". One day it will be fixed.

[2017-06-19 12:27] just-Nob commented on #635
Hi @k0shk0sh,

thx foryour hint referring to the keyboard!

I used the LG G3's standard, build-in stock keyboard.
The keyboard's search function works well with other apps, like internet browsers, for example.

Anyway, I made some tries with some alternative keyboards, and found out this really interesting facts:
1. Using AnySoftKeyboard (German also installed, but switched to English) results in

[2017-06-19 13:15] k0shk0sh commented on #635
@just-Nob does it happen in search activity as well? I'm curious to know since it's the same implemention

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-19 14:17] yakov116 commented on #674
@k0shk0sh Look now.
![image](https://user-images.githubusercontent.com/16872793/27289576-6c722a22-54d8-11e7-8a57-51d1f9ac09f9.png)

This is the emulator

[2017-06-19 14:36] just-Nob opened #682 "Download link given in issue ticket don't work (download doesn't start)"
**App Version: 3.2.0**

**OS Version: 23**

**Model: LGE-LG-D855**

I've got a download link for a test/debug version of another app hosted at Github. Trying to follow the link on FastHub for downloading the debug version led only to the app's "main page", but failed to download the app.
When logging in to Github via a web browser, the link worked and I was able to download the app via tapping the

[2017-06-19 14:37] yakov116 commented on #682
@just-Nob It was fixed (or at least I reported it) will be in the next release.

Thanks for your feedback.

@k0shk0sh add __.zip__ and __.tar__ to the list

[2017-06-19 14:37] k0shk0sh commented on #682
Well, this link is new to me lol, never seen link like it before

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-19 15:11] #682 closed

[2017-06-19 15:57] k0shk0sh opened #683 "Opening images is broken since last GitHub API change"
**App Version: 3.2.0**

**OS Version: 25**

**Model: htc-m8**

[2017-06-19 15:59] yakov116 commented on #683
![image](https://user-images.githubusercontent.com/16872793/27294184-aeb1d47e-54e6-11e7-94e5-0eb5b177fa6e.png)?

[2017-06-19 16:00] k0shk0sh commented on #683
@yakov116 only FastHub some others nope

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-19 19:42] just-Nob commented on #682
@yakov116,
thx for your hint, I have to have a better investigation before starting ghee next issue.

[2017-06-19 20:23] yakov116 commented on #682
@just-Nob I reported it internally. I didn't make an issue on github.

[2017-06-19 21:28] just-Nob commented on #635
@k0shk0sh, that's really funny... - it works like a charm when starting the search via "your" upper right magnifier icon.

[2017-06-20 00:47] k0shk0sh commented on #635
Well I haven't yet but I'll do today, btw which upper right icon you referring to?

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-20 01:07] #671 closed

[2017-06-20 01:13] #423 closed

[2017-06-20 01:16] eygraber commented on #423
@k0shk0sh does this get deployed somewhere?

[2017-06-20 01:17] k0shk0sh commented on #423
@eygraber yep, we will update readme ASAP to include nightly builds badge

_Sent from my Htc m8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-20 11:14] just-Nob commented on #635
You've got a small video by email. :)
Hope this clarifies what I mean.

[2017-06-20 14:06] cnordhougen opened #688 "Access Token login not working"
**App Version: 3.2.0**

**OS Version: 25**

**Model: asus-Nexus 7**

 When I choose the Access Token login option, I get the exact same prompt as the Basic Auth option, asking for a username and password. When I enter my username & password, it asks for my 2FA code, but always rejects it. If I choose the open in browser OAuth option, I can log in successfully that way, but it never allows me to en

[2017-06-20 14:07] yakov116 commented on #688
@cnordhougen Org?

Please read what it says.

There is no way for us to allow 2FA for orgs since it times out.

[2017-06-20 14:07] #688 closed

[2017-06-20 14:11] k0shk0sh commented on #688
@cnordhougen  as @yakov116 mentioned, using OTP with Access Token will log you out in less than a minute, what I suggest you to do, either go to your github profile/settings/auth apps and there will be a button for you to ask your orgs to allow FastHub to access them, other than that I really don't know what could be possible.

[2017-06-20 14:13] k0shk0sh commented on #688
Please follow up on this https://github.com/k0shk0sh/FastHub/issues/271

[2017-06-20 15:43] k0shk0sh commented on #587
Idk what's up with GitHub, but whenever I mark checkbox as checked leaving and coming back find them still not checked.

[2017-06-21 00:08] tatulpin opened #692 "[Theme] Brighter text for Amlod theme"
Set text (for example in hamburger menu) a little bit more whiter so it'd be a lot easier to read.

[2017-06-21 01:26] k0shk0sh commented on #692
Isn't this clear enough?

![](http://i.imgur.com/rQtM338.png)

_Sent from my Htc m8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-21 03:23] eygraber opened #693 "Can't fully zoom out"
**App Version: 3.2.0**

**OS Version: 25**

**Model: Google-Pixel**

 When viewing code that runs off the end of the screen, I used to be able to zoom out to see the whole thing. Now there's an upper limit on zooming out.

[2017-06-21 03:25] k0shk0sh commented on #693
Didn't really limit it, but its due to the css file that is being used in the new highlightjs library. I'll see what I can do about it.

_Sent from my Htc m8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-21 10:44] igorkulakov opened #694 "No file found"
**App Version: 3.2.0**

**OS Version: 23**

**Model: Xiaomi-Redmi Note 3**

I can not read some files. Gives an error message 'no data available. no file found'. However, the file exists.
Screenshot: https://drive.google.com/file/d/0B4p7bjF5i3nsZlg0U1dvRWs3ZlU/view?usp=drivesdk

_Отправлено с моего Xiaomi Redmi Note 3 с помощью [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess

[2017-06-21 10:51] k0shk0sh commented on #694
Could you tell me more details?

- How you opening the file?
- The file link?

[2017-06-21 13:13] k0shk0sh commented on #683
for reference: GitHub has internally fixed this & therefore its been fixed automatically in FastHub.

[2017-06-21 13:13] #683 closed

[2017-06-21 14:28] igorkulakov commented on #694
I open documentation: https://github.com/yiisoft/yii2/blob/master/docs/guide-ru/README.md
Almost all links do not work.

[2017-06-21 14:40] yakov116 commented on #694
@k0shk0sh @igorkulakov
It looks like this was fixed. It will be in the next release

![image](https://user-images.githubusercontent.com/16872793/27389974-fbe237ce-566d-11e7-8c60-17de182e767c.png)

[2017-06-21 14:41] k0shk0sh commented on #694
There is no fix for this, it should work.
Could you try again?

On Jun 21, 2017 10:40 PM, "yakov116" <notifications@github.com> wrote:

[2017-06-21 14:44] yakov116 commented on #694
@k0shk0sh you are correct I misread his reply

06-21 10:42:57.293 5189-7189/com.fastaccess.github.debug D/OkHttp: <-- 404 Not Found https://raw.githubusercontent.com/yiisoft/yii2/master/start-installation.md (98ms)

[2017-06-21 14:45] yakov116 commented on #694
Why are you not gettinh
https://github.com/yiisoft/yii2/blob/master/docs/guide-ru/start-installation.md?

[2017-06-21 15:06] k0shk0sh commented on #694
https://raw.githubusercontent.com/yiisoft/yii2/master/start-installation.md
This link definitely doesn't work 😥

_Sent from my Htc m8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-21 15:07] yakov116 commented on #694
@k0shk0sh its not supposed to :stuck_out_tongue_winking_eye:

[2017-06-21 16:54] AlexWayfer opened #695 "Excess space after links in Markdown preview"
**App Version: 3.2.0**

**OS Version: 24**

**Model: Sony-E5823**

 Hello!

I don't understand why there is a space after links (last link).

Code:
[code]

Preview:

![](http://i.imgur.com/cs8PV1B.jpg)

_Sent from my Sony E5823 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-21 16:57] k0shk0sh commented on #695
Upon inserting link, new line will be created, however GitHub parse it and made it a space, could you confirm that you manually removed the newline that is inserted upon clicking insert from the dialog?

_Sent from my Htc m8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-21 17:46] AlexWayfer commented on #695
No newline was added, but excess space, but after dot, not before.

![](http://i.imgur.com/5HiWI0v.jpg)

_Sent from my Sony E5823 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-21 20:23] AlexWayfer opened #696 "(Some?) Links don't work in Wiki (Home) page"
**App Version: 3.2.0**

**OS Version: 24**

**Model: Sony-E5823**

 Example: [wireapp/bot-sdk/wiki](https://github.com/wireapp/bot-sdk/wiki)

Right side menu navigation works. But links in the page don't work.

_Sent from my Sony E5823 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-22 01:56] k0shk0sh commented on #695
@AlexWayfer alright I'm abit confused, where is the space you mentioned in the description?

_Sent from my Htc m8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-22 02:00] yakov116 commented on #695
@k0shk0sh After the link of codecov

[2017-06-22 02:01] k0shk0sh commented on #695
@yakov116 in his last pic there is no space after it, but after the dot.

_Sent from my Htc m8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-22 02:03] yakov116 commented on #695
@k0shk0sh he is showing you that n the markdown there is no space. Yet in
the preview there is an extra space

On Wed, Jun 21, 2017 at 10:01 PM, Kosh Sergani <notifications@github.com>
wrote:

[2017-06-22 02:04] k0shk0sh commented on #695
@yakov116 were you able to produce it?

_Sent from my Htc m8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-22 02:06] yakov116 commented on #695
@k0shk0sh let me try

_Sent from my HTC Nexus 9 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-22 02:08] yakov116 commented on #695
@k0shk0sh yes I am
This is in the markdown

![](http://i.imgur.com/AortanG.png)

And this is how it displays it

![](http://i.imgur.com/oTRmy9L.png)

_Sent from my HTC Nexus 9 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-22 07:55] Sparker0i opened #697 "Cannot load teams on my own organisation"
**App Version: 3.1.0**

**OS Version: 25**

**Model: Xiaomi-Redmi Note 3**

I'm the owner of TheAndroidPeople organisation. When I try to view the Teams in my organisation, it pops an error saying that I need admin rights to load teams. C'mon man I'm the owner and it still asks for this permission.

_Sent from my Xiaomi Redmi Note 3 using [FastHub](https://play.google.com/store/apps/details?id=com

[2017-06-22 08:06] k0shk0sh commented on #697
First of all, you are using an outdated version of FastHub. Second, If GitHub said that then it ain't my problem.

you would have been more helpful if you had provided a proper info such as:

1- How did you login?
2- How did you open the Organization.

[2017-06-22 08:29] k0shk0sh commented on #697
Well, I just have create an org, created a team & I could see everything, so i'm really unsure what is going on with you, could you please elaborate?

[2017-06-22 09:41] Sparker0i commented on #697
I'm the owner of TheAndroidPeople org. I can see it on my profile in GitHub inside the browser. But in this app, I can't even see that.

![In the app](http://i.imgur.com/GQWfMNd.png)

![Browser](http://i.imgur.com/jJYZuzS.png)

But even so I'm able to view teams in the browser.

_Sent from my Xiaomi Redmi Note 3 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-22 09:44] Sparker0i commented on #697
I've updated the app now.

How did I login : entering user name and password
How did I open org: didn't show up on my profile in the app, so had to search for the org. The org loaded but teams aren't loading.

_Sent from my Xiaomi Redmi Note 3 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-22 09:45] k0shk0sh commented on #697
Did you read what has been said in the Orgs dialog clicking on (!) icon? if not then please do, also you could refer to #255 #271  in short:

[code]

[2017-06-22 09:45] #697 closed

[2017-06-22 09:48] Sparker0i commented on #697
Fixed

_Sent from my Xiaomi Redmi Note 3 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-23 00:45] woeijiunn88 opened #698 "No starred repositories category?"
**App Version: 3.2.0**

**OS Version: 24**

**Model: asus-ASUS_Z012D**

Is able to add the starred category in sidebar?

_Sent from my Asus ASUS_Z012D using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-23 02:57] k0shk0sh commented on #698
starred category? Do you mean adding the starred to be opened from sidebar?

[2017-06-23 04:57] yakov116 commented on #698
@k0shk0sh I think that's what he means. I would mark it as duplicate

_Sent from my HTC Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-23 05:07] #698 closed

[2017-06-23 06:44] woeijiunn88 commented on #698
Yes, likely mean that, request to add the starred category in sidebar to view the starred repositories.

Hmm... I try to search for this and likely didn't see any duplicate of this...🤔🤔

_Sent from my Asus ASUS_Z012D using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-23 07:29] k0shk0sh commented on #698
#625 same idea .

[2017-06-23 07:40] woeijiunn88 commented on #698
Ok, i see.

_Sent from my Asus ASUS_Z012D using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-23 10:23] nyuszika7h commented on #596
I also have this problem at https://github.com/NyaaPantsu/nyaa/issues/1057 on my Nexus 5X (Android 7.1.2, FastHub 3.2.0).

[2017-06-23 10:25] k0shk0sh commented on #596
@nyuszika7h give it few minutes and try again.

_Sent from my Htc m8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-23 10:26] nyuszika7h commented on #596
OK, will try in a few minutes. (I used OAuth, by the way, and logout & login again didn't help.)

[2017-06-23 10:26] k0shk0sh commented on #596
@nyuszika7h alright thanks, I'll modify the message to show the message that GitHub returned.

_Sent from my Htc m8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-23 10:48] woeijiunn88 commented on #698
Lol, i think that the starred repositories is not available and now I found it in the profile section there... XD

_Sent from my Asus ASUS_Z012D using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-23 10:58] k0shk0sh commented on #698
@woeijiunn88 and I thought u knew about it :p .

All of your stuff are going to be in your profile as well as others too :)

_Sent from my Htc m8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-24 10:55] #692 closed

[2017-06-24 10:59] #444 closed

[2017-06-24 10:59] #507 closed

[2017-06-24 10:59] #587 closed

[2017-06-24 10:59] #693 closed

[2017-06-24 10:59] #694 closed

[2017-06-24 10:59] #696 closed

[2017-06-24 21:26] wasdennnoch opened #699 "Replace "X assigned X bla ago" with "X self-assigned bla ago""
**App Version: 3.2.0**

**OS Version: 25**

**Model: samsung-GT-I9305**

Like on the github website, when you assign an issue to yourself it should say "self-assigned" instead of "you assigned yourself".

[2017-06-24 21:29] yakov116 commented on #699
@k0shk0sh he means the below

![](http://i.imgur.com/0p2zMYo.png)

It should say self assigned.

_Sent from my HTC Nexus 9 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-24 21:31] wasdennnoch commented on #699
Edited the initial message for clarification ;)
Minor thing but I guess you want to get it to be as close as possible to tue website.

[2017-06-25 07:13] cozyplanes opened #700 "[FR] Open corresponding LICENSE file"
---

 - FastHub Version: 3.2.0
 - Android Version: 5.0.1
 - Phone Model: LG F460L (Korea Variant)

There is a license icon in the top of the repo screen next to the pin button.
But it isn't clickable.
How about opening the corresponding license file such as `LICENSE` or `LICENSE.md` when the icon is clicked?

[2017-06-25 09:04] yakov116 commented on #699
I noticed 2 thing when looking at the above. When assigning a label there is an extra space after the name.
Number 2, the "All checks are passes" should say "All checks __have__ passes"

_Sent from my HTC Nexus 9 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-25 09:09] k0shk0sh commented on #699
@yakov116 another thing I noticed is that you referring to an old pic from an old FastHub version which has that label changed 😥

_Sent from my Htc m8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-25 09:12] yakov116 commented on #699
@k0shk0sh look at the labels you assigned in this issue. After your name there is an extra space

_Sent from my HTC Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-25 18:20] vvb2060 opened #701 "issue format when use mail"
When I comment to  issues with mail, the format is abnormal

_The picture has been deleted, please see the explanation below_

---

 - FastHub Version: e35493
 - Android Version: 7.1.2
 - Phone Model: nexus 6p  Stock Rom

[2017-06-25 19:28] eygraber opened #702 "Crash when opening issue from link in commit message"
**App Version: 3.2.0**

**OS Version: 25**

**Model: Google-Pixel**

 If I go to a commit that has links to an issue in its message, and tap one of those links, the issue loads, and then the app crashes.

[2017-06-26 02:26] k0shk0sh commented on #702
Link please

_Sent from my Htc m8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-26 02:28] k0shk0sh commented on #701
What app version are you using? The version showed isn't familiar to me, could you please tell me what app version are u using? And how did you get the app ?

_Sent from my Htc m8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-26 02:29] eygraber commented on #702
https://github.com/k0shk0sh/FastHub/commit/a8aa669c42e7a982990ce427924a1af64821e2b7

[2017-06-26 02:30] k0shk0sh commented on #702
@eygraber got it, Thanks man :) . Fyi: pr reviews are done ;)

_Sent from my Htc m8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-26 02:31] eygraber commented on #702
I saw that in the debug builds. Totally made my week! I really like how it was implemented 😄

[2017-06-26 02:40] k0shk0sh commented on #702
Hmm, due to the list is still being populated for commit files, the app will crash with `TooLargeTransication`  which I got no idea why :D

[2017-06-26 02:40] k0shk0sh commented on #702
If all the files loaded, clicking on link will work. strange :D

[2017-06-26 03:31] #702 closed

[2017-06-26 04:14] vvb2060 commented on #701
git commit: e354939 FastHub Debug version.
I build this version to test the Chinese translation.

This is a newline test.

Kosh Sergani <notifications@github.com>于2017年6月26日周一 上午10:28写道：

[2017-06-26 04:15] k0shk0sh commented on #701
This is a reply from email that is literally stripped out its reply email.

On Jun 26, 2017 12:14 PM, "vvb2060" <notifications@github.com> wrote:

[2017-06-26 04:16] k0shk0sh commented on #701
As you can see from my previous comment, I replied from email and the message got stripped out as per FastHub impl which it does remove the reply at all .

_Sent from my Htc m8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-26 04:23] vvb2060 commented on #701
I mean it will not wrap, instead of not removing the reply

[2017-06-26 04:45] vvb2060 commented on #701
This is because Google Inbox uses Chinese to show and reply, but GitHub does not recognize it. This is known and does not need to care.

[2017-06-26 05:04] k0shk0sh commented on #701
@vvb2060 alright then, can I close this?

_Sent from my Htc m8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-26 05:10] k0shk0sh commented on #702
@eygraber  I assume you have an Enterprise account? Can u join FastHub slack so I could pass u test apk to test it out :p

_Sent from my Htc m8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-26 05:14] eygraber commented on #702
@k0shk0sh I tried to through the app. It says the link expired.

[2017-06-26 05:15] k0shk0sh commented on #702
@eygraber I just implemented it, so haven't committed it yet. Want me to commit so you give it a shot?

_Sent from my Htc m8 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-26 05:33] vvb2060 commented on #701
why close？
I mean Fasthub will not wrap, instead of not removing the reply. You can
compare with the web page.
test

test
test

You look, like this.

Kosh Sergani <notifications@github.com>于2017年6月26日周一 下午1:04写道：

[2017-06-26 05:34] yakov116 commented on #702
@eygraber the link will always expire after 5 min. Just go to app veyor and re-download

_Sent from my HTC Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-26 05:36] yakov116 commented on #701
@vvb2060 it's not possible (or very hard) due to the way the issues are displayed. In order for it to look ok we just removed the bottom portion.

Also if github does not recognize it, how can we?

_Sent from my HTC Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-26 05:53] vvb2060 commented on #701
@yakov116 I just want Fasthub to have the same display as GitHub page
![photo_2017-06-26_13-50-49](https://user-images.githubusercontent.com/26996262/27526152-7f218cdc-5a76-11e7-89dd-78ac91b8a423.jpg)
![photo_2017-06-26_13-47-17](https://user-images.githubusercontent.com/26996262/27526104-110707b8-5a76-11e7-9658-bb57faa42c1d.jpg)

[2017-06-26 06:13] yakov116 commented on #701
@vvb2060 I am saying that that is not possible as of now. Due to the way the issue layout is setup.

_Sent from my HTC Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-26 06:30] eygraber commented on #702
I should've been more specific. I was referring to the slack link.

[2017-06-26 09:25] kutsan commented on #702
@eygraber I updated the link, can you check it out again? Honestly, we are having problem how we would invite people to Slack. Slack doesn't accept public invitations, so we use shared invite link. The problem is, that link always expire after 1 week. Someone needs the updated it.

[2017-06-26 13:15] cozyplanes commented on #443
You mean `multiple accounts`, right?

[2017-06-26 13:40] yakov116 commented on #443
@cozyplanes yes

_Sent from my HTC Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-26 13:41] k0shk0sh commented on #443
@yakov116 multiple accounts will be worked on very soon :)

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-26 15:20] k0shk0sh commented on #699
its going to be something like

k0shk0sh assigned **self** bla time :p

[2017-06-26 15:28] yakov116 commented on #699
@k0shk0sh
"Name" self assigned is the correct way to say it

_Sent from my HTC Nexus 9 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-26 15:35] k0shk0sh commented on #699
alright, you got it 😞

[2017-06-26 15:38] k0shk0sh commented on #699
![](http://i.imgur.com/q7yBc75.png)

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-26 15:43] wasdennnoch commented on #699
It's actually self-assigned with a dash.

[2017-06-26 15:44] yakov116 commented on #699
@k0shk0sh self assigned is bolded because?

_Sent from my HTC Nexus 9 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-26 15:44] k0shk0sh commented on #699
@yakov116 removed, @wasdennnoch done

[2017-06-26 15:45] wasdennnoch commented on #699
"this" is still missing :P
![](http://puu.sh/wuME6/78909ff35d.jpg)

[2017-06-26 15:46] k0shk0sh commented on #699
`spannableBuilder.append("self-assigned this");`

[2017-06-26 15:46] wasdennnoch commented on #699
`R.string.self_assigned` pls

[2017-06-26 15:48] k0shk0sh commented on #699
@wasdennnoch nope, learned that the hard way, I shouldn't let people translate these GitHub stuff, I will really have hard time removing the translation myself.
![](http://i.imgur.com/GuhGCaw.png)

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-26 15:49] wasdennnoch commented on #699
Alright then, I'm happy now ^^

[2017-06-26 16:02] yakov116 commented on #699
@k0shk0sh iI will try to be happy with this :wink:

_Sent from my HTC Nexus 9 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-26 22:14] joe2k01 opened #703 "Crash on empty repo"
**App Version: 2.5.3**

**OS Version: 25**

**Model: samsung-SM-T813**

 Hi, I just found out that opening an empty repo results in a crash. The app recognizes that the repo is empty creating a toast but then crashes. If you need a log tell me what do I have to grep in logcat

_Sent from my Samsung SM-T813 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-26 22:17] joe2k01 commented on #703
Upgrading to latest version fixes the issue. You should update the apk in XDA labs

_Sent from my Samsung SM-T813 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-27 02:19] k0shk0sh commented on #703
@joe2k01 we have problems updating apk in XDA #yakov16

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-27 03:39] chamini2 opened #704 "Won't mark notification as read"
**App Version: 3.2.0**

**OS Version: 25**

**Model: LGE-Nexus 5X**

 I have the settings to __not__ mark as read notifications when I click on them. That way I can check them out and still have them when I reach a desktop version of GitHub.

The problem is that sometimes I want to mark a notification as read because I don't have to see it when I get to the desktop, so I press the ☑️ to mark it an

[2017-06-27 03:42] k0shk0sh commented on #704
Good catch :) I already fixed that

[2017-06-27 03:44] chamini2 commented on #704
Will be available in the next release?

_Sent from my LGE Nexus 5X using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-27 03:45] k0shk0sh commented on #704
Definitely :)

[2017-06-27 03:47] chamini2 commented on #704
Closing then! 🙃

_Sent from my LGE Nexus 5X using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-27 03:48] k0shk0sh commented on #704
with a commit :p

[2017-06-27 03:48] k0shk0sh commented on #704
the reason I want to close it with a commit, is because the changelog :D

[2017-06-27 03:49] chamini2 commented on #704
I thought you had already fixed it during the last week. I understand now.

_Sent from my LGE Nexus 5X using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-27 03:54] k0shk0sh commented on #704
I just fixed it :p

[2017-06-27 06:32] yakov116 commented on #703
@joe2k01 XDA is having issues with any app that has been compiled with Android Studio 3.0. They are working on a fix.

For now you can download from GitHub the latest

_Sent from my HTC Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-27 08:56] talhacohen opened #705 "Share URL is using generic text/* type instead of text/plain"
In shareUrl@HelperActivity the save intent is using the generic MIME Type text/* instead of indicating text/plain.

It doesn't have any major effect, though it's cleaner and the type should indicate what you are sharing.
(In addition, it's possible to add the title of the link that is shared)

[2017-06-27 09:00] k0shk0sh commented on #705
Hey thanks for reporting this, wouldn't specifying the file as text will eliminate some apps from appearing? For example if some app listening to `.java` and the file you shared is a Java a file would the app ever be able to receive the intent?

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-27 09:11] talhacohen commented on #705
Hey, true it will eliminate some apps (I haven't thought about it).
Maybe I miss something, but you are not sharing the URL itself and not the java file, will an app that listens to .java will know how to handle it? wouldn't it be as EXTRA_STREAM as a file?

[2017-06-27 09:15] k0shk0sh commented on #705
@talhacohen yep, you're right, only urls that I'm sharing, would you like to submit a PR with the changes? Or should I proceed with changing it?

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-27 09:15] talhacohen commented on #705
I'll send a PR later today.
Thanks!

[2017-06-27 09:16] k0shk0sh commented on #705
@talhacohen alright thanks :)

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-27 09:34] yakov116 commented on #705
@k0shk0sh does this have to do with #489?

_Sent from my HTC Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-27 09:43] #703 closed

[2017-06-27 09:44] k0shk0sh commented on #705
@yakov116 nope, unrelated.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-27 14:19] zvirja opened #706 "First comment date is displayed wrongly"
I've noticed the date of the first comment is displayed wrongly and equals the date of the last comment. Also, likely, it's marked as updated, even if GitHub UI doesn't show that.

For instance:
![photo_2017-06-27_17-06-26](https://user-images.githubusercontent.com/1074182/27591669-0e347184-5b5b-11e7-82e4-897a0af5caf8.jpg)

It looks like I've updated the first comment a few minutes ago, however th

[2017-06-27 14:22] k0shk0sh commented on #706
This is a test comment

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-27 14:23] k0shk0sh commented on #706
Yeep, it seems like the updated date is actually when something happened to the issue and not like editing the issue itself, I guess the best thing to do, just remove the checking for the pr/issue detailes.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-27 18:57] chamini2 commented on #704
I'm not sure I understand, there was no commit

[2017-06-27 18:58] yakov116 commented on #704
@chamini2 He will close the issue when he commits. (Prob. tomorrow morning)

Thanks for your feedback

[2017-06-27 19:21] IzzySoft commented on #567
@k0shk0sh Just to let you know: I've opened an [issue on fdroidserver](https://gitlab.com/fdroid/fdroidserver/issues/322) on the topic. Let's see where that brings us.

[2017-06-27 20:26] AndreaCioccarelli opened #708 "Bug | Progress bar bug when loading missing README.MD"
**App Version: 3.2.0**

**OS Version: 24**

**Model: samsung-SM-G950F**

 If a repo have not README.md, you will get a empty progress bar, and an empty page. To fix check if the repo have a readme. Then if a readme cannot be parsed FastHub should load a dedicated image to explain at the user the problem

[2017-06-27 20:28] yakov116 commented on #708
@AndreaCioccarelli Thanks for reporting!

@k0shk0sh #613 was probably the cause

[2017-06-27 23:26] k0shk0sh commented on #704
@chamini2 haven't committed yet :p

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-27 23:27] #705 closed

[2017-06-27 23:57] k0shk0sh commented on #567
@IzzySoft glad to hear that :)

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-28 08:29] ozcaan11 opened #710 "Refresher circle(or icon) not stopped"
**App Version: 3.2.0**

**OS Version: 25**

**Model: General Mobile-General Mobile 4G**

 At notification > all tab the refresher icon doesnt stop

_Sent from my General Mobile 4G using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-28 08:30] k0shk0sh commented on #710
Noticed that yesterday and fixed it, will close this with my next commit.
Thanks

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-28 08:32] ozcaan11 commented on #710
Ok 👍

[2017-06-28 13:52] #699 closed

[2017-06-28 13:52] #706 closed

[2017-06-28 13:52] #710 closed

[2017-06-28 13:54] k0shk0sh commented on #704
this fixed with 54115508f5b9b0837de55430004b5bd9f9cef170

[2017-06-28 13:54] #704 closed

[2017-06-28 15:05] k0shk0sh commented on #708
@yakov116 what 613 has to do with this?

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-28 15:15] yakov116 commented on #708
@k0shk0sh prob when you removed the toast this happened

[2017-06-29 12:39] k0shk0sh commented on #708
@yakov116 I guess you were right.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-29 12:49] yakov116 commented on #708
@k0shk0sh as always :)

_Sent from my HTC Nexus 9 using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-29 13:20] AndreaCioccarelli opened #711 "License menu item link"
**App Version: 3.2.0**

**OS Version: Nougat 7.0**

**Model: samsung-SM-G950F**

You can add a touch listener on the license item that will redirect the user at the repository's license file
It will simplify license search, it would be very useful

![](http://i.imgur.com/JgvOZul.jpg)

[2017-06-29 13:20] #711 closed

[2017-06-29 13:21] AndreaCioccarelli commented on #711
Duplicate of #700

[2017-06-29 14:29] yakov116 opened #712 "Show owner and Original Poster"
**App Version: 3.2.0-debug**

**OS Version: 25**

**Model: unknown-Android SDK built for x86**

 ![image](https://user-images.githubusercontent.com/16872793/27692125-ed0c4900-5cb3-11e7-9579-29f32af39d5d.png)

![image](https://user-images.githubusercontent.com/16872793/27692147-f691d454-5cb3-11e7-8292-ff76ac2dfe5c.png)

![image](https://user-images.githubusercontent.com/16872793/27692154-fb0a6c26-5

[2017-06-29 20:21] wasdennnoch commented on #712
Alright.

[2017-06-29 20:26] yakov116 commented on #712
@wasdennnoch 😄
Its an emulator

[2017-06-29 20:47] yakov116 commented on #712
Cxz

_Sent from my Android Emulator using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-29 20:56] wasdennnoch opened #714 "[FR] Indicate in bell icon if you have notifications"
**App Version: 3.2.0**

**OS Version: 25**

**Model: samsung-GT-I9305**

Currently when you open the app the bell icon in the toolbar which takes you to the notifications always looks the same; it would be nice if it was filled out when there is a new notification.
(I have "real" notifications disabled but it seems the app already loads them on startup anyways so it could indicate in the icon if i

[2017-06-29 20:58] yakov116 commented on #714
@wasdennnoch its there (I think so) but sometimes it works and sometimes not. Can't figure out when or why.
Maybe since you have them disabled it doesn't show

[2017-06-30 04:07] wasdennnoch commented on #714
I enabled them yesterday when you replied to me and I got the notification but no icon indicator, so yeah, seems to be pretty inconsistent if it's already there.

[2017-06-30 04:10] k0shk0sh commented on #714
@wasdennnoch it won't indicates that you notifications in real time since you already have indication in the notifications panel, however if you lets say you got notifications and u didn't mark them as read or open them, opening the app will highlight the icon.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-30 04:11] k0shk0sh commented on #714
https://github.com/k0shk0sh/FastHub/blob/185b0d05b7b2469ce2790ae91f730b30757f3592/app/src/main/java/com/fastaccess/ui/modules/main/MainActivity.java#L91-L91

[2017-06-30 04:11] #714 closed

[2017-06-30 04:34] wasdennnoch commented on #714
As I said it doesn't always seem to work; if I have notifications disabled it doesn't know if there are any in onInflateOptionsMenu. Ideally it should check for notifications in the background when I launch it and when that's finished show the result. I don't know if you're already doing that since I don't have time to look into the code right now, but it doesn't seem that way.

[2017-06-30 04:35] k0shk0sh commented on #714
@wasdennnoch no api calls involved in this, simply it goes into the local db and check, besides you disabled the notifications so I bet nothing is being saved locally thats unread.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-30 04:37] wasdennnoch commented on #576
Just wondering, in which version did that get fixed? I still see the line breaks in many repos.

[2017-06-30 04:38] wasdennnoch commented on #714
It should so the API call when it gets launched then.

[2017-06-30 04:40] k0shk0sh commented on #576
Along time ago? Can't remember, can you screen shot what you still seeing?

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-30 04:43] wasdennnoch commented on #576
Literally the first repo I opened.

![](http://i.imgur.com/eyzwbTw.png)

[2017-06-30 04:45] wasdennnoch commented on #714
Btw I just got a notification (enabled the real ones) and it still didn't indicate that.

[2017-06-30 04:47] k0shk0sh commented on #714
@wasdennnoch as I mentioned its not in real time, close & open app it will be highlighted. I don't see aby reason for it to call any api, since the notification panel is clearly good enough.

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-30 04:48] k0shk0sh commented on #576
@wasdennnoch 😁, it seems like somehow I reverted the change or something went nuts, just redid it again

_Sent from my Samsung SM-G950F using [FastHub Debug](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-30 04:50] wasdennnoch commented on #714
_But if xou have them disabled to save the battery of your crappy phone since the app can't use GMS I don't have any good notifications._

And where's the problem updating the icon as soon as it detects notifications?

Whatever.

[2017-06-30 04:53] k0shk0sh commented on #714
@wasdennnoch first there is no way I can detect that there is a notification since I have no control over GitHub, second, even if let's say I made an api call when you open the app but a minute after you got a notification, still we will go to point zero which it will not show. You always can go to notifications to check, matter of fact you don't need too, since you will also receive an email indi